[2015-04-24 06:23] #348 closed, assigned to nobody

[2015-04-27 22:30] miguelnmiranda opened #352 "'public static final' exceptions render stack trace useless"
In ConnectionPoolImpl.java PoolExhaustedException is 'stored' as a static final field.

[code]

This means that the stack trace displayed when you throw the exception refers to when ConnectionPoolImpl was first instantiated and not to the actual occurrence of the exception.
Is this a consequence of using Rx? Is there a way of getting more info around the state of the system when the exception occu

[2015-04-29 12:22] gfrison opened #353 "configure http client through proxy"
Hi all,

How can I configure the client to pass through an http proxy?

Thank you,

[2015-04-29 16:36] NiteshKant commented on #353
@gfrison can you elaborate more on your question. What do you otherwise do using any other library for this usecase?

[2015-04-29 23:23] NiteshKant commented on #352
@miguelnmiranda It isn't really a consequence of using Rx but the validity/usefulness of stacktrace in an asynchronous application and (possibly premature) optimization of reducing the overhead of creating a stacktrace when it has limited meaning.

What other information are you looking for?

[2015-04-30 07:29] gfrison commented on #353
Hello,

I'm creating a general purpose library based on rxnetty, or at least I would like that it will be based on rxnetty, so why I am asking whether it is possible to consume remote http services through a proxy.
I got the error:
NoRouteToHostException: No route to host: ...

the remote service is reachable with :
new URL(url).openConnection(proxy).connect();
or alternatively setting https.proxy

[2015-04-30 14:31] johanhaleby commented on #239
@thaggie Did you get this to work?

Why does it have to be more complicated with RxNetty than with Apache HttpClient? Apache works out of the box with SSL and it doesn't use a "TRUST ALL" SSL engine afaik. I'm thinking about switching to http client instead because of this.

[2015-04-30 14:43] johanhaleby commented on #239
I've managed to get it working by supplying an instance of this class:

[code]

Not sure if it's safe for production though.

[2015-05-01 05:31] NiteshKant commented on #353
I see. Nope, we haven't got a usecase for it and hence I have never researched how to do it via netty. If you have a usecase and bandwidth, feel free to send a PR or discuss a solution it in this issue.

[2015-05-01 21:32] miguelnmiranda commented on #352
@NiteshKant You are right, the meaning of a stack trace in an asynchronous application is very limited.
And my question was put out there out of frustration for not having any context of what the system looked like when the exception was 'thrown'.

What information is relevant really depends on the context. On my case it end up being a memory problem, or lack of it. But what bothered me at the tim

[2015-05-05 21:43] NiteshKant commented on #352
@miguelnmiranda I will change this instance of cached exception to be created on demand. I agree it is misleading, whenever caching exception (when required), the stacktraces should atleast be truncated so that it is not confusing.

[2015-05-05 21:45] NiteshKant commented on #311
This was fixed in 0.4.5

[2015-05-05 21:45] #311 closed, assigned to nobody

[2015-05-05 22:02] NiteshKant opened #354 "Unique attribute key name clash"
`ClientRequestResponseConverter` uses statically created `AttributeKey` instances [here](https://github.com/ReactiveX/RxNetty/blob/0.x/rxnetty/src/main/java/io/reactivex/netty/protocol/http/client/ClientRequestResponseConverter.java#L84) which will cause issues in few cases:
- If the handler is loaded in multiple classloaders.
- If the handler is in a shaded rxnetty jar.

The error stack will be s

[2015-05-05 22:02] NiteshKant opened #355 "Upgrade to netty 4.0.27.Final"
Issue #354 is fixed in netty 4.0.27.Final

[2015-05-06 05:32] #344 closed, assigned to nobody

[2015-05-06 05:32] #352 closed, assigned to nobody

[2015-05-06 05:32] #354 closed, assigned to nobody

[2015-05-06 05:32] #355 closed, assigned to nobody

[2015-05-08 00:54] whybe opened #357 "LEAK: ByteBuf.release()"
I made a simple tcp server using `rxnetty 0.4.8` like below source code.

[code]

On advanced leak mode.

[code]

[2015-05-08 06:30] NiteshKant commented on #357
Thanks @whybe for reporting. Yeah there seems to be a leak in [ByteArrayPipelineConfigurator](https://github.com/ReactiveX/RxNetty/blob/0.x/rxnetty/src/main/java/io/reactivex/netty/pipeline/ByteArrayPipelineConfigurator.java#L42) where in it is not releasing the `ByteBuf` received and not passed forward. I will fix the leak.

[2015-05-14 02:00] mikaelhg commented on #292
I suppose one workaround might be to set up a separate build and publish infrastructure to automatically create a importable POM that has the kind of scope settings every other project has. Would that be a good use of effort?

[2015-05-15 05:47] #357 closed, assigned to nobody

[2015-05-15 05:48] NiteshKant commented on #333
Backpressure is implemented in 0.5.0, closing this issue.

[2015-05-15 05:48] #333 closed, assigned to nobody

[2015-05-15 14:52] victuxbb commented on #130
Hi @NiteshKant, is this bug fixed?
I'm trying to do a:

[code]

And I recived:

[code]

Searching in google about karyon and response "chunked" I came here...

Thanks!

[2015-05-19 17:37] NiteshKant commented on #130
@victuxbb Can you share your server code?

For apache-bench, you would have to set the content-length header in your response, as it does not handle chunked encoding.

[2015-05-20 08:55] victuxbb commented on #130
Ok ok sorry for the confusion, like you say it's a problem with "ab" about not handling chunked responses

Thanks for the clarification :+1:

[2015-05-29 23:10] NiteshKant commented on #202
This is fixed for 0.5.x, an example of this is available [here](https://github.com/ReactiveX/RxNetty/blob/0.5.x/rxnetty-examples/src/main/java/io/reactivex/netty/examples/http/ws/echo/WebSocketEchoServer.java) and following is the relevant section:

[code]

[2015-05-29 23:10] #202 closed, assigned to nobody

[2015-05-29 23:10] NiteshKant commented on #281
Available in 0.5.x branch

[2015-05-29 23:10] #281 closed, assigned to NiteshKant

[2015-05-29 23:11] NiteshKant commented on #264
Available in 0.5.x branch

[2015-05-29 23:11] #264 closed, assigned to NiteshKant

[2015-05-29 23:11] NiteshKant commented on #280
Available in 0.5.x branch

[2015-05-29 23:11] #280 closed, assigned to NiteshKant

[2015-05-29 23:11] NiteshKant commented on #282
Available in 0.5.x branch

[2015-05-29 23:11] #282 closed, assigned to NiteshKant

[2015-05-29 23:11] NiteshKant commented on #303
Available in 0.5.x branch

[2015-05-29 23:11] #303 closed, assigned to NiteshKant

[2015-05-29 23:11] NiteshKant commented on #307
Available in 0.5.x branch

[2015-05-29 23:11] #307 closed, assigned to NiteshKant

[2015-05-29 23:12] NiteshKant commented on #325
remote-observables are removed in 0.5.x

[2015-05-29 23:12] #325 closed, assigned to NiteshKant

[2015-05-29 23:14] NiteshKant commented on #125
@chen56 0.5.x supports a way to look at the HTTP request before accepting a websocket upgrade

[2015-05-29 23:14] #125 closed, assigned to nobody

[2015-05-29 23:15] NiteshKant commented on #52
Won't fix this. URI is built and sent to the HTTP client.

[2015-05-29 23:15] #52 closed, assigned to nobody

[2015-05-29 23:17] NiteshKant commented on #91
0.5.x cleans up the interaction model with HTTP response. There were issues in the API earlier where someone can set headers -> write content -> update headers. The second update of headers would not work as the headers are already sent.

In 0.5.x, after writing the content, headers updates are not allowed.

[2015-05-29 23:17] #91 closed, assigned to nobody

[2015-05-29 23:18] NiteshKant commented on #137
Fixed with 0.5.x

[2015-05-29 23:18] #137 closed, assigned to nobody

[2015-05-29 23:23] NiteshKant commented on #203
0.5.x has on-demand read (#324) and no auto-release of `ByteBuf`, so a receiver can hold on to the `ByteBuf` as long as it wants.

[2015-05-29 23:23] #203 closed, assigned to nobody

[2015-05-29 23:24] NiteshKant commented on #191
0.5.x supports use of `SocketAddress` on both client and server

[2015-05-29 23:24] #191 closed, assigned to nobody

[2015-05-29 23:25] NiteshKant commented on #31
This will be covered by #286. Closing this as duplicate.

[2015-05-29 23:25] #31 closed, assigned to nobody

[2015-05-29 23:26] NiteshKant commented on #232
0.5.x provides ways to directly add a `ChannelHandler` to a client/server

[2015-05-29 23:26] #232 closed, assigned to nobody

[2015-05-29 23:27] NiteshKant commented on #312
0.5.x has no `UnicastContentSubject` and no unnecessary buffering of data.

[2015-05-29 23:27] #312 closed, assigned to nobody

[2015-05-29 23:30] NiteshKant commented on #213
`RxNetty.createHttpGet` methods had various limitations and has been removed in 0.5.x. I believe this issue would not exist with 0.5.x, if it does, please reopen

[2015-05-29 23:30] #213 closed, assigned to nobody

[2015-06-03 02:44] chen56 commented on #202
@NiteshKant When can release the 0.5 version, I have been waiting for a long time

[2015-06-03 02:46] chen56 commented on #125
@NiteshKant Thank you, waiting for your release 0.5

[2015-06-03 04:45] NiteshKant commented on #202
@chen56 0.5.x is a major release, most of the parts of rxnetty have been re-worked, that is the reason for the delay. I am expecting to release a snapshot next week.

[2015-06-12 12:39] gfrison commented on #353
Hello,

netty 4.1 carry a handler-proxy module.
Is there any plan to integrate netty 4.1?

Thank you,

[2015-06-14 09:56] NiteshKant commented on #340
PR #366 takes a different approach than discussed in this issue of providing an abstraction of a `ConnectionProvider` which can be used either to provide a connection pool implementation (provided out of the box) or to create a Load Balancer. I have added an example [here](https://github.com/NiteshKant/RxNetty/blob/0.5.x/rxnetty-examples/src/main/java/io/reactivex/netty/examples/http/loadbalancing

[2015-06-15 19:49] #340 closed, assigned to nobody

[2015-06-15 19:57] NiteshKant opened #367 "(0.5.x) Add events related to backpressure"
To provide insights into demand-supply for read and write on a connection, there should be event callbacks that would give insight into this demand and supply calls. This would be pretty useful as mismatched demand and supply can either cause the connection to look hung or blow up with `MissingBackpressureException`

[2015-06-15 20:04] NiteshKant opened #368 "Remove `HttpClientRequestUpdater` for now."
`HttpClientRequestUpdater` as discussed in issue #303 was an attempt to batch multiple updates on the same Client request to reduce object allocation overhead as each mutation makes a copy of the request.

At this point it is not implemented and I think we need to discuss this more in terms of whether it adds value or we can optimize the heavy copying (eg: headers) to reduce API surface area and n

[2015-06-16 08:54] gfrison commented on #353
Hello,

for perform an https request through a proxy I have firstly to CONNECT to the proxy and when I got the '200 Connetion Established' I have to start the SSL handshake.
Is it possible to do it configuring a proper ClientChannelFactory in order to perform the CONNECT in plain http, and then leave everything else to the SslEngineFactory?

I mean an example like this:
cb = RxNetty.<ByteBuf, Byte

[2015-06-17 19:16] santiagopoli opened #370 "Memory leak"
Hi! I'm getting a memory leak in RXNetty.
When I test my server with AB, I get this log:

[code]

After a series of tests, my server starts throwing this exception for every request:

[code]

My code is very simple (I will put only the relevant methods):

[code]

To get a user, I do a HTTP Request to other service, with this code:

[code]

(Where **uri** is the endpoint related to the user)

After

[2015-06-17 20:22] santiagopoli commented on #370
VisualVM:

![screenshot from 2015-06-17 17 21 27](https://cloud.githubusercontent.com/assets/759695/8217712/6bee6412-1515-11e5-824b-60e3d35167ee.png)

[2015-06-18 19:54] NiteshKant commented on #370
@santiagopoli there are two issues here:
- The ByteBuf leak. Glancing at code does not show a leak although I see there are parts of code which are missing. If you enable advance leak reporting, you can see which part of the code is leaking memory.
- High memory consumption by PoolThreadCache. This is because you are using `.withRequestProcessingThreads(THREADS)` and `response.writeString()`. The

[2015-06-18 20:52] santiagopoli commented on #370
My code is totally asynchronous, so I'm not doing any blocking call at all.
I have set the  .withRequestProcessingThreads with my actual quantity of
cores (4) because I supposed it was the right thing to do. Do you recommend
not using that property?

2015-06-18 16:54 GMT-03:00 Nitesh Kant notifications@github.com:

##

Santiago Poli

[2015-06-18 20:55] santiagopoli commented on #370
Not setting any additional request processing threads hasn't changed
anything. Thanks for your response though!!

Setting the Leak Detector to ADVANCED show this:

[code]

[2015-06-18 22:01] NiteshKant commented on #370
Not even the memory hog of `PoolThreadCache` as you showed with the VisualVM output?

You need `.withRequestProcessingThreads` only if you are doing CPU intensive processing, it moves your processing off the eventloop.

Looks like the leak is from the Http Object aggregator, are you adding this in your client?

[2015-06-19 13:50] santiagopoli commented on #370
My client is very, very simple:

[code]

The service calls getUsers(). which does **n** HTTP Requests (one request per ID provided) and aggregate the results. The call is made using **RxNetty.createHttpGet()**
This is obviously a test project and it will not go to production, but I'm trying to do tests with remote calls to other services via RxNetty, so this is a good way to do it.

Thanks!

[2015-06-23 23:23] #368 closed, assigned to nobody

[2015-06-23 23:44] NiteshKant opened #372 "Port contexts module to 0.5.x"
[rxnetty-contexts](https://github.com/ReactiveX/RxNetty/tree/0.4.x/rxnetty-contexts) module is not yet available in 0.5.x.

[2015-06-23 23:45] NiteshKant opened #373 "Port UDP implementation to 0.5.x"
UDP client and server are not available yet in 0.5.x

[2015-06-24 02:12] NiteshKant opened #374 "Port File serving to 0.5.x"

[2015-06-25 12:58] hovsater opened #375 "Override DefaultErrorResponseGenerator"
So RxNetty ships with a `DefaultErrorResponseGenerator` that handles errors that might occur. How would I go about overriding it so I can handle the errors instead?

I already have behaviour for how to handle unexpected errors and I want to return JSON if something unexpected happens.

Edit: I just noticed the methods `.withErrorHandler()` and `.withErrorResponseGenerator()`. I'm guessing those wi

[2015-06-25 19:15] NiteshKant commented on #375
Correct.

FYI: Starting [0.5.x](https://github.com/ReactiveX/RxNetty/wiki/0.5.x-FAQs), these methods are removed and a more idiomatic way via `Observable.onErrorResumeNext()` within your `ConnectionHandler`/`RequestHandler` will be the way of sending default error responses.

[2015-06-25 19:15] #375 closed, assigned to nobody

[2015-06-26 09:44] Crystark commented on #154
+1

I just wanted to switch from ning's async-http-client to RxNetty and found out I couldn't just use my URL as i did before.
That's what I had:

[code]

And I tried to replace it with the quite similar:

[code]

But I ran into that problem: the received URI is `http://server/myendpoint` instead of the expected `myendpoint`.
Any plans on fixing this ? Or at least a workaround that doesn't require

[2015-06-26 16:48] NiteshKant opened #376 "Provide a way to get all headers from a `HttpClientRequest`"
###### Version: 0.5.x

Similar to `HttpClientResponse.headersIterator()` there should be a way to get all headers for a client request.

[2015-06-26 22:15] NiteshKant opened #377 "HttpClient should add the Host header for every request."
###### Version: 0.5.x

Some servers are very strict in checking whether the request contains a Host header or not so we should be adding a Host header for all requests, unless, it already exists.

[2015-06-26 22:21] NiteshKant opened #378 "Inappropriate `WebSocketResponse` upgrade check"
In order to check if the server accepted a websocket upgrade, `WebSocketResponse` does the following check:

[code]

The `containsHeader` methods delegates the check to netty's header implementation that does a case sensitive check even for header names. So, for cases when the names do not match the header names, the check above incorrectly fails. We should do a case insensitive match here.

[2015-06-26 23:31] brharrington opened #380 "avoid use of setXxx method names for immutable objects"
In 0.5.x the HttpClientRequest and possibly some of the other immutable objects have methods with the `setXxx` pattern that actually return a copy. Given how common the java bean conventions are I think this makes it confusing as to what is actually happening when reading the code.

I'm proposing `withXxx` instead. This pattern is used in other common java libraries for immutable objects notably j

[2015-06-30 15:31] gfrison commented on #353
I tried and works with v0.5.0:
HttpClient.newClient("target host", target port)
                .unsafeSecure().createPost("target url")
                                .addChannelHandlerFirst("proxy",    () -> new HttpProxyHandler(new InetSocketAddress("proxy host", proxy port)))

HttpProxyHandler is in netty-handler-proxy >4.1.0

unfortunately 4.1.0 is still in beta.
I noticed that 70% of issues

[2015-06-30 15:34] OskarKjellin opened #382 "Seeing weird occasional response times"
Hi,

I'm seeing some response times that cannot be expected (around 1 second occasionally). Started seeing these on our regular tests with our services even with really low concurrent requests. Bumping up the number of concurrent requests even above 10 starts to give a lot of timeouts.

I managed to make a small example to reproduce it and I see the high response times even with only 1 thread send

[2015-06-30 18:18] NiteshKant commented on #353
@gfrison that is good news :)

I do not have a real idea of when will I be releasing 0.5.0 as it totally depends on testing and stabilization cycles. I do think that I can release a candidate in a month.

[2015-06-30 20:48] NiteshKant commented on #382
@OskarKjellin If you change your code to not use `.toBlocking()` you will see that the response times are much lower.

[code]

By using `.toBlocking()` you are only sending one request at a time and hence not utilizing the parallelism in the system ( > 1 eventloops).

I am closing this issue, if you think it is still an issue, feel free to reopen.

[2015-06-30 20:48] #382 closed, assigned to nobody

[2015-06-30 20:50] OskarKjellin commented on #382
@NiteshKant I will check more in detail tomorrow. I am not using `toBlocking()` in the original place where I found this so I will need to find out another example not using  `toBlocking()` that can reproduce it then.

[2015-06-30 21:06] OskarKjellin commented on #382
Even if I am using toBlocking and sending 1 request at a time, should I still be getting that high response times? I mean, 1 concurrent request should never lead to response times as what I am seeing (around 1 second)

[2015-07-01 08:16] OskarKjellin commented on #382
@NiteshKant I think your test is quite broken unfortunately. It does not wait for all the requests to arrive before it quits and it still shows very high response times (I think over 1 second for local requests is very high?). It's funny though. Adding more threads sending requests seem to provide better response times. But I am still wondering why my single thread tests are performing so badly.

[2015-07-01 08:42] OskarKjellin commented on #382
@NiteshKant Whenever I see high response times in our real environment there's usually a huge gap from the time we kick off the execution of the observable until netty has logged the WRITE request. Does that sound right? Only sending three concurrent requests we get 800 MS from when we observe the event until it has been written.

When logging out all responsetimes of the sample code above I get r

[2015-07-01 11:31] OskarKjellin commented on #382
@NiteshKant The plot thickens. It seems like they all happen within a small range of milliseconds of seconds (though an arbitrary number of seconds in between). Could it be some kind of connection that is slow and it occurs when the connection is released?

[code]

Sorry for spamming. Been at this for a couple of days and tried almost every way I find but I cannot seem to get it to perform.

[2015-07-01 13:22] OskarKjellin commented on #382
Okay, sorry for spamming like this but I found something even more peculiar. If I change to your style of doing `doOnCompteted()`it performs as expected. Changing that to `doOnNext()` I see the same occasional high response times.
Example code below:

This shows some very slow response times:

[code]

This runs as fast as expected

[code]

[2015-07-01 22:36] NiteshKant opened #384 "Split into protocol specifc modules"
Today, all protocols are bundled into a single module. Over time, this can explode the dependency tree as we add new protocols.
Once, we do this, we can also break the modules as different projects having different release cycles.

As of today, I see the following modules:
- **rxnetty-core** (Common functionality for all protocols)
- **rxnetty-tcp**
- **rxnetty-http** (HTTP 1.1/2.0, WS)
- **rxnett

[2015-07-02 01:52] NiteshKant commented on #154
@Crystark passing the host in the URI works only for "external" endpoints or endpoints published via DNS. For target servers that are discovered via service discovery in microservices based architectures, usually use a client-side load balancer to choose the best host for a request and the URIs are just relative (excluding the scheme, host and port info).

For this reason, in the [next release (0.

[2015-07-02 01:52] #154 closed, assigned to nobody

[2015-07-02 01:52] NiteshKant commented on #377
Fixed and available in the current snapshot.

[2015-07-02 01:52] #377 closed, assigned to NiteshKant

[2015-07-02 01:52] NiteshKant commented on #378
Fixed and available in the current snapshot.

[2015-07-02 01:52] #378 closed, assigned to nobody

[2015-07-02 01:53] NiteshKant commented on #326
This code path is removed in 0.5.x

[2015-07-02 01:53] #326 closed, assigned to nobody

[2015-07-02 07:47] Crystark commented on #154
@NiteshKant Just so i'm sure I understand what you're saying, you're completely removing the ability for someone to create an http request using an absolute URI ? I understand your point and I don't mind adapting my code to that but that means you're dropping the convenient helpers that allow you to easily call an "external" endpoint. Why not keep that so that anyone who wants to switch to RxNetty

[2015-07-02 08:21] luckyswede commented on #382
I'm having the same issue, occasional long response times.
Using latest code.
I'm not using toBlocking

[2015-07-02 09:24] OskarKjellin commented on #382
@NiteshKant added my own metricsEventListener to see if I can find any events when this happens. Every time i have a high time for the requests I see a big gap between two events right next to eachother. FlushStart and BytesRead:

[code]

[2015-07-02 20:54] NiteshKant commented on #384
\cc @pieces029 @daschl @benjchristensen

[2015-07-02 22:46] #376 closed, assigned to NiteshKant

[2015-07-02 22:54] brharrington opened #386 "allow MetricEventsListener to be specified for a particular request"
If issuing many requests with the same client it can be difficult to understand what is going on with a particular request. For debugging it might be useful if we could selectively choose to register a `MetricEventsListener` for a particular request to trace the events for that specific request.

[2015-07-03 08:46] daschl commented on #384
I certainly +1 the idea, it will make it easier for other protocols to adopt!

[2015-07-03 08:49] OskarKjellin opened #387 "When running very few requests with a subscription onNext sometimes, requests have an overhead of about 1 second"
Creating a new ticket as the previous one was closed and there's no way for me to reopen it.

When we're testing out RxNetty we're getting some very unstable response times that sometimes reach a  factor of about 100 times slower than they should be. From what we can see from the logs, the request is not even sent until a couple of hundred milliseconds later. If we up the number of threads sending

[2015-07-03 12:02] AndrewReitz commented on #384
+1 it will help reduce the amount of dependencies (and keep the method count down) in Android projects.

[2015-07-07 17:54] NiteshKant commented on #387
@OskarKjellin Can you also record the events: FlushSuccess, FlushFailed, Write Start, WriteSuccess and Write Failed?

The `Thread.sleep` calls that you have in your code on the server side blocks the eventloop (shared b/w clients and server as you are in the same JVM), so I would not really trust the numbers that you are getting.

If you are looking at latency patterns, I would suggest to use some

[2015-07-07 18:35] jcnorman48 commented on #239
@johanhaleby Thanks! The above solution worked for me, the RxNetty example said to use:
SSLContext sslContext = SSLContext.getDefault();
            SSLEngineFactory sslEngineFactory = DefaultFactories.fromSSLContext(sslContext);

Which did not work, not even to connect to google, your solution worked. Agreed, not sure why it's so complicated to make an ssl connection when it's transparent in any

[2015-07-09 06:06] NiteshKant commented on #386
Thanks @brharrington, let me think more about this and update this issue with my thoughts. On the face of it, it looks pretty possible.

[2015-07-09 07:31] OskarKjellin commented on #387
@NiteshKant I will give a more thorough answer when I'm back from my vacation next week and have my computer.

I did record all events but the only pattern I could see was that it was always those two after one another when there was a peak.

I also realized that sleeping the thread might be bad for the thread pool so I changed it to the equivalent observable. Don't remember the name of it but I c

[2015-07-10 07:39] gfrison opened #390 "errors when .enableWireLogging is not setup"
Hello,

I'm doing some tests with 0.5.x for enabling HttpProxyHandler.
It seems that it works properly when I enable logging:

HttpClient.newClient(url.getHost(), urlPort(url))
 *\* .enableWireLogging(LogLevel.DEBUG) **
    .unsafeSecure()
   .addChannelHandlerFirst("proxy", () -> new HttpProxyHandler(new InetSocketAddress(System.getProperty(proxyHost), p)))
....

Without *\* .enableWireLogging *\

[2015-07-10 11:20] mgajdos opened #391 "(0.5.x) How to read HttpServerRequest content via InputStream and write the response entity via OutputSteam?"
I am working on Jersey 2 (JAX-RS 2.0) integration with RxNetty 0.5 and have a few questions about adapting Observables into input/output streams.
#### HttpServerRequest's Observable<ByteBuf> to InputStream

Is the usage of [HttpContentInputStream](https://github.com/Netflix/karyon/blob/master/karyon2-governator/src/main/java/netflix/karyon/transport/util/HttpContentInputStream.java) still the reco

[2015-07-10 23:03] NiteshKant commented on #390
@gfrison If you point me to real runnable code (not a snippet) I will be able to help better w.r.t why it does not work without wire logging (which is strange as wire logging handler does not modify the data)

`unsafeSecure` enables TLS, so you can not have unencrypted data on that client for any connection. Looking at the `HttpProxyHandler` code, it looks like it manages the `HttpClientCodec` lif

[2015-07-14 05:16] NiteshKant commented on #391
@mgajdos the code in karyon for reading HTTP content via an `InputStream` would still work although, we can use backpressure in 0.5.x to optimize the amount of content buffered in the stream.

w.r.t the write logic, when do you complete the subject?

`RxNetty` would flush the writes only after the `Observable` passed to the `write` completes, if you do not complete the `Subject` the writes would n

[2015-07-14 05:25] NiteshKant commented on #387
Great, I will wait for your detailed answer!

In netty, a channel is bound to an eventloop for its lifetime, so if you block that eventloop (thread) then it does not matter how many other threads are there in the system, nothing will happen on that channel/connection till the time the eventloop is unblocked. The latency you see is an obvious outcome of this blocking.

The event flush start happens

[2015-07-14 05:35] NiteshKant commented on #154
@Crystark apologies for the delayed response.

There are more than what meets the eye here. A client in `RxNetty` holds obvious state for a host like connection pool and subtle state like caching of request observable, metrics, etc. If it is allowed to specify arbitrary host in the URL, then we either have to maintain this state per each random host specified or choose not to follow the other aspe

[2015-07-15 12:47] Crystark commented on #154
@NiteshKant OK I can understand that. Thanks for taking the time of explaining this to me.

[2015-07-15 20:55] jwshah1 opened #392 "Add SpectatorEventsListeners for Websockets implemenation"
In order to metrics from Websocket sessions need support SpectatorEventsListener similar to HttpClientEventsListener and HttpServerEventsListener

[2015-07-17 14:02] mgajdos commented on #391
@NiteshKant thanks for pointing this out. I'll try to modify the custom `InputStream` to support backpressure.

**write logic)** I do call `onCompleted()` on the subject – I have created a [gist](https://gist.github.com/mgajdos/c476c9110aaa9e587438) where you can see the snippet I posted earlier (starting at line [40](https://gist.github.com/mgajdos/c476c9110aaa9e587438#file-gistfile1-java-L40)) a

[2015-07-20 10:08] OskarKjellin commented on #387
@NiteshKant now I'm back :)

I changed my `sleep` to:

[code]

Not sure if that blocks the eventloop or not.

After reading your explanation I've been wondering a bit if the same thing is actually happening on the server. Let me give a bit of more background:
I'm running an API layer as a proxy to internal components. On the API I'm running jax rs with jersey and sending the requests with RXNetty.

[2015-07-20 20:01] NiteshKant commented on #387
The problem here would be that you are writing to the socket using blocking I/O inline while processing the request. So, if the write blocks, the eventloop is blocked. Using `observeOn`/`subscribeOn` is the correct way of handling a blocking call during emission and subscription respectively.

If you are satisfied that blocking the eventloop was indeed the issue, do you mind if this issue is close

[2015-07-21 12:53] OskarKjellin commented on #387
Yeah, that's what I figured as well. Do I need to use `subscribeOn` as well?

Go ahead and close it. Thanks a lot for your help, sorry for spamming you :)

[2015-07-21 19:25] NiteshKant commented on #387
If you are potentially blocking in the `subscribe` call use `subscribeOn`, if you are blocking on an emission (`onNext`, `onComplete`, `onError`) then use `observeOn`.

[2015-07-21 19:25] #387 closed, assigned to nobody

[2015-07-21 22:29] NiteshKant opened #395 "High object allocations when using `writeString` and `writeBytes` from a different thread."
`HttpServerResponse` and `ObservableConnection` provide methods like `writeString()`, `writeBytes()`, `write(R r, ContentTransformer<T, R> transformer)` and their variants with `*AndFlush()` that uses netty's `ByteBufAllocator` to allocate new `ByteBuf` if required.

RxNetty defaults to using a `PooledByteBufAllocator` that has a **thread local pool** of `ByteBuf`s. In case where this allocator is

[2015-07-21 22:30] NiteshKant commented on #395
This is not the case with 0.5.x as it does not do these allocations on the caller thread (writer) but does the allocation within netty's handler which always runs on an eventloop. The fix would be to backport the approach from 0.5.x

[2015-07-22 19:31] NiteshKant commented on #395
The allocations after applying the changes in PR #396 are as follows:

###### Write in Schedulers.io()

![image](https://cloud.githubusercontent.com/assets/820005/8835167/96f3bc70-306d-11e5-85bc-ec665ec2195f.png)

###### Write in eventloop

![image](https://cloud.githubusercontent.com/assets/820005/8835153/84eff908-306d-11e5-9943-5eb0ca95b1c0.png)

[2015-07-23 05:49] #395 closed, assigned to NiteshKant

[2015-08-06 08:16] fiunchinho commented on #90
Nice!
Is there an easy way to overwrite this default error response generator (say for JSON response) other than overwriting the HttpRxServerProvider ? Seems overkill.

Also, @NiteshKant comitted a main() method in the DefaultErrorResponseGenerator class. I guess you were using it to test it and you forgot it was there.

[2015-08-06 11:29] gfrison opened #399 "configurable HttpClientCodec initialization"
Hello,

When a client is instantiated (io.reactivex.netty.protocol.http.client.HttpClientImpl#create) the HttpClientCodec is created as:

[code]

How is the best way in your opinion in order to configure the codec with custom maxInitialLineLength,maxHeaderSize,maxChunkSize?

Is it possible to do so without modify the code?

Thank you,

[2015-08-07 06:00] NiteshKant commented on #90
@fiunchinho you can use [`HttpServer.withErrorResponseGenerator()`](https://github.com/ReactiveX/RxNetty/blob/0.4.x/rxnetty/src/main/java/io/reactivex/netty/protocol/http/server/HttpServer.java#L82) to specify a custom error response generator.

The change is more than a year old :) and yeah I think I removed the `main()` method after that.

[2015-08-07 06:28] NiteshKant commented on #399
Currently there is a super hacky way of achieving this as

[code]

This is particularly complex/hacky because of the nature of how `HttpClientCodec` works. It removes itself from the pipeline and instead adds it's private classes `Encoder` and `Decoder` to the pipeline. If it wasn't so, it would have just meant that you can replace it with the new handler with your configuration.

Let me think mor

[2015-08-07 11:38] schmitch commented on #338
Any Upgrades on this?

[2015-08-07 12:01] fiunchinho commented on #90
Actually, that class is missing in the 0.5 tag for RxNetty.
I was using Karyon and it seems there is no easy way to call the method HttpServer.withErrorResponseGenerator() from karyon. Karyon (even Karyon 3) depends on RxNetty 0.4, which seems odd.

[2015-08-07 12:27] futurely commented on #338
http://www.grpc.io/

[2015-08-07 17:51] NiteshKant commented on #338
@schmitch we aren't working on HTTP/2 support as yet and I do not have any timelines on when we will work on it.

@futurely Grpc AFAIK is a different interaction model and space than RxNetty but yeah if it works for your usecase, it is great!

[2015-08-07 19:49] NiteshKant commented on #90
@fiunchinho [0.5.x](https://github.com/ReactiveX/RxNetty/wiki/0.5.x-FAQs) is still not stable (snapshot status) that is the reason why karyon would not be using 0.5.x just yet.

`ErrorResponseGenerator` isn't available in 0.5.x by design, as you can achieve the same results by using an `.onErrorResumeNext()` operator, something like:

[code]

[2015-08-10 12:55] gfrison commented on #399
Thank you for the hint.

[2015-08-10 13:00] gfrison commented on #399
Hello,

Just a question no related to this topic.
When you thing 0.5 will be ready for releasing?

Thank you,

[2015-08-12 23:57] #384 closed, assigned to nobody

[2015-08-13 05:00] stevegury opened #402 "Completing a Request/Response should remove the Listener from the underlying chanel.closeFuture"
According to my reading of this code: https://github.com/ReactiveX/RxNetty/blob/0.5.x/rxnetty/src/main/java/io/reactivex/netty/protocol/http/internal/AbstractHttpConnectionBridge.java#L142

It seems that we add a listener responsible for calling onError on the connectionInputSubscriber.
I think I understand why, but the problem I forsee is that when I reuse a connection, it also sends an event, wh

[2015-08-14 07:06] NiteshKant commented on #402
Thanks @stevegury for reporting. Yeah it is a memory leak as the `closeFuture()` lives as long as the connection and all these listeners never get cleared up and hence stay till the channel is closed.

[2015-08-14 08:45] Crystark opened #405 "IllegalReferenceCountException in the case of a Netflix/Prana-like proxy server"
Hi,

I'm trying to write a proxy server that would do some work on the input request content before acting as a proxy. [Netflix/Prana's ProxyHandler](https://github.com/Netflix/Prana/blob/master/src/main/java/com/netflix/prana/http/api/ProxyHandler.java) was a really useful base to my work as I had trouble passing the `ByteBuf` through without copying them. I ended up using retain as they do.

Eve

[2015-08-14 17:16] #402 closed, assigned to nobody

[2015-08-26 08:47] gfrison opened #407 "writeContent hangs with a response-content as parameter"
Hello,

I'm trying to upload (multipart request) a file from a web resource:
1. get an image from http server
2. upload it elsewhere with multipart request

unfortunately, when I invoke (2) .writeContent(previousGetReponse.getContent())
the II request hangs without sending any byte.

The process works if I aggregate the (1) response in a

[code]

the running snippet is here
https://gist.github.com

[2015-09-01 06:10] NiteshKant commented on #407
@gfrison apologies for the delayed response.

It looks like in your code, the content-length for the second request is set more than the content you are writing, so the server is waiting for more content to arrive.

If you change the code to add "Content-length" from:

[code]

to

[code]

The server responds appropriately (as far as I can see)

[2015-09-01 06:15] NiteshKant commented on #405
@Crystark apologies for the delayed response. The code in prana was written at some point by me and there are a few race conditions in the code, which could result in this error. I will dig up the code, only available internally and share it with you.

PS: [0.5.x](https://github.com/ReactiveX/RxNetty/wiki/0.5.x-FAQs) does eliminate the need for this subject but that release is still not stable.

[2015-09-01 09:36] Crystark commented on #405
@NiteshKant thanks for your answer.

I've done some digging and modifications and since then we haven't reproduced that kind of warnings. Here's what I have right now, using the latest 0.4 RxNetty:

[code]

I removed the use of `UnicastDisposableCachingSubject` and changed the caching order. I also used an `AtomicReference` to make sure my `ByteBuf` is completely released `onCompleted`.

This seem

[2015-09-03 09:32] gfrison commented on #407
Thank you so much,

You absolute right and it was my mistake. Sorry for this waste of time...
It works like a charm in _0.5_ but I get a problem with _0.4.11_

https://gist.github.com/gfrison/ef9d9f36151234cf7f14

when I concatenate the chained request with:

[code]

the `response.getContent()` doesn't flush anything.
If I replace it with an `byte[]` that content will be flushed into the second re

[2015-09-08 14:07] GrapeBaBa opened #410 "Rpc example"
Hi ,
could you provide a rpc example?as rpc usually support pileline , i am not quite sure how to handle the related response for formal request.

[2015-09-08 23:30] NiteshKant commented on #410
@GrapeBaBa I am not sure if I agree with the statement "rpc usually support pileline" as it means head of line blocking for all pipelined requests. IOW, I have not used pipelining for RPC libraries.

Is your question more like; whether `RxNetty` supports pipelining?

If so, then, `RxNetty` `HttpClient`s do not support pipelining and the servers do work with pipelined requests. So, it is a yes and

[2015-09-09 00:21] GrapeBaBa commented on #410
sorry, maybe i descripe wrong, i just want non-blocking request before the response received. usually using a opaque between request and response. i want to know how to
do that using rxnetty.

发自我的 iPhone

[2015-09-09 00:27] GrapeBaBa commented on #410
hi
will it support pipelining in further version both tcp client and http client? does it mean i cannot using rxnetty for a rpc client now?

发自我的 iPhone

[2015-09-09 05:19] NiteshKant commented on #410
I am confused now. When you say pipelining, what exactly do you mean? Are you referring to [HTTP pipelining](https://en.wikipedia.org/wiki/HTTP_pipelining) or something else?

When you say "non-blocking request before response received", do you mean sending concurrent requests to the same server? If so, it is achieved by using multiple connections in case of HTTP. For TCP, you have to build your o

[2015-09-09 05:25] NiteshKant opened #411 "Add support for compression/decompression of HTTP request/responses"
Compression/decompression of HTTP request/responses is a pretty common requirement for HTTP client and servers. It is somewhat complex to use the netty's stock `HttpContentCompressor` and `HttpContentDecompressor` with `RxNetty` because of the way we write HTTP content (as a `ByteBuf` instead of `HttpContent`) on a request/response.

This issue is to provide methods like `compressRequest()` and `d

[2015-09-09 05:31] NiteshKant opened #412 "Flush the channel if `Observable` written from outside the eventloop"
Today `Connection` provides methods to write an `Observable` which flushes the writes on completion of the `Observable` (by default). This write in turn writes the `Observable` as-is on to the channel, which a handler accepts and subscribes to the same.
This works well when the data is written from the eventloop, but when it is written from outside the eventloop, the write is enqueued into the eve

[2015-09-09 05:36] NiteshKant opened #413 "Provide a way to avoid using `flushOnEach` for streaming writes"
In cases, when there is a need to write infinite (or streams with unpredictable lengths) on a connection, the only practical way to flush data is to use `flushOnEach` as coming to an adequate buffer size/ time boundary is just too hard and error prone.

It would be nice to be able to tell `RxNetty` to flush all pending writes on the next eventloop iteration. It should still be possible to issue ex

[2015-09-10 08:51] gfrison opened #414 "random timeout exceptions on tests"
Hello,

I see some timeout errors which occurs randomly. It seems that sometimes the response from the server is not gathered by the client.

[code]

[code]

Thank you,

[2015-09-10 11:47] gfrison opened #415 "Configurable Bootstrap resolver (0.5.x)"
Hello,

I have a problem when I add proxy support with `HttpProxyHandler`.
By default Bootstrap class comes with the `io.netty.resolver.DefaultNameResolver`.
In case of proxied connection it ends with a host resolution and eventually with a `UnknowHostException`.

This problem could be solved introducing a configurable resolver. This very ugly example detects proxied connection through the standar

[2015-09-10 16:22] NiteshKant commented on #414
Yeah I have seen these sometime happen on travis. I will enable debug logs for tests to track these down.

[2015-09-10 17:09] NiteshKant commented on #415
@gfrison I would like to understand your setup more to see if the feature is needed.

Why is the host unresolved in your case? I see [netty's default name resolver](https://github.com/netty/netty/blob/4.1/resolver/src/main/java/io/netty/resolver/DefaultNameResolver.java#L62) using JDK's built-in resolver.

[2015-09-10 18:06] NiteshKant commented on #414
PR #416 adds debug logs, I will update here of my findings for the flakiness.

[2015-09-11 03:03] GrapeBaBa commented on #410
Hi Kant,

Maybe I am not describe clearly. I paste a code, i am not quite sure the code is correct when concurrent rpc invoke?

[code]

[2015-09-11 07:40] gfrison commented on #415
Hello,

code context: https://gist.github.com/gfrison/dea35d109897a00c4810

In case I want to pass through a http proxy, the `proxied` host should not be resolved, because it could be unknown for the client's dns.
This is why netty provides the `io.netty.resolver.NoopNameResolver` specifically for this purpose (it return always true and doesn't resolve the name).
By default the `DefaultNameResolve

[2015-09-11 16:08] Crystark opened #417 "Streaming large files using RxNetty (ideally, line by line)"
Hi,

I'm trying to use RxNetty 0.4.x as an HTTP client to stream a large file (50m) from an HTTP server (Amazon S3). At first, I ran into the following error:

[code]

So I looked at the [HttpChunkClient](https://github.com/ReactiveX/RxNetty/blob/0.4.x/rxnetty-examples/src/main/java/io/reactivex/netty/examples/http/chunk/HttpChunkClient.java) in the examples and I noticed the HttpClient didn't use

[2015-09-14 16:34] NiteshKant commented on #415
Thanks for the sample code, that explains the missing links in my understanding!

It makes sense to add a way to provide a name resolver for a client. We can add an option in the client to optionally provide a resolver. Are you interested in working on a PR?

[2015-09-14 16:55] NiteshKant commented on #417
@Crystark you do not need to modify the `HttpObjectAggregator`, instead can add a handler after the `HttpObjectAggregator` to take `ByteBuf` and split them by newlines. [This decoder](http://netty.io/4.0/api/io/netty/handler/codec/LineBasedFrameDecoder.html) should suffice to your needs.

Alternatively, there is a library [RxJavaString](https://github.com/ReactiveX/RxJavaString) that you may find

[2015-09-14 17:09] NiteshKant commented on #410
Apart from minor things like, you do not need a `subscribeOn()` call there, the code will work fine for concurrent invocations of `dispatch()`. However, it is not guaranteed that all `dispatch()` calls will use the same connection (none of them will, if you do not use connection pooling). If you want to reuse the same connection for concurrent requests, you will have to do something like what [thi

[2015-09-15 09:04] Crystark commented on #417
Thanks.

I indeed tried to use RxJavaString as I ended up using the AWS SDK to fetch the InputStream from S3 rather than RxNetty (looking forward to [rx-aws-java-sdk-s3](http://mvnrepository.com/artifact/com.netflix.rx-aws-java-sdk) if it ever comes out).
However this did not suffice as RxJavaString doesn't have a helper to read an InputStream by line while it's being downloaded so I ended up crea

[2015-09-15 09:04] #417 closed, assigned to nobody

[2015-09-15 14:16] gfrison commented on #415
Hi,

Yes, I'll try to provide some changes.

Thank you,

[2015-09-15 14:17] #407 closed, assigned to nobody

[2015-09-15 14:20] gfrison opened #418 "(0.4.11) HttpClientRequest.withContentSource doesn't concatenate from a HttpClientReponse.getContent"
Hello,

I have a problem with _0.4.11_ on concatenating a response to a subsequent request.

https://gist.github.com/gfrison/ef9d9f36151234cf7f14

when I concatenate the chained request with:

[code]

the `response.getContent()` doesn't flush anything.
If I replace it with an custom byte arrya that content will be flushed into the second request.

Could you please point me what is wrong?

Thank yo

[2015-09-15 16:14] NiteshKant commented on #418
@gfrison I did look at your code when you referenced it in the other issue. For some reason, `response.getContent()` isn't getting completed and hence the request does not get written completely. I need to look at it more to find a reason why this is happening.

[2015-09-15 16:58] NiteshKant opened #419 "(0.4.x) Http client request with an error stream as content, never completes"
If the `Observable` supplied as content for `HttpClientRequest` produces an error, the request processing never completes. The following code reproduces the issue:

[code]

When `Observable.<ByteBuf>error(new NullPointerException())` above is replaced with an `Observable.<ByteBuf>empty()` then the processing completes.

[2015-09-15 17:02] NiteshKant commented on #418
@gfrison the issue here is that the code is subscribing to the server request content stream lazily, which produces an error. The reason why you do not see that error is because of the issue #419 I just created. If you want to do something like this in 0.4.x, it is a bigger exercise of caching content eagerly as @Crystark mentions in issue #405. In case, this is a new piece of code you are writing

[2015-09-22 05:31] #410 closed, assigned to nobody

[2015-09-28 22:27] BenWhitehead commented on #292
Follow

[2015-09-29 16:30] mikeweisskopf commented on #98
At one point you mentioned you were adding removeListener() to MetricEventsPublisher, but later changed to use Subscription instead. The rational was "returned Subscription can be unsubscribed to remove the listener". However, it seems to me thats not what actually happens.....instead calling unsubscribe only changes the state of the subscription (for example BooleanSubscription.isUnsubscribed() w

[2015-09-29 16:51] NiteshKant commented on #98
@mikeweisskopf that sounds like a bug, [this piece of code](https://github.com/ReactiveX/RxNetty/blob/0.4.x/rxnetty/src/main/java/io/reactivex/netty/metrics/MetricEventsSubject.java#L130) is expected to remove the listener, but there is mismatch between the type of item removed and added. Can you file a bug or if you are interested in sending a PR, you are welcome too :)

[2015-09-29 20:01] mikeweisskopf commented on #98
Sure, I will file a bug and followup with a PR. Thanks for the quick reply :-)

Pull request is (here) [https://github.com/ReactiveX/RxNetty/pull/428]

[2015-09-29 20:29] mikeweisskopf opened #427 "(0.4.x) Can't remove a listener from a MetricEventsPubliser"
# Problem description:

At one point Nitesh mentioned adding removeListener() to MetricEventsPublisher [here](https://github.com/ReactiveX/RxNetty/issues/98#issuecomment-44468564), but later changed to use Subscription instead. The rational was "returned Subscription can be unsubscribed to remove the listener". However, it seems to me thats not what actually happens.....instead calling unsubscribe

[2015-10-02 06:13] #419 closed, assigned to NiteshKant

[2015-10-08 22:26] kurzweil opened #430 "Provide a convenience method for HttpServerRequest to collect all content."
Sometimes a developer knows, upfront, that they need all the content of a request. A convenience method (getAllContent()?), in addition to the streaming version of the getContent() method, would be helpful.

[2015-10-08 23:09] NiteshKant commented on #430
+1 this would be good to have both on `HttpServerRequest` and `HttpClientResponse`. In absence of this method, one can use the following code snippet to aggregate the content:

[code]

[2015-10-09 13:19] GrapeBaBa opened #431 "ribbon 3.x with rxnetty 0.5"
Hi team,

Seems ribbon 3.x will have a large change, what is the progress with ribbon 3.x and when will it open source?

[2015-10-09 13:44] NiteshKant commented on #431
Ribbon questions are better suited under ribbon repo.

[2015-10-09 13:44] #431 closed, assigned to nobody

[2015-10-14 13:57] billyyarosh opened #432 "Race Condition results in occasional slow client response times."
We are experiencing delays in client requests from time to time when working with RxNetty HttpClient.

 We traced it down and If you do a `toBlocking()` it happens more often, but we think it still happens in a pure async, but less often. That is harder to confirm since we had to add pauses between each request in the main thread.

**NioEventLoop selector.select does not get interrupted** if the w

[2015-10-14 13:58] billyyarosh commented on #382
Can some one test that this resolved their slow response times?

Groovy code we used which resolved the occasional slow requests.

[code]

[2015-10-14 13:58] billyyarosh commented on #382
Feel this issue needs reopened as there is a real problem during the request phase of an httpclient.

We have experienced the same issue when using Ribbon. We traced it down and If you do a `toBlocking()` it happens more often, but we think it still happens in a pure async, but less often. That is harder to confirm since we had to add pauses between each request in the main thread.

**NioEventLoop

[2015-10-14 23:05] NiteshKant commented on #382
The issue was further discussed in #387 and it was concluded that the delays mentioned here were due to the server being latent.

[2015-10-14 23:11] NiteshKant commented on #382
@keaplogik Lets discuss your issue in #432

[2015-10-14 23:15] NiteshKant commented on #432
The selector only gets woken up on `flush()` and not on every write.

If you can show the code that reproduces this problem, it will be useful, else it is very difficult to debug such issues.

[2015-10-15 14:54] billyyarosh commented on #432
Here is a groovy script that shows the top five slowest results in milliseconds. In this example I only get a couple blocked requests.

My results from last run:

[code]

[code]

Currently tested on `jdk1.8.0_45`

[2015-10-15 17:40] billyyarosh commented on #432
Just to verify it has something to do with the purge interval, remove the .tail() call and run the request twice `(1..2)`.

Your array results will always return: `~ [858, 247]` which is nearly 1 second and is the length of the cleaner purge interval. Increase the purge interval and you will see the two request times increase.

[2015-10-17 14:19] GrapeBaBa opened #433 "Does PooledConnectionProvider detect connection failed and auto reconnect to server when server is up?"
Hi,
Does PooledConnectionProvider detect connection failed when server is down and auto reconnect to server when server is up?

[2015-10-18 05:50] NiteshKant commented on #433
The connection pool detects disconnects (dead connections) and purge them from the pool.
It does **not** "retry in the background" to reconnect when the server is up. All connections are made on demand and pooled after it is established.

[2015-10-18 13:55] GrapeBaBa commented on #433
cool.

发自我的 iPhone

[2015-10-19 20:59] #433 closed, assigned to nobody

[2015-10-19 21:02] NiteshKant commented on #432
@keaplogik I think this is the same behavior as described in issue #412 (for branch 0.5.x). I wil fix it in both branches. Thanks for reporting and apologies for the delayed response.

[2015-10-19 21:03] NiteshKant commented on #412
#432 is the same issue but on 0.4.x branch.

[2015-10-19 22:22] billyyarosh commented on #432
That sounds correct and thanks.

[2015-10-20 17:43] dfjones commented on #432
I believe I am also running into this issue (in prod and test code). I'm wondering if this workaround that @keaplogik posted is safe to use in production?

[code]

Are there any potential downsides to this at low RxNetty request activity?

[2015-10-20 18:09] dfjones opened #434 "PoolExhaustedException Resolution"
I've noticed that it can be easy to generate a spike of requests and exhaust the connection pool (this is a project using Netflix Ribbon, with the default per host connection pool size of 50). I'm wondering what techniques can be used to avoid immediate failure in this case.

Is there a straightforward way to have a request queue up and wait for a connection to be freed?

Thanks to Ribbon/Hystrix,

[2015-10-20 18:47] NiteshKant commented on #432
@dfjones the downside will be that the purge task will run too often (once every 100 nanos), the overhead of which depends on how many tasks are cancelled at any time.

I am hoping to release a fix by next week, if you can wait that long.

[2015-10-20 18:56] NiteshKant commented on #434
You mentioned that you use Hystrix. The best way is to define a threadpool/semaphore limit in hystrix to limit concurrency to a client.

[2015-10-20 21:22] dfjones commented on #434
@NiteshKant Thank you for the response. I think I see now that the issue we are running into is due to default values that don't make sense for our cluster. With the defaults in Ribbon, we are able to hit the per-host limit before the max total in most cases.

[2015-10-20 21:45] NiteshKant commented on #434
Cool, should I close this issue then?

[2015-10-20 22:09] dfjones commented on #434
@NiteshKant Sure. If I come up with follow-up questions, I'll just re-open this issue. (Unless there is a better means for getting questions answered?)

[2015-10-20 23:05] NiteshKant commented on #434
I will leave this open for now and yeah this is the best place in the world to ask questions about RxNetty :)

[2015-10-21 23:27] NiteshKant commented on #432
Fixed via #435

The sample code in java (copied from the PR) is below:

[code]

[2015-10-21 23:27] #432 closed, assigned to nobody

[2015-10-22 13:12] Crystark opened #436 ""java.io.IOException: Connection closed by peer before sending a response" when using a timeout on the Observable"
Hi,

I'm currently using rxnetty as a proxy server as explained in issue #405.
Lately, I wanted to add a global timeout on this service:

[code]

Adding this gets me the following error on our canary but I don't seem to be able to reproduce it on our dev server.

[code]

Am I doing something wrong with the timeout ?  Is there some other way to set up a timeout  ? My main concern is to have a timeo

[2015-10-22 20:31] NiteshKant commented on #427
Fixed via #428

[2015-10-22 20:31] #427 closed, assigned to nobody

[2015-10-22 21:09] NiteshKant commented on #436
The exception you mentioned, you are seeing on the client connecting to the proxy server, i.e.

[code]

You are seeing the error in the Client above?

[2015-10-22 21:41] NiteshKant opened #439 "Unintentional 0.5.x releases"
As a result of an "Oops moment", I unintentionally released 0.5.0 and 0.5.1 artifacts to maven, obnoxiously so, from 0.4.x branch. So, we have artifacts in maven central which have version as 0.5.x but with 0.4.x code.

Since, then I have fixed the job to now release 0.4.x artifacts but I can not undo what has been released. I apologies for the inconvenience, if any, this causes for any one of you

[2015-10-23 06:54] Crystark commented on #436
@NiteshKant No i'm seeing these errors on the proxy server itself.

[2015-10-23 16:08] NiteshKant commented on #436
Ok so looks like the origin closed the connection before your timeout triggered.

[2015-10-23 22:10] #412 closed, assigned to NiteshKant

[2015-10-24 17:24] jonasthall commented on #434
Would it make sense to have a PooledConnectionProvider implementation which provides a connection as soon as one is released, instead of throwing a PoolExhaustedException?

[2015-10-26 17:44] NiteshKant commented on #434
@jonasthall such an approach would introduce unpredictable delays in request processing. It is usually better to get feedbacks around limits like these as soon as possible as opposed to introduce queuing.

Usually, you should have some sort concurrency control at a higher level and the connection limits should be higher than those concurrency limits, so that connection pool limits are not reached

[2015-10-27 16:19] Crystark commented on #436
I'll close this as I can't get more details about it and changes done to the code (removing the timeout) made it disappear. I'll reopen this if things evolve in that way.

[2015-10-27 16:49] Crystark opened #441 "How to use read timeouts on a RxNetty HttpClient when in a Proxy server environment"
Hi,

I've been trying to add timeouts using `Observable.timeout` to a proxy server call (see #405 for more details on the proxy server) using RxNetty 0.4.x

A request happens like that:

[code]

The thing is, as I need to retain the ByteBuf to forward it to the origin and release it if the origin was never called, wherever I put my timeout I end up with either the ByteBuf being released although i

[2015-10-27 17:47] NiteshKant commented on #441
Firstly, yes 0.5.x solves this particular problem of managing the various flows in which the `ByteBuf` lifecycle is to be managed, primarily because of the following:
- 0.5.x does not read the data from a socket unless it is subscribed to (HTTP content in this case). For your case, the inbound request content will only be read when the outbound client subscribes to the content, which will essentia

[2015-10-28 09:11] Crystark commented on #441
Well, I think that's what I tried (and failed) to do.

Here is some sample code of what I did:

[code]

Fore each request i get the following:

[code]

and rarely i also get

[code]

Is there something I'm doing wrong here ? FYI, initially, I wanted to set the timeout after the main `switchIfEmpty` that triggers the origin call so that anything done counts toward the timeout.

[2015-10-29 16:49] NiteshKant commented on #441
You mean after putting a timeout, every request produces that warning?

Glancing through the code, I do not see any obvious problem that will cause mismatched `ByteBuf` refs. Although, it will help me if you have a functional code, the code you provided has many missing classes.

[2015-11-02 09:14] Crystark commented on #441
Yes, I meant every request produces that warning.

I'll try to make a working example. Maybe simplify all that.

[2015-11-06 13:31] gfrison commented on #418
Hello,

the #419 has been solved but unfortunately I have still the same problem. I tested against 0.4.13, what can I do to solve this problem?

Thank you,

[2015-11-09 03:07] NiteshKant commented on #418
@gfrison #419 was to bubble the error up to you, an absence of which gave a "hung state" impression.

The basic issue is that by the time, the client subscribes to the content stream from the server request, it is discarded. You will have to solve this by caching the content eagerly. Similar discussion is happening in the issue I pointed to, in my earlier comment.

[2015-11-18 12:26] #418 closed, assigned to nobody

[2015-11-19 11:15] Crystark opened #446 "[0.4.x] Update to netty 4.1.0.Beta7 reduces throughput by 30%"
Hi,

I tried updating from RxNetty 0.4.11 to 0.4.13 and i'm having a reduced throughput (approximatly 30%) that seems to be caused by the netty version.

I tested this with this simple code:

[code]

I went from a bit over 60k QPS to a bit under 45k QPS on this example benching with wrk2 and sending POST requests.

I also tried 4.1.0.Beta8 and I'm having the same problem. I ended up forcing RxNett

[2015-11-19 16:49] Crystark commented on #446
This is actually quite troublesome. 0.4.11 gives me alot of `ClosedChannelException` while 0.4.13 fixes that but makes me loose 30% throughput.

[2015-11-19 17:22] Crystark commented on #446
Did a bit more of testing. I have the same throughput problem with netty versions starting at 4.0.31.Final. 4.0.30.Final works fine and has the same performances as 4.0.27.Final

[2015-11-19 21:03] NiteshKant commented on #446
@Crystark that is nasty. Any chance you can profile the two runs and see if there is something obvious?

[2015-11-20 09:46] Crystark commented on #446
Ok so i profiled the two runs and yeah, there's something obvious: Leak detection costs ALOT more in the newest netty versions than in previous. I'm actually always using `-Dio.netty.leakDetection.level=advanced` when developing. If i remove this option both runs keep the 60k QPS. What is strange though is that this advanced leak detection actually costs nothing in previous versions. Maybe that op

[2015-11-28 14:52] krisskross opened #448 "TcpClient hangs"
I wrote a simple ping-pong using 0.4.0 TcpClient and TcpServer.

But for some reason the client hangs _sometimes_ waiting for a response from the server. So there seems to be some race condition, but I can't figure out where?

https://gist.github.com/krisskross/101da299350eca6bae85

[2015-11-28 19:01] krisskross commented on #448
I changed the echo example to use ByteBufs instead of Strings and the client hangs in a similar way.

[2015-11-28 21:23] krisskross commented on #448
I got my ping-pong test working. It was a misunderstanding of RxJava on my part that caused the client to hang.

[2015-11-29 19:12] krisskross commented on #448
I have tried a few different ways of implementing a synchronous request response. But the most intuitive and simple code I can think of hangs. Grateful for an explanation of why this code doesn't work.

https://gist.github.com/krisskross/70c4c425d3ef82a3be51

[2015-12-01 06:29] NiteshKant commented on #448
@krisskross there is an inherent race-condition between write and read in your code. It may so happen that the reply on the connection arrives before the input is subscribed. If that happens, the `connection.getInput()` would not receive any data, as RxNetty does not cache any data read from the channel.

The best way to do it with 0.4.x (since it does not support `write(Observable)`) is to have r

[2015-12-01 17:20] NiteshKant commented on #448
Thinking about it more, this will be closer to what you are trying to achieve:

[code]

and it does not have that race-condition as the input is subscribed before the write.

[2015-12-01 20:27] krisskross commented on #448
So the input does not cache the items. The race condition make sense to me now.

I guess the following code would to more or less the same thing then for a single threaded ordered reply strategy.

[code]

I noticed that the input is a `SerializedSubject` - how does that work with multiple threads? Is it safe to have a thread local Subscribers on a shared input subject?

[2015-12-01 22:13] NiteshKant commented on #448
Yeah the code is more or less what I put in the my last comment using a `TestSubscriber`!

`SerializedSubject` is to serialize `on*()` calls to the `Subject` so if two threads call `onNext()` concurrently, the subscribers of this subject would not get concurrent `onNext()` invocations (illegal as per Rx contract). Since, `on*()` on this `Subject` is always called by `RxNetty`, the users must not w

[2015-12-01 22:24] krisskross commented on #448
Ok thanks Nitesh!

[2015-12-01 22:24] #448 closed, assigned to nobody

[2015-12-03 09:11] GrapeBaBa commented on #337
Hi Kant,
If we use TcpClient to send a custom protocol request, maybe also need interceptor. If you add to HttpClientRequest, how to reuse it? Also i want to know if native RxJava Observal abstraction have a intercept method?

[2015-12-08 02:03] edwinchoi opened #452 "WebSocket client fails silently on handshake failure"
The issue is that `WebSocketClient.HandshakeOperator` does not check for failure on handshake completion.

The following code reproduces the issue:

[code]

Changing the handshake listener (in `WebSocketClient.HandshakeOperator`) to the following resolves the issue:

[code]

[2015-12-08 06:26] NiteshKant commented on #452
@edwinchoi Thanks for reporting the issue. Looks like you have figured the solution, do you wish to send a PR?

[2015-12-09 03:41] edwinchoi commented on #452
@NiteshKant created a PR.

[2015-12-10 07:01] NiteshKant commented on #452
Fixed via #453

[2015-12-10 07:01] #452 closed, assigned to nobody

[2015-12-11 23:44] mikeweisskopf commented on #98
Wondering about another perspective on metrics. The approach here generally aggregates metrics on a per client basis. But what if one needs to track metrics on a per request basis? For example, suppose one needs to know how long it took for a response to a specific request? It seems like we'd need to be able to pass some sort of "Request Context" into the MetricEventListeners to make that kind of

[2015-12-12 06:36] NiteshKant commented on #98
@mikeweisskopf I have tried to address "general" requirements around what timings one would need to capture for HTTP/TCP interactions in 0.5.x. There is also a facility to pass [custom events to the listeners](https://github.com/ReactiveX/RxNetty/blob/0.5.x/rxnetty-common/src/main/java/io/reactivex/netty/events/EventListener.java).

There is an [open request](https://github.com/ReactiveX/RxNetty/i

[2015-12-12 06:46] NiteshKant commented on #446
@Crystark sorry this slipped off my attention. Yeah advanced leak detection is not recommended for production so I don't think this is an issue per se.

[2015-12-12 06:46] #446 closed, assigned to nobody

[2015-12-12 15:56] nurkiewicz opened #454 "IllegalStateException: unexpected message type: DefaultHttpResponse"
This program is executed on 0.5.x branch (https://github.com/ReactiveX/RxNetty/commit/f5388f1b1661cd49cef059c18e579c5bb44d86b8):

[code]

When load tested with `wrk`:

[code]

I get tons of the following exeptions:

[code]

The more concurrency (`-c10` parameter), the more often it appears. With `-c1` problem does not appear. Also removing `Observable.delay(1)` helps. Maybe related to https://gith

[2015-12-14 16:49] mikeweisskopf commented on #98
Thank very much @NiteshKant , we'll take a look at listener per request as well as request context. Any thoughts on when there will be a release version of 0.5.x?

[2015-12-15 17:12] NiteshKant commented on #454
@nurkiewicz I looked at it briefly and it looks like it is caused by `.delay()`. I could even repro it for `-c1`.

I will dig more into it.

[2015-12-16 07:05] NiteshKant commented on #454
There are a few issues in the code but predominantly there is a race between emission of `LastHttpContent` and `unsubscribe` which is causing the `LastHttpContent` to get lost because the subscriber writing to the channel has already unsubscribed.

Since, this code is using `delay()` the unsubscribe comes from the computation scheduler and write requests come from the eventloop. If the unsubscribe

[2015-12-17 09:06] rotemfogel commented on #441
@Crystark can you please supply a working example.
I am stuck with the exact same issue, but for me, I also transform the request.

[2015-12-17 12:06] rotemfogel opened #456 "Using RxNetty as proxy server without blocking the client"
I have an RxNetty server which is transforming the requests and sending it via HTTP to another service.
I did not find a way to perform a non-blocking request with the HttpClient.
I want to fail the request on timeout.
The only way I found to be working is:

[code]

[2015-12-17 14:56] brharrington commented on #456
You should be able to call timeout on the response observable, e.g.:

[code]

[2015-12-18 09:33] rotemfogel commented on #456
Thank you @brharrington

[2015-12-18 10:29] michaeldejong opened #457 "RxNetty client hangs on creating a new connection *sometimes*"
We use RxNetty (0.5) in production for some of our non-critical services as a way of trying it out. So far we're loving it, but we did encounter an issue with the RxNetty client. In our test suite, some tests posting data using RxNetty client are blocked indefinitely. This seems to be entirely chance based. After digging a little deeper it seems that whenever one of these test fail RxNetty interna

[2015-12-18 17:27] rstoyanchev opened #458 "How to send error response when Observable passed into write method fails"
It seems there is no way to send an error response (e.g. 500 vs 200) once any of the `ResponseContentWriter` write methods is called which commits the response. How does one deal with errors that may occur on the `Observable` passed into the write methods? Technically if the failure occurs before any data is produced, it should still be possible to change the response.

[2015-12-18 22:27] NiteshKant commented on #458
RxNetty follows streaming write semantics (just like netty) which means you write parts of HTTP response, as and when you know about them. You write headers when you have enough information to write them and write content as and when you have them available.
Write but not commit implies caching of headers, which depending on usecase may become an overhead. So, I would not pick that as the default

[2015-12-18 22:46] NiteshKant commented on #457
As an aside (may not be related) I have seen such odd failures mostly related to an eager/concurrent unsubscribe in the chain. So, if the subscriber has unsubscribed before the connection is established, it will not get the `onNext` and then depending on how the test handles that case, it may block forever.

Interesting, AFAIK, there isn't really any code in netty which will gate this event propag

[2015-12-21 09:26] michaeldejong commented on #457
Here's a simple test case (a very very simplified version of one of our tests). However due to the flakiness of the problem, I have to run it a couple of times to get it to block.

[code]

Interestingly I did see an error message pass by when running this test, which I hadn't seen before:

Running with that JVM flag this output could be collected:

[code]

Any thoughts?

[2015-12-21 17:05] rstoyanchev commented on #458
Thanks for the response. In the proxy example there is response from the target host that you can do flatMap on before calling `write`. What if you had something that returns database records:

[code]

How would I defer the call to `response.write(repository.list())`?

[2015-12-21 17:51] NiteshKant commented on #457
@michaeldejong The leak is because you are not releasing the content buffers in your code. 0.5.x does not automatically release buffers, there is a method `.autoRelease()` on the `ContentSource` which you can call to explicitly release the buffers.

I personally could not reproduce the situation at my end but since it is a race condition I may just have been lucky!

Looking at your test I think wh

[2015-12-21 19:02] michaeldejong commented on #457
No problem @NiteshKant! Thanks for putting in the time to try and figure out what's wrong!

I've modified the client part in the tests to the following:

[code]

This seems to have gotten rid of the leak warnings, but the test still blocks occasionally (ie. takes more than 10 seconds to complete).

[2015-12-21 19:06] NiteshKant commented on #458
@rstoyanchev If there is an outbound call that does not follow a metadata and data response structure, it is difficult to map it to a metadata - data structure of HTTP. I can imagine a few ugly ways to defer the writing of headers from a stream of homogeneous objects may be by splitting the stream into the first item and the rest, but as I said they will be ugly :)

If collecting the stream is an

[2015-12-21 19:13] NiteshKant commented on #457
Ok so that means the content did not even arrive (or was unsubscribed from probably due to a bug). Let us try to see what is going on, on the wire. If you enable wire logging on server and client, we can see what is on the network. Here is how you can do it:

###### Client

[code]

###### Server

[code]

Since the requests in your tests execute sequentially, it will be easy to figure out what happ

[2015-12-21 20:34] michaeldejong commented on #457
Wow, that made it very hard to reproduce. Here's the output:

[code]

FYI, logging is done with logback, which I've set to trace.

[2015-12-21 21:34] rstoyanchev commented on #458
Not quite sure but I was thinking that `write` wouldn't really write until the first item and instead propagate any error that occurs before that through the `Publisher<Void>`. Along with that maybe some method on the response that indicates whether the response is committed or not.

Also any application code that wants to force writing immediately can always call `sendHeaders` in which case `writ

[2015-12-22 06:28] NiteshKant commented on #456
@rotemfogel is there something else you wanted to talk about in this issue?

[2015-12-22 08:50] rotemfogel commented on #456
Yes. Thank you @NiteshKant.
When using timeout without blocking, when does the timeout occur? on the client.submit? on the observable itself?

[code]

[2015-12-22 11:11] rotemfogel commented on #456
I found that If I do not block the request, the server response is returned immediately

[2015-12-23 17:07] NiteshKant commented on #456
`timeout` is applied on the `Obersvable` it is applied on, in this case the `Observable` returned by `client.submit`.

Client will send the request to the server when the `Observable` returned by `client.submit()` is subscribed to.

[2015-12-29 10:29] yairogen opened #459 "problems using netflix wrapper for rxnetty"
I am using the netflix client that wrapps rxnetty.

After running this code:

[code]

I then try to read the response content:

[code]

this sometimes works and sometimes fails on:

io.netty.util.IllegalReferenceCountException: refCnt: 0

[code]

[2015-12-31 08:25] yairogen opened #460 "How to intercept code in netty's thread pool"
I have data stored in ThreadLocal (such as MDC) and I need it to update it for each request.

Using the http client I put the value as a http header but I can't find a hook where I can read this value after the control is passed into the netty thread pool and then set it on the thread local of the netty thread.

Is this possible using some API?

[2016-01-04 17:53] NiteshKant commented on #460
@yairogen I have replied to your [Stackoverflow question](http://stackoverflow.com/questions/34543424/how-to-intercept-code-in-rx-nettys-thread-pool/34596914#34596914) and we can continue the discussion there.

[2016-01-04 17:58] NiteshKant commented on #459
@yairogen RxNetty 0.4.x auto-releases the buffers read by netty. If you need the buffer out of the scope of the `onNext` call from RxNetty, you need to retain the buffer once and release it once you are done. Modifying your code for this case, it would look like:

[code]

and after you are done with the buffer, call:

[code]

For more information on reference management of buffers see this [netty

[2016-01-04 18:31] NiteshKant commented on #399
With this change in netty: https://github.com/netty/netty/pull/4593. It would be possible to remove the defaul client/server codec added by RxNetty and replace them with the appropriately configured ones!

[2016-01-05 10:57] yairogen commented on #459
This seems to work. I'll need to test firther.

However, please note it is the http response I access out of the scope. I wrap it my own response object by doing this:

[code]

and then when getResponse is called on my object I do:

[code]

Do you see any issues here?

[2016-01-05 17:25] NiteshKant commented on #459
Yeah this seems ok.

[2016-01-08 06:56] GrapeBaBa opened #461 "Does it need a server side heartbeat mechanism when using pooled connection provider"
Hi,
Now I am not quite sure if it also need a server side heartbeat mechanism when client using pooled connection provider to create a RPC system? Can you give me some advice?

[2016-01-08 19:41] NiteshKant commented on #461
Whenever you are pooling connections, you assume that the connections would be alive for a longer duration than one request-response. There are many ways to make sure that the connection is alive, eg: application level heartbeats (server and client), TCP keep alive, more utilized connections. Connection pooling in RxNetty does not do any of these and leave the responsibility to the users to choose

[2016-01-08 20:55] keaplogik commented on #244
Looking for examples of multipart file upload as well.

[2016-01-08 20:58] billyyarosh opened #462 "Multipart upload samples"
Curious if there is any support for this. Digging and can't seem to find it. Thanks in advanced. :sos:

[2016-01-09 01:03] brharrington opened #463 "0.4.x WebSocketClientServerTest testMessageAggregationOnClient failure"
I occasionally see a failure for testMessageAggregationOnClient. It also seems to happen pretty reliably on travis. It looks like the failure occurs when the frames the server is sending to the client are received at the same time as the handshake response. When it fails I see:

[code]

When it succeeds it looks like:

[code]

I can make it succeed reliably by adding a flush before sending the cli

[2016-01-11 13:10] yairogen commented on #460
@NiteshKant
I answered to your comment in stackoverflow. I need more info please.

[2016-01-11 23:59] NiteshKant commented on #463
@brharrington It looks like the issue is because of this netty issue: https://github.com/netty/netty/issues/4635 which is fixed but not yet released.

[2016-01-12 00:04] NiteshKant commented on #462
@keaplogik I haven't tried multipart upload anytime, if you try it out and face issues, I am happy to help :)

[2016-01-12 15:30] yairogen commented on #460
@NiteshKant
My response was too long for a stackoverflow comment.

Thanks. I tried this but now the same request running against the same server fails on timeout.
Building the client like this works:

[code]

building like this, fails on read timeout. what's going on?

[code]

[2016-01-12 18:14] NiteshKant commented on #460
@yairogen I think the problem is because of `.withPipelineConfigurator()` as opposed to `.appendPipelineConfigurator()` in my gist. I don't think ribbon provides `append` construct.

[2016-01-12 18:17] yairogen commented on #460
It doesn't, so what can I do. I need to use the load balancer client.

Regards,

Yair

Sent with AquaMail for Android
http://www.aqua-mail.com

On January 12, 2016 8:14:52 PM Nitesh Kant notifications@github.com wrote:

[2016-01-12 18:19] NiteshKant commented on #460
RxNetty [0.5.x](https://github.com/ReactiveX/RxNetty/wiki/0.5.x-FAQs) will provide a load balancer. As of today with 0.4.x I do not see a way of achieving your usecase.

[2016-01-13 23:14] fzakaria opened #464 "4.X - AbstractClientBuilder : creation of MetricEventsListener not useful"
Hello,

I'm trying to follow along the guide for registering MetricListenerFactory.
The README.md outlines using the global registration

For example

[code]

This however doesn't seem useful as it will create MetricsEventListeners in the _AbstractClientBuilder_ that are not accessible

[code]

Am I missing a piece of the puzzle here or is this not useful / bug ?

[2016-01-14 00:00] NiteshKant commented on #464
@fzakaria The idea of the global metric listener factory is to specify a metrics listener for **all** clients created in the JVM without having to specify them separately for each client individually.

This usually is useful if you as an application writer use different libraries that create different clients. As, you do not have control over the metrics they use, you can control the metrics publi

[2016-01-14 12:07] fkasper commented on #457
I have encountered the issue now several times when building a zuul-rxnetty proxy. What I have discovered so far:

This only occurs on larger requests (requests with ~75k and below get through, everything above results in the same behavior as reported by @michaeldejong  ).

object on a working request:

[code]

dump from a not working request:

[code]

after executing the second request the client

[2016-01-14 17:04] NiteshKant commented on #457
@fkasper thanks for providing more input. I have been working on a bigger feature on 0.5.x (load balancer and interceptors) so was not able to spend time on this much. However, in an unrelated change, I found that there was a issue that could have resulted in this behavior (although I am not sure). The issue was that if the channel never became active, no events will be passed to the subscriber li

[2016-01-14 18:12] fzakaria commented on #464
@NiteshKant thanks. I think I just mis understood the use.

I have gotten the abstraction to work as expected however I'm looking for full round trip time for a request to get a sense of how long the average request takes.
Do you have some ideas on how to gather that ?

[2016-01-14 19:06] fzakaria commented on #464
I believe it to be : requestProcessingTimes from looking at the code

[2016-01-17 13:24] yairogen commented on #459
@NiteshKant
I have a problem that when using rxnetty synchronously this solution works fine, but when using async it blocks and fails on timeout.

Sync code:

[code]

Async:

[code]

Any ideas why reading content from response blocks when using it from the subscriber callback?

[2016-01-18 18:54] NiteshKant commented on #459
The async example is blocking the eventloop since you are doing a blocking call (`response.getContent.toBlocking.first()`) inside `onNext()`. If the eventloop processing this connection is blocked, it will not give any more callbacks and hence you don't receive the content.

[2016-01-18 19:20] yairogen commented on #459
@NiteshKant Thanks. It is very confusing all the async layers here. Why do we need to have both the response and the content async?
Any way - what's the best approach to read the content in the async approach?

[2016-01-18 19:38] dfjones opened #466 "ByteBuf Memory Leak"
In production, I found indications of memory leaks and I believe I have traced it down to the following situation.

In a project using the RxNetty 0.4.x client through Netflix Ribbon/Hystrix, on a box with high CPU contention, it appears that memory can leak in the case where the Hystrix timeout fires before the client can deliver the ByteBuf to the subscriber. I believe this is a sort of race con

[2016-01-18 22:26] NiteshKant commented on #466
@dfjones thanks for the report. You mentioned that you were able to repro this with a test, do you mind sharing the test?

[2016-01-18 22:29] NiteshKant commented on #459
RxNetty supports streaming reads of content and headers, so it does not aggregate/collect the response content before giving a callback to the user. So, the content has to be async as it has not been read yet.

Have you seen the examples in RxNetty? Here is an example that listens to the content stream:

https://github.com/ReactiveX/RxNetty/blob/0.4.x/rxnetty-examples/src/main/java/io/reactivex/ne

[2016-01-18 23:16] NiteshKant commented on #464
@fzakaria the [onRequestProcessingComplete](https://github.com/ReactiveX/RxNetty/blob/0.4.x/rxnetty/src/main/java/io/reactivex/netty/metrics/HttpClientMetricEventsListener.java#L117) callback on the `HttpClientMetricEventsListener` provides the time taken to process the request from submission to completion. It may or may not be useful depending on what latencies are looking at (client side queuin

[2016-01-18 23:26] dfjones commented on #466
@NiteshKant I can't share that test because it relies on too much internal stuff. However, I will try to create an equivalent reproduction of the issue using just RxNetty components. I'll let you know if I'm able to do this or not.

[2016-01-19 00:58] NiteshKant commented on #466
Awesome, thanks!

[2016-01-19 08:42] yairogen commented on #459
I did look at these examples but here again they use toBlocking.
In my code, I did the following and I timeout:

[code]

I'm probably missing something fundamental here. I am wrapping the rxnetty client and I interact with the response outside of the netty scope.

I also need to support both sync and async wrapper API's.

[2016-01-19 15:43] yairogen commented on #459
@NiteshKant
After getting deeper into my problem I think I may have a solution. Please let me know what you think.

Sync code:

[code]

The 'NettyNetflixHttpResponse' constructor code:

[code]

The Async Code:

[code]

This seems to work ok. I think the code will break if the Http response doesn't contain a content. In that case can I assume that the getContent on the response object will always r

[2016-01-19 17:11] dfjones commented on #466
@NiteshKant Good news, I was able to reproduce the memory leak with a test using just RxNetty. I'll link the modified files here. If it is helpful, the full branch with all the extra debug logging/trace info is here: https://github.com/Squarespace/RxNetty/tree/memleak-debug

I created my test in the rxnetty-examples project. I used a modified HelloWorldServer because it appears the response needs

[2016-01-19 17:13] dfjones commented on #466
Forgot to attach a leak report from this new test:
[rxnetty-leak-report.txt](https://github.com/ReactiveX/RxNetty/files/96292/rxnetty-leak-report.txt)

[2016-01-20 01:15] dfjones commented on #466
@NiteshKant I put up the PR linked above. With this patch in place, the test I've shared here no longer produces a memory leak after running for a few minutes. Reading through the code...I couldn't see a reason not to set a timeout on creation of `UnicastContentSubject` if the client was configured to use one. Please let me know your thoughts. Happy to revise this as necessary. Thanks!

[2016-01-20 05:35] NiteshKant commented on #466
Fixed via #468

[2016-01-20 05:35] #466 closed, assigned to nobody

[2016-01-20 06:52] NiteshKant commented on #459
There is an assumption in this code, it assumes there is only ever a single `ByteBuf` in the content. It is ok, if you are making sure the client aggregates the content (if your usecase doesn't require streaming content). 0.4.x defaults to aggregated content so you are fine on that front.

`getContent()` never returns a `null`. If there is no content, it will return an empty `Observable` i.e. it j

[2016-01-20 06:57] yairogen commented on #459
You are correct in your assumptions. And indeed we have an existing interface that supports async and users pass in their callback listener which we delegate to from rxnetty async.

So, if you think that under our assumptions this is a valid code, I think we can close this issue.

I think I just need to call my callback completed from Netty completed and not from on next.

Thanks

[2016-01-20 07:04] NiteshKant commented on #459
Since, there is only a single `ByteBuf` in the content, it doesn't really matter as `onComplete()` will be called immediately after `onNext` but yeah it does not hurt either.

Yeah, the code looks good. Closing.

[2016-01-20 07:04] #459 closed, assigned to nobody

[2016-01-23 15:07] brharrington commented on #463
I tried using 4.1.0.CR1 which has the netty fix mentioned and I'm still seeing failures for this test case. Some other tests occasionally fail as well:

[code]

From another run:

[code]

[2016-01-27 21:10] bclozel opened #470 "HTTP client sends "Tranfer-Encoding: chunked" header with empty requests"
Sending any requests with the HTTP client, without a "Content-Length" header set, results in sending a "Transfer-Encoding: chunked" header - even if the client is sending a GET request with no body at all.

This was previously addressed properly (see #119) but that part has been moved to [AbstractHttpConnectionBridge](https://github.com/ReactiveX/RxNetty/blob/f4c9034099cf1bd6cde0189abf3b41793621a8

[2016-01-28 04:00] warmhug commented on #439
Honestly, it brought me a very big trouble. when start netty server it will throw `ResponseContentWriter...` error. The version of `0.5.0-SNAPSHOT` works well (but need myself build it manually), and the last update of this project was **seven** months ago, it's a very long time! I can not help but have a question, whether this project is in maintenance?!

[2016-01-29 06:17] NiteshKant commented on #439
@warmhug sorry for the trouble.

Yesterday a new snapshot was published as `0.5.2-SNAPSHOT` with the latest code in 0.5.x branch.
0.4.x was released in December and 0.5.x last Snapshot wasn't seven months ago for sure. Why do you say that the project isn't updated since seven months?

This project is well under active development.

[2016-01-29 06:23] NiteshKant commented on #470
@bclozel does it violate the HTTP spec if the transfer-encoding is chunked but there is no content?

[2016-01-29 08:35] bclozel commented on #470
I'm not 100% sure about this, since the spec sometimes refers to messages with "empty body", but I've [found this that at least suggests that a body should be present](https://tools.ietf.org/html/rfc7230#section-3.3):

The [next section](https://tools.ietf.org/html/rfc7230#section-3.3.3) does not strictly say that `Transfer-Encoding: chunked` requires a body, but there's still:

and

Which both su

[2016-01-29 09:54] warmhug commented on #439
@NiteshKant  I'm sorry about having a great wrong with the project's update time. hope you forgive me. :)

[2016-02-03 06:19] NiteshKant commented on #457
@fkasper @michaeldejong I have released a new snapshot as `0.5.2-SNAPSHOT` which has a related fix that I mentioned in my previous comment. It will be great if you guys can give it a spin!

[2016-02-03 06:31] NiteshKant commented on #470
As with any other RFC, I think two people interpret it differently :)

In order to make sure that we do not put `Transfer-Encoding: chunked` for empty bodies, we would have to delay writing headers until the content stream emits an item or terminates. Although possible, I think it does not achieve much benefit. A server that handles chunked encoding, must be able to handle such requests correctly

[2016-02-03 06:39] NiteshKant commented on #454
The unsubscriptions are now sent on the eventloop to be processed. I could not repro this issue with the latest snapshot (0.5.2-SNAPSHOT). I believe it is fixed.

[2016-02-03 06:42] #454 closed, assigned to NiteshKant

[2016-02-03 06:43] NiteshKant commented on #337
Interceptors are now available in the current snapshot and the examples can be found in rxnetty-examples module both for TCP & HTTP.

[2016-02-03 06:43] #337 closed, assigned to nobody

[2016-02-03 15:33] bclozel commented on #470
I ran into this issue while testing the client with a [MockWebServer](https://github.com/square/okhttp/tree/master/mockwebserver) instance.

[2016-02-03 20:21] michaeldejong commented on #457
Thanks @NiteshKant! We'll give it a try and I'll get back to you.

[2016-02-03 20:22] fkasper commented on #457
Thanks, also @NiteshKant I will check in a few days!

[2016-02-04 09:29] #405 closed, assigned to nobody

[2016-02-04 09:41] Crystark commented on #370
I'm also still fighting against those leaks. Can't seem to make it right even with the latest version of RxNetty & Netty.

With versions **0.4.10 + 4.0.27.Final** i get those leaks:

[code]

And this is with **0.4.15 + 4.1.0.CR1**

[code]

This is the same version but with no proxy call at all:

[code]

Those don't usually appear during standard test requests but i'm having alot of trouble in prod

[2016-02-04 09:54] michaeldejong commented on #457
This is looking promising! I haven't been able to generate any test failures just yet. So we decided to switch our services over to 0.5.2 (bleeding edge) as a result. I'll monitor this for a week or so and get back to you.

[2016-02-04 09:56] bclozel commented on #470
Some update on this.
The [RFC states](https://tools.ietf.org/html/rfc7230#section-3.3) that:

   Content-Length or Transfer-Encoding header field.  Request message
   framing is independent of method semantics, even if the method does
   not define any use for a message body.

So in that case, I guess the client should at least send a `0\r\n` body to send an empty body if nothing has been sent.

[2016-02-04 17:12] NiteshKant commented on #457
Thanks @michaeldejong for trying it out! Should I close this issue then?

[2016-02-04 17:53] fkasper commented on #457
I think you can close it. I have to first add the new migrations on the 2.0 zuul branch. So if I do encounter this error, I can simply open this ticket back up, right?

[2016-02-07 12:16] OskarKjellin opened #473 "ReadTimeout on request IClientConfig"
I'm returning a very short `ReadTimeout` to just try it out (1 ms) on the request `ReadTimeout`, but it has no effect, Setting it on the client `IClientConfig` instead it does have effect.

Is this supposed to be supported or not? I guess it is supposed to, because there is code that attempts to handle it. I see that it's set on the `HttpClientConfig`, but never read in the request.

[2016-02-08 09:24] Crystark opened #474 "[0.4.x] Disable auto-release buffers option forces to read content"
Hi,

Here's a use case: When I add the `disableAutoReleaseBuffers` option to my server and i entrer a case where i don't consume the incoming content (e.g. 404 NOT FOUND) then the `ByteBuf` isn't released and thus creates a leak.

I would think that `.ignoreContent` would do the work but it seems it doesn't: you have to read the incoming `ByteBuf` and release it manually. This can be somewhat prob

[2016-02-09 00:24] NiteshKant commented on #473
@OskarKjellin I think you are referring to classes in ribbon and not RxNetty?

[2016-02-09 00:37] NiteshKant commented on #457
@fkasper you can create a new issue and refer to this if you can't reopen. I will close this for now.

[2016-02-09 00:37] #457 closed, assigned to nobody

[2016-02-09 09:33] michaeldejong commented on #457
Seems to be resolved. Awesome work! :+1:

[2016-02-13 10:15] #461 closed, assigned to nobody

[2016-02-13 10:57] GrapeBaBa opened #478 "Build error on travis CI when upgrade to 0.5.2-snapshot"
Hi,

I have a project using RxNetty for transportation. It is OK when using 0.5.0-snapshot, when i just change buiild.gradle to 0.5.2-snapshot test failed on travis CI. But it is OK in my local laptop. I am not sure what is possible issue.

Test Class:[https://github.com/GrapeBaBa/vineyard/blob/master/vineyard-grape/src/test/java/io/grapebaba/GrapeTest.java](url)

[2016-02-13 11:00] GrapeBaBa opened #479 "Cannot find AbstractP2CStrategy.java using 0.5.2-snapshot"
Hi,

I cannot find the latest load balancer implementation in 0.5.2-snapshot.

[2016-02-14 11:33] OskarKjellin commented on #473
@NiteshKant Indeed they are in Ribbon. I thought the integration was the other way around. I'll move my ticket there

[2016-02-14 11:33] #473 closed, assigned to nobody

[2016-02-18 00:17] robertroeser opened #480 "WebSocket hangs"
Hi,

Been doing some testing with WebSockets and it looks like after a number of frames are sent that RXNetty is hanging. I changed the WebSocketClient test supply a range from 1 to 100k and it only makes to around 3k and just stops and hangs.

Thanks,
Robert

[2016-02-18 00:22] NiteshKant commented on #480
@robertroeser Are you flushing the writes?

[2016-02-18 00:28] robertroeser commented on #480
Guess not - I'm try to re-create a problem in reactive socket  so I maybe this isn't in rxnetty...Thought I re-created the problem here.

[2016-02-18 00:40] NiteshKant commented on #480
The [echo example](https://github.com/ReactiveX/RxNetty/blob/0.5.x/rxnetty-examples/src/main/java/io/reactivex/netty/examples/http/ws/echo/WebSocketEchoClient.java#L93) does not flush explicitly as it writes a finite stream (RxNetty flushes on completion of the stream). So, if you increase the number of frames it writes, it will mostly block because of the channel buffer being full and hence the c

[2016-02-18 18:30] NiteshKant commented on #474
@Crystark Apologies for the delayed response. This sounds like a bug. One should not be forced to call `.ignoreContent()`. In absence of a subscriber, the buffer must be released with `disableAutoReleaseBuffers`.

`RequestHadler` can return any `Observable` instance.

[2016-02-19 14:26] rotemfogel opened #481 "Using RxNetty as proxy cannot scale caused by locking and waiting"
Trying to use RxNetty as proxy is limited to 300 rps. trying to scale using more CPUs does not help.
Experiment is a server using HttpClient to call a static json file on local nginx server.
[(https://github.com/rotemfogel/RxNettyProxy)]

I am receiving 99% timeouts, getting blocked on waiting for java.util.concurrent.locks.AbstractQueuedSynchronizer$ConditionObject

Jprofiler Report can be found

[2016-02-19 16:39] brharrington commented on #481
Your example is using toBlocking for the client request. Adjusting it to just work with observables should give much better results. As a quick test adjusting your example:

[code]

nginx directly:

[code]

proxy

[code]

[2016-02-19 17:04] NiteshKant commented on #479
A snapshot has not been released after that change.

[2016-02-19 17:08] NiteshKant commented on #481
@brharrington :+1: `.toBlocking()` blocks the eventloop.

[2016-02-19 18:20] rotemfogel commented on #481
How can i call the external service and still wait on the reply?
בתאריך 19 בפבר' 2016 19:08,‏ "Nitesh Kant" notifications@github.com כתב:

[2016-02-19 18:50] NiteshKant commented on #481
For your usecase, you do not need to wait for the reply. As @brharrington mentioned, you can modify the code to write the response back, as and when it arrives asynchronously.

[2016-02-19 18:51] NiteshKant commented on #480
@robertroeser Did I answer your question? Can we close this issue?

[2016-02-19 19:05] robertroeser commented on #480
No- trying to narrow down the exact problem, but it seems to be related to websockets and backpressure. Trying to come up with a test to replicate the problem without reactive sockets.

[2016-02-19 19:26] rotemfogel commented on #481
Thanks guys.
I'll try your method.

[2016-02-19 19:38] rotemfogel commented on #481
Using @brharrington 's code I was able to increase the throughput, however it is not predictable.
When running several tests (Apache Bench) throughput is flactuating between 700 and 5000 rps.
Is that normal?

[2016-02-19 21:21] NiteshKant commented on #481
@rotemfogel typically I would warm up the server and there will be some variance post warm up but not that much. We did some benchmarks a while back and you can find the results + steps here:

https://github.com/Netflix-Skunkworks/WsPerfLab

[2016-02-19 22:39] robertroeser commented on #480
@NiteshKant I was able to run a test with a different websocket server and client. The only time the error reproduces is when I use the RXNetty server - it occurs with both the Netty client and the JSR client over websockets.

[2016-02-19 22:42] NiteshKant commented on #480
@robertroeser can you share the code?

[2016-02-19 23:08] robertroeser commented on #480
run the ping/pong test - it slow down after a few 100k requests
https://github.com/ReactiveSocket/reactivesocket-websocket-rxnetty

[2016-02-21 09:41] rotemfogel commented on #481
@NiteshKant Thanks.
One last question. Now that the timeout is on the observable, I cannot catch the java.util.concurrent.TimeoutException exception.
How do I use the onError on the http client?

[2016-02-21 14:11] rotemfogel commented on #481
My case is actually more complex than a proxy server. I receive a json request and call an external service which receives query params.
When converting to suggested code, I do not receive a single valid response.
I always receive an empty response
When stepping into the call (in debug mode) everything works.
[(https://github.com/rotemfogel/RxNettyProxy/blob/master/src/main/java/io/proxy/transform

[2016-02-21 16:33] krisskross opened #482 "Multiplex TCP connections"
I'm trying to multiplex a TCP ObservableConnection by using request ids to correlate request and response. The implementation below hangs, and only the first write reach the server.  I can make it work by pausing the writes slightly so there seems to be a race condition somewhere.

Using RxNetty 0.4.13.

[code]

[2016-02-21 18:22] NiteshKant commented on #482
The problem here is that the client is assuming that it receives every integer as a different `ByteBuf` in the input. Nothing underneath is guaranteeing such a reading pattern. If you correct your code in the client to read as many `int`s as available in the `ByteBuf` you will find all the responses.

[2016-02-21 18:29] krisskross commented on #482
Ah yes, of course. Thanks Nitesh.

[2016-02-21 18:29] #482 closed, assigned to nobody

[2016-02-22 19:22] NiteshKant commented on #481
The code you have pointed to is incorrect as you expect that when the code gets [here](https://github.com/rotemfogel/RxNettyProxy/blob/master/src/main/java/io/proxy/transformers/ExternalRequestExecutor.java#L59), the response is received and populated in `sResp`. This is a race and in most cases, it won't happen that the response is received in that time. You should compose the async response (eg:

[2016-02-22 19:35] rotemfogel commented on #481
Thanks @NiteshKant  for the reply.
I did not quite understand your response.
Could you please provide a fix for the code, if not too hard?

[2016-02-23 05:26] kennedyoliveira opened #483 "4.X Concat / Merge Execution Order"
Hello everyone!

I got a doubt i don't know if it's pertinent to RxNetty or RxJava, but since it's about sending and receiving data over TCP i'll post here.

I'm learning Rx programming and loving it, already refactored some code in a production app and it's running more efficiently, so i'm start to write a implementation of Asterisk AMI Protocol using Rx.

The concept is a TCP socket connection w

[2016-02-23 16:58] NiteshKant commented on #483
Correct, that is the reason it writes first.

Something like this,

[code]

Docs on [reactivex](http://reactivex.io) are quiet useful for understanding the operators. [Concat](http://reactivex.io/documentation/operators/concat.html) and [Merge](http://reactivex.io/documentation/operators/merge.html) should give you an idea about the differences.

[2016-02-23 17:14] kennedyoliveira commented on #483
Hi @NiteshKant, thanks for answering, and you cleared my doubt about this situation.
I'm new to react like a said, so i forgot was a Observable.error haha i guess it's ok for a newcomer.
By the way, the documentation was very clear about the difference, i read then so sleep that i didn't remember and asked instead of reading again.

[code]

Another question, it's more about a pattern, considering

[2016-02-24 05:59] NiteshKant commented on #483
An `ObservableConnection` allows multiple writes from different sources and RxNetty 0.4.x version also allow multiple input subscriptions. So, you can have multiple code paths using a connection. If you have a code example in an imperative style, I can suggest how it would be in with RxNetty.

[2016-02-24 15:56] kennedyoliveira commented on #483
The code for that is a little complex and involves alot of code for managing actions and events, so i'm try to write a very simplified version to you. Thank you for proposing that, it's sure will help me to learn alot and probably other peoples with same doubts! :D

[2016-03-03 09:22] rotemfogel commented on #481
refactored my code to transformers. on the rxclient side, using flatMap solved the problem.
works like a charm.
Thanks @NiteshKant @brharrington

[2016-03-03 09:22] #481 closed, assigned to nobody

[2016-03-07 16:33] rstoyanchev commented on #458
By the way we've resolved this through the use of a custom operator. Feel free to close this.

[2016-03-07 17:09] NiteshKant commented on #458
@rstoyanchev thanks for the update! Do you mind sharing the code for the custom operator?

[2016-03-07 17:50] rstoyanchev commented on #458
Sure see [WriteWithOperator](https://github.com/spring-projects/spring-reactive/blob/master/src/main/java/org/springframework/http/server/reactive/WriteWithOperator.java), this is with Project Reactor but the concept is the same.

[2016-03-09 10:32] eli-jordan opened #484 "SSE doesn't produce multiple events"
Based on this [example](https://github.com/ReactiveX/RxNetty/blob/0.5.x/rxnetty-examples/src/main/java/io/reactivex/netty/examples/http/sse/HelloSseServer.java) I was unable to get RxNetty to produce multiple events.

The output is

[code]

According to the spec there must a blank line in order for the client to dispatch the message, so since there are no blank lines all data is considered part of

[2016-03-10 00:59] kennedyoliveira commented on #483
Hey @NiteshKant!
I finally got some time to write a extreme simple code, i hope you can give me some advices on how to think reactive and should me some code.
I written some comments to make it clear somethings, it's very simple, and far from what i really want to implement, but i think if i managed to understand how to write it in reactive way, i can continue learning and writing the another part

[2016-03-10 16:47] NiteshKant commented on #484
@eli-jordan You are right, the data field should have a double new line character ([currently it has just one](https://github.com/ReactiveX/RxNetty/blob/0.5.x/rxnetty-http/src/main/java/io/reactivex/netty/protocol/http/sse/server/ServerSentEventEncoder.java#L103)). However, it should only be for the data attribute and not for other attributes, as I understand from the spec.
Do you want to send a q

[2016-03-11 03:32] kennedyoliveira opened #485 "Multithread HttpServer best pratices"
Hello everyone!

I'm using RxNetty to create a microservice that will responde to 4 ~ 6 specific resources to one application, and that microservice will be consumed by all the clients, like a central point of that resources, 1 of these resources if from a third party partner, and have some high latency, it vary from 800 ~ 1400 ms in my benchmarks to respond up to 250 ~ 500 req/s, my doubt is, wha

[2016-03-11 04:12] kennedyoliveira opened #486 "JavaAssist performance boost"
When i start RxNetty i saw in the console `01:02:37.255 [main] DEBUG i.n.util.internal.PlatformDependent - You don't have Javassist in your class path or you don't have enough permission to load dynamically generated classes.  Please check the configuration for better performance.`, does it applies to RxNetty? I saw some info that it helps improving performance for netty when it use some messageTo

[2016-03-12 06:54] ArekCzarnik commented on #484
@NiteshKant I have workaround, but this should not be the default case:

[code]

[2016-03-12 11:08] eli-jordan commented on #484
@NiteshKant Sure, I'll take a look at implementing PR.

Since a single event can have multiple `data: ...` lines, do you think it would make sense to have `ServerSentEvent` allow a `List<String>` to be passed?

[2016-03-12 20:31] kennedyoliveira opened #487 "HttpClient running on event loop"
When i make a request using the http client, this request is executed in the event loop, how can i exec it in another thread?
I tryed subscribeOn, observeOn, but nothing work, i'm trying a simple test:

[code]

[2016-03-14 16:03] NiteshKant commented on #484
@ArekCzarnik yes if you add a new line at the end of the message, it will have the desired result, it is an easy workaround.

@eli-jordan Is there any semantic difference between breaking the data into multiple data attributes? Does SSE have any max attribute value length limitation?

[2016-03-14 16:04] NiteshKant commented on #486
@kennedyoliveira yes RxNetty will have the same performance characterstics as netty in absence of Javassist.

[2016-03-14 16:07] NiteshKant commented on #485
If you are not explicitly blocking (eg: via `.toBlocking()`) nothing in RxNetty blocks. So, it is safe to execute an `HttpClient` request on the eventloop.

You mention that you are not comfortable running your third party service call in the eventloop because it is latent. Latency does not have an issue with asynchronous calls unless you block. So, I would not sweat running it on the eventloop.

[2016-03-14 16:09] NiteshKant commented on #487
If you are blocking on content callbacks, then you should do:

[code]

[2016-03-14 17:26] kennedyoliveira commented on #485
@NiteshKant , thank you for your feedback in all questions i asked haha, you are helping alot!
So, based on this answer and the #487, i only need to schedule the execution if when i consume the response content i block, in this case i will use observeOn to observe the emissions in another thread instead of the subscribeOn that i was using, it this correct?

Another thing about consuming the respon

[2016-03-14 17:52] kennedyoliveira commented on #486
@NiteshKant, but if i use Javassist the performance would be improved?

[2016-03-14 20:17] ArekCzarnik opened #488 "rxnetty proxy in 0.4x with binary data..."
currently im working on a simple proxy solution with rxnetty (the code is below). If the response is a text all works fine, but if the response is a image the reduce with strings does not work.
If i work only with response.writeBytes i have strange issues.
How i can work only with ByteBuffer ? or make better solution ?

[code]

[2016-03-15 00:19] eli-jordan commented on #484
The only real difference based on my reading of the spec, is that if you want to have new lines in message data you need to use multiple `data: ...` lines. However, it looks like the code is splitting on new lines, so `Arrays.asList("foo", "bar")` is equivalent to `"foo\nbar"`. So I don't think the List is required

[2016-03-15 05:02] kennedyoliveira commented on #483
hey @NiteshKant, could you please, give me some hint on that? Thank you!

[2016-03-15 10:23] ArekCzarnik commented on #488
i have a solution , not really perfekt. i copy the ByteBuffer to simple byte[] array and after that i concat the bytes. Any better solution ?`

[code]

`

[2016-03-15 10:58] Crystark commented on #436
It seems I'm getting this exact same error in a non proxy environment.
I'm using Hystrix with timeouts to do an HTTP call.

How does RxNetty handle the fact the request has been started but its response observable is unsubscribed from before onNext is called ? Could this leak the response ByteBuf ? Could this lead to some race condition ?

I wonder if there's any chance `Connection closed by peer

[2016-03-16 05:05] NiteshKant commented on #436
RxNetty should close the channel and cleanly release all unused buffers. If it does not, it is a bug but without a reproducer it is really hard to see where the problem could be.

[2016-03-16 09:48] Crystark commented on #436
Ok, so I've created this gist: https://gist.github.com/Crystark/245ee10bf00a2724f229

I can't reproduce the "Connection closed by peer" error but this shows a leak 100% of the time.
If you comment line 51 (`.timeout(15, TimeUnit.MILLISECONDS)`) then no leak occurs.

Can you tell me if I'm doing something wrong or if there indeed is a problem ?
Thanks!

[2016-03-16 09:51] Crystark commented on #441
Issue https://github.com/ReactiveX/RxNetty/issues/436 could be linked to this.

[2016-03-16 16:23] NiteshKant commented on #436
Thanks @Crystark for the repro, I can reproduce it locally. Quick look at the access record, it looks like the leak is somehow happening in the `HTTPObjectAggregator`. I will dig more into this.

[2016-03-16 16:44] NiteshKant commented on #486
Javassist is used by netty at a few places, if available. I have not come across any benchmarks of the comparisons between the two but it depends on your usage, so I would say it is worth to try it out.

[2016-03-16 22:12] kennedyoliveira commented on #486
@NiteshKant, thanks, i will try to do a few benchmarks, if i see something interesting i'll share here

[2016-03-16 22:39] NiteshKant commented on #486
Great, I am interested in hearing about what you find.

[2016-03-18 03:42] Sting926 opened #489 "DuplicateFileException when bulid in Android Studio"
Error:Execution failed for task ':app:transformResourcesWithMergeJavaResForDebug'.

how to solve the problem?

[2016-03-22 15:01] Sting926 commented on #489
dependencies {
  ...
  compile('io.reactivex:rxnetty-tcp:0.5.2-RC1') {
    exclude group: 'org.openjdk.jmh'
  }
  ...
}

[2016-03-24 08:26] Crystark commented on #436
Have you had time to look into this ?

[2016-03-24 18:52] NiteshKant commented on #436
@Crystark yes I did look into it and started working on a PR but got distracted.
The issue here is that [`UnicastContentSubject`](https://github.com/ReactiveX/RxNetty/blob/0.4.x/rxnetty/src/main/java/io/reactivex/netty/protocol/http/UnicastContentSubject.java) does not release the buffers if the subscriber unsubscribes before termination.

If you are interested in working on a fix, it will be awes

[2016-03-29 20:48] NiteshKant commented on #456
@rotemfogel Can I close this issue?

[2016-03-29 20:48] #458 closed, assigned to nobody

[2016-03-30 09:58] Crystark commented on #436
@NiteshKant I sadly do not have enough time to spare to work on this :( let me know if you get the time to resume the work on the PR. I'd be interested in understanding how  [UnicastContentSubject](https://github.com/ReactiveX/RxNetty/blob/0.4.x/rxnetty/src/main/java/io/reactivex/netty/protocol/http/UnicastContentSubject.java) works cause it's still a bit obscure to me.

[2016-03-30 17:22] rotemfogel commented on #456
yes. thank you

[2016-03-30 17:22] #456 closed, assigned to nobody

[2016-04-05 07:38] Crystark commented on #436
@NiteshKant I was going through your fork and i noticed #466 that seems very similar to what we're talking about here. Did you test my code on that fixed version ? I don't have the means to do it at the moment but I thought I'd ask as you were able to reproduce the problem with the code I provided.

[2016-04-07 07:35] jamesgorman2 opened #490 "Blocking IO in content.writeString() [0.5.2-SNAPSHOT]"
Hi there,

we have code returning the results of a JDBC call (blocking IO) in a `reponse.writeString()`. Trying to offload this to `Schedulers.io()` results in an intermittent failure:

[code]

code (when unwound):

[code]

NB - I've include the `onErrorResumeNext` in this order since it's part of how our composition goes together

When we hit the service in AWS with ~7 concurrent requests we'll g

[2016-04-07 16:11] rstoyanchev opened #491 "Test failures with RxJava 1.1.2"
The 0.5.x branch has some failures in the examples packages with RxJava 1.1.2. Here are a few failing tests although they do vary each time the tests are run:

[code]

Failures are also present with RxJava 1.1.1 so possibly it goes back to that release. Are there plans to upgrade?

[2016-04-08 15:06] chefhoobajoob opened #492 "Question: where is 0.4.x documentation?"
New to RxNetty, want to use something stable for now, but can't find any documentation/examples on 0.4.x usage. Where should I look?

[2016-04-11 17:25] mfulgo opened #493 "Release 0.4.16?"
Hi @NiteshKant,

I was wondering if you'd be amenable to releasing 0.4.16 to at least get the memory leak fix for issue 466 published. (Since I suspect a fix for issue 474 will not be ready for a while.)

Thanks,
-Matt

[2016-04-11 23:37] jamesgorman2 commented on #492
Have you looked on the 0.4.x branch?

If not, got to the root of the project and switch the branch to 0.4.x. The 0.4.x readme is here with links to the examples.

Direct links:
https://github.com/ReactiveX/RxNetty/tree/0.4.x
https://github.com/ReactiveX/RxNetty/tree/0.4.x/rxnetty-examples

[2016-04-12 04:41] NiteshKant commented on #493
I am out of office and away from computer for a few weeks and back on 18th of this month.
I will take the release as the first task once I am back.

@brharrington @rspieldenner any chance we can set up release with Travis for 0.4.x branch too?

[2016-04-12 04:43] NiteshKant commented on #491
I will take this up next week, once I am back in office.

[2016-04-12 12:21] brharrington commented on #493
Back ported in #494

[2016-04-12 14:45] ArekCzarnik commented on #484
Hi @eli-jordan,

are you have change something? If not i would make pull request with simple fix.

Thanks,
Arek

[2016-04-12 14:53] ArekCzarnik opened #495 "RXNetty 0.4 proxy redirect issue"
Hi @NiteshKant,

i found a issue in my proxy handler if the backend send redirect 302 to the client.Have you a workaround or fix for me ?

Thanks,
Arek

This is my code:

[code]

And this is the Exception:

[code]

[2016-04-12 21:22] eli-jordan commented on #484
I found this bug when evaluating libraries... We ended up choosing something else, and I haven't had time to come back to this. Please feel free to make the change.

[2016-04-18 06:41] ArekCzarnik commented on #495
this solved my problem:

[code]

[2016-04-19 18:21] NiteshKant commented on #436
@Crystark you are rite, #466 will add the timeout for every request and I didn't use the fixed version (duhh outdated forks). I checked it now and there is no leak with the fixed version.

[2016-04-20 07:55] Crystark commented on #436
@NiteshKant awesome news ! Any plans to release soon ? ;)

[2016-04-20 15:27] NiteshKant commented on #436
I am working on a fix for #474 and should be able to release this week.

[2016-04-20 21:08] raphaelbrugier opened #496 "netty-transport-native-epoll dependency triggers warning"
Hi,

I am running into an issue where having the netty-transport-native-epoll dependency in the classpath triggers a warning from the cassandra driver. Because the os specific binary is missing, which is legitimate.
see: jhipster/generator-jhipster#3428

I found this kind of problem has already been reported [here](https://groups.google.com/a/lists.datastax.com/d/msg/java-driver-user/QgwtAB7Mhn8/Y

[2016-04-21 02:18] jamesgorman2 commented on #414
Hi Nitesh,

did you get any further on this? I have a repo exhibiting this when running tests in a resource constrained environment (eg on a CI server or single core VM; the repo is a fork of [rxnetty-router](https://github.com/Trunkplatform/rxnetty-router) `gradlew test`).

When it will appear:
- Snap CI
- single core Ubuntu VM running on VirtualBox on a MacBook
- commandline/IDEA when a lot of C

[2016-04-21 05:28] NiteshKant commented on #496
@raphaelbrugier is "optional" supported by gradle?
I am open to this idea and if you have a solution, feel free to send a PR!

[2016-04-21 13:36] raphaelbrugier commented on #496
Hi @NiteshKant,

I assumed there "optional" is supported by gradle, and didn't check :)
I'll verify and see if I can submit a PR.

For both the 0.4.x and 0.5.x branches I suppose?

[2016-04-21 17:23] raphaelbrugier commented on #496
Well, I assumed too much.
optional support have been requested in gradle for a [long time](https://issues.gradle.org/browse/GRADLE-1749)
Gradle has recently (3 days ago! version 2.12) included a [compileOnly option](https://docs.gradle.org/current/release-notes#support-for-declaring-compile-time-only-dependencies-with-java-plugin) for the dependency which is similar to maven provided and should do

[2016-04-22 15:08] raphaelbrugier commented on #496
Hi,

I was able to run the `HttpLoadBalancingClient` example in a separate project depending on the new pom and it works fine.

Here is the dependency graph with maven on this sample:

[code]

I'll prepare a PR

[2016-04-22 15:59] #496 closed, assigned to nobody

[2016-04-26 15:51] NiteshKant commented on #493
@mfulgo I am still behind on closing the issue for this release. Hope to get it going this week.

[2016-04-26 15:56] NiteshKant commented on #490
@jamesgorman2 apologies for the delayed response.
This is a bug, I can repro it locally. It looks like the pipeline isn't set correctly to transform `String` to `HttpContent` in this case, before it reaches the Http encoder.

Yes in this case, RxNetty subscribes to the passed `Observable` to write. If the passed `Observable` blocks inside `onSubscribe` then yes it will block the eventloop. You are

[2016-04-26 15:57] NiteshKant commented on #489
@Sting926 it doesn't look like anything needs to be changed in RxNetty. Can I close this?

[2016-04-26 16:00] grubern commented on #489
Users\XXX.gradle\caches\modules-2\files-2.1\org.openjdk.jmh\jmh-core\1.11.2\f4f8cd9874f5cdbc272b715a381c57e65f67ddf2\jmh-core-1.11.2.jar
File2: C:\Users\XXX.gradle\caches\modules-2\files-2.1\org.openjdk.jmh\jmh-generator-annprocess\1.11.2\72d854bf76ba5e59596d4c887a6de48e7003bee2\jmh-generator-annprocess-1.11.2.jaren..?

[2016-04-26 22:09] mfulgo commented on #493
Thanks for the update, Nitesh!

[2016-04-26 22:54] jamesgorman2 commented on #490
No worries @NiteshKant, saw you were on holiday recently and expected a bit of a delay. Good to hear you have a repro for this. (and thanks for all the work on RxNetty)

[2016-04-29 08:04] graemerocher opened #501 "jmh-core dependency: what is it for?"
I've been looking at the source of the project and trying to understand the dependency graph and so on. Can someone explain what the `jmh-core` and `jmh-generator-annprocess` dependencies are for? I cannot find any reference to these libraries in the codebase. Are they transitive dependencies needed by some library?

I commented out the dependencies and ran `gradle check` and all tests pass except

[2016-05-04 09:08] bruceleexiaokan commented on #493
We are blocked by the bugs and waiting for a new release to fix memory and dispose bug. Looking forward to see the new version ASAP. Thanks a lot.

[2016-05-04 15:53] NiteshKant commented on #474
Fixed via #497

[2016-05-04 15:53] #474 closed, assigned to nobody

[2016-05-04 16:51] NiteshKant commented on #493
@bruceleexiaokan @mfulgo I released 0.4.16 today.

[2016-05-04 16:51] #493 closed, assigned to nobody

[2016-05-10 14:04] Crystark commented on #493
@NiteshKant I can see the release in the release section and on maven but I see no tags. Is that normal ?

Thanks alot for this release !

[2016-05-10 15:35] NiteshKant commented on #493
@Crystark Actually the tag is there:

https://github.com/ReactiveX/RxNetty/tree/0.4.16

but I manually created it and missed the "v" prefix so it does not pop up to the top on the list 😵

[2016-05-10 15:58] Crystark commented on #493
@NiteshKant indeed !

Thanks again for this version. We're currently testing it to see if it solves our leak problems. I'll let you know how it goes!

[2016-05-11 05:25] NiteshKant commented on #490
Ok so an update to the issue. The problem here is of ordering of the items written. For HTTP, RxNetty adds a `LastHttpContent` at the end of the content stream to mark the end of chunked content. In this particular case, the `LastHttpContent` gets written before the content stream completes which causes the illegal state in the HTTP encoder.

The reason for the wrong ordering of writes is as follo

[2016-05-11 12:04] jamesgorman2 commented on #490
Good work on spotting that. Sounds like your in maths-land with respect to proving correctness over non-deterministic parallel systems. Is the problem setting up a harness in the Netty layer rather than testing that the RxNetty layer is emitting in the correct sequence?

[2016-05-12 07:51] Crystark commented on #436
This has been fixed in 0.4.16 ! Thanks alot !

[2016-05-12 07:51] #436 closed, assigned to nobody

[2016-05-12 07:52] Crystark commented on #441
Timeouts have been fixed as of 0.4.16!

[2016-05-12 07:52] #441 closed, assigned to nobody

[2016-05-12 13:44] Crystark opened #503 "io.reactivex.netty.client.PoolExhaustedException although pool is at 12k and we're receiving 2k QPS"
Hi,

We're seing the following errors on our proxy server:

[code]

I'm kinda unsure of what can be causing this. Our Proxy is getting around 4k QPS but only redirect half of those (2k) to the RxNetty client which is configured with `withMaxConnections(12000)`. The target server answers in an average of 30ms. We got this error after 12 hours of production and restarting the service fixed the probl

[2016-05-13 23:12] NiteshKant commented on #503
Connection should be released when the response completes or there is an error.
So, if this is happening, it looks like a leak. Hard to find where it would be coming from though without looking at the code.
Do you use the metrics for connection pool? If so, do release and acquire align?

[2016-05-13 23:14] NiteshKant commented on #490
The problem is to deterministically reproduce that race-condition which I describe 😄

[2016-05-13 23:28] NiteshKant commented on #501
It was added for perf tests but the tests never made it in, so it can be removed.

[2016-05-13 23:29] #489 closed, assigned to nobody

[2016-05-16 17:33] nithril opened #505 "Race condition between connection creation and Observable/Pipeline creation"
Hello,

I  start `HelloWorldServer` and I run `HelloWorldClient` multiple time. Sometime `HelloWorldClient` hangs waiting for the response.

A netstat shows the connection is established but the request is not sent. When I debug the whole thing, I seems there is a race condition when establishing the connection

To reproduce the issue `HelloWorldClient` must be executed in debug mode. IDE is confi

[2016-05-17 17:20] NiteshKant commented on #505
Thanks @nithril for the detailed analysis of the issue.

I have put in a fix for the issue and it looks like all travis failures were due to this race! Here is the relevant PR #504

[2016-05-17 17:20] #490 closed, assigned to nobody

[2016-05-17 17:20] #505 closed, assigned to nobody

[2016-05-17 17:22] NiteshKant commented on #491
0.5.x is upgraded to 1.1.3 for the time being. I will upgrade to 1.1.4 later

[2016-05-17 17:22] #491 closed, assigned to nobody

[2016-05-17 17:23] NiteshKant commented on #414
#504 fixes the tests, It was due to the race-condition as mentioned in #505

[2016-05-17 17:23] #414 closed, assigned to NiteshKant

[2016-05-18 19:11] nithril commented on #505
Thanks for the fix

[2016-05-22 06:38] Feng-Zihao commented on #503
I face the same problem these days we we're developing our gateway.

At the high load, first, there're few connections getting ConnectionReset exception.

Bit by bit, the later connections get the  io.reactivex.netty.client.PoolExhaustedException.

[2016-05-22 09:09] Crystark commented on #503
@NiteshKant Sorry seems like i missed your answer earlier. I don't use the metrics but I could if I knew how ;) i'll dig a bit into this see if I can find anything.

[2016-05-24 21:18] rstoyanchev opened #509 "RxNetty server hangs if request content subscriber does not unsubscribe"
When using [RxJava1ObservableConverter](https://github.com/reactor/reactor-core/blob/master/src/main/java/reactor/core/converter/RxJava1ObservableConverter.java) from the Reactor project the server hangs when request input is read but no response output is written.

This is because unlike the official Reactive Streams / RxJava bridge, the alternative from Reactor does not call cancel (disallowed b

[2016-05-26 12:41] mkmainali commented on #503
@Crystark I have seen similar issue when I was using ribbon as a client. There was a bug on the way the maxConnectionsPerHost was handled and I have filed the following ticket (also working on a fix right now)

https://github.com/Netflix/ribbon/issues/290

Could this be similar to what you are seeing?

[2016-05-26 12:42] mkmainali commented on #436
I also hit the same issue. I upgraded my version to 0.4.16 but I still see this issue. Any idea on which versions of dependencies (netty, http-codec etc.) should we use for this one?

[2016-05-27 02:20] kennedyoliveira commented on #487
@NiteshKant, thanks.

[2016-05-27 02:20] #487 closed, assigned to nobody

[2016-05-27 02:22] #485 closed, assigned to nobody

[2016-05-27 02:22] #483 closed, assigned to nobody

[2016-05-27 02:22] #486 closed, assigned to nobody

[2016-05-27 11:09] Feng-Zihao commented on #417
@Crystark   I'm now working on a http proxy project. I face the same problem as you do.

Your post and @NiteshKant  is helpful.

I've digged a little deeper. What we need, is "direct bytestream forwards".

If you start digging with `PipelineConfigurators.httpClientConfigurator`, you'll find  `HttpClientPipelineConfigurator`  is connected to `HttpClientCodec`, finally with `Decoder` in `HttpClientC

[2016-05-28 07:34] NiteshKant commented on #509
@rstoyanchev and @akarnokd thanks for digging into this.

Irrespective of this issue, the call to `ctx.fireUserEventTriggered` is wrong in the class in question. As @akarnokd pointed, it should be changed to `super.userEventTriggered`.

For this issue, I am a bit confused about why this fix will work. As you have mentioned that the subscriber does not call unsubscribe and this code is executed onl

[2016-05-28 07:40] NiteshKant commented on #503
@Crystark [rxnetty-spectator module](https://github.com/ReactiveX/RxNetty/tree/0.4.x/rxnetty-spectator) gives information about how to attach metrics listeners

[2016-05-28 07:41] #492 closed, assigned to nobody

[2016-05-28 07:42] NiteshKant commented on #479
Use [0.5.2-rc.2](https://github.com/ReactiveX/RxNetty/releases/tag/v0.5.2-rc.2) which is the latest release.

[2016-05-28 07:42] #479 closed, assigned to nobody

[2016-05-28 07:43] NiteshKant commented on #478
There were issues with test, [0.5.2-rc.2](https://github.com/ReactiveX/RxNetty/releases/tag/v0.5.2-rc.2) fixes those issues.

[2016-05-28 07:43] #478 closed, assigned to nobody

[2016-05-28 07:43] #464 closed, assigned to nobody

[2016-05-28 07:44] NiteshKant commented on #464
I do not see any change which is required so closing.

[2016-05-28 07:46] NiteshKant commented on #434
Closing this now.

[2016-05-28 07:46] #434 closed, assigned to nobody

[2016-05-28 07:47] NiteshKant commented on #372
With the introduction of interceptors, a separate contexts module isn't required.

[2016-05-28 07:47] #372 closed, assigned to nobody

[2016-05-30 14:25] rstoyanchev commented on #509
I think this code is executed also as a result of `request.dispose()`.

[2016-05-31 16:25] NiteshKant commented on #509
Correct, `dispose()` will subscribe to the content, which will be enqueued in the `pendingContentSubs` queue. The code in question though will only be called on `unsubscribe` which is what confuses me as to why it will help as for the case in question, no one unsubscribes.

[2016-05-31 17:35] NiteshKant commented on #509
FYI #510 uses the fix as suggested here.

[2016-06-01 02:46] rstoyanchev commented on #509
The most recent snapshot [I see here](https://oss.jfrog.org/artifactory/libs-snapshot/io/reactivex/rxnetty-http/0.5.2-SNAPSHOT/) is from 5/23. As soon as there is one that includes the fix I will verify it.

As for what actually happens, here is a stack trace that may help:
![image](https://cloud.githubusercontent.com/assets/401908/15696680/dfbaad3c-2780-11e6-9a13-0d2ec61247ca.png)

This is based

[2016-06-01 16:17] Crystark opened #511 "What could cause the RxNetty client to return an empty stream ?"
I'm using a fairly simple RxNetty client:

[code]

The thing is, I often get an empty observable from `endpoint.submit` and i'm not sure what could be causing that. I expect it to always return a `HttpClientResponse<ByteBuf>`.

What may cause it to return an empty stream ?

Note: I checked and my input Observable (`o`) is never empty.

[2016-06-01 20:02] NiteshKant commented on #509
@rstoyanchev the latest snapshot contains this fix.

Yeah that stacktrace is for RxJava subscribers that cleanly unsubscribes. My question is that if the content subscriber does not unsubscribe, then why does this fix will help. Anyways, try out the latest snapshot to see if the issue is fixed. I will keep this one open till I hear from you.

[2016-06-01 20:07] NiteshKant commented on #511
Yes, `HttpClient.submit()` should either give a response or error, but it should not be empty.
Is this reproducible?

[2016-06-01 21:41] rstoyanchev commented on #509
@NiteshKant thanks for re-opening. I can confirm the fix does work.

[2016-06-01 23:44] NiteshKant commented on #509
Thanks!

[2016-06-01 23:44] #509 closed, assigned to nobody

[2016-06-02 07:24] Crystark commented on #511
No, I haven't been able to reproduce it yet, only observe it in production. It isn't recent. I've tried switching to previous RxNetty version and still have the same behavior.

[2016-06-02 08:23] Crystark commented on #511
I currently fixed it using `switchIfEmpty(DEFAULT_RESPONSE.doOnNext(r -> metricFallback.increment()))` so I can track how often it happens. Visually, we oberved approximatly 5 of those per second for 1500QPS so that seems rare.

Just so you know, I've changed a bit the code to make sure:

[code]

This always shows

[code]

[2016-06-02 08:38] Crystark commented on #511
Also FYI, this is the same RxNetty client that has the pool exhausted problem (#503)

[2016-06-02 10:25] changjiashuai opened #512 "DefaultChannelId: Failed to find a usable hardware address from the network interfaces; using random bytes: c8:7e:34:6b:c8:ff:72:8f"
version: RxNetty-0.4.16

DefaultChannelId: Failed to find a usable hardware address from the network interfaces; using random bytes: c8:7e:34:6b:c8:ff:72:8f

NioEventLoop: Selector.select() returned prematurely 512 times in a row; rebuilding selector.
NioEventLoop: Migrated 1 channel(s) to the new Selector.

death loop how to return error?

[2016-06-02 15:19] NiteshKant commented on #512
Which Java version are you using?
Can you also share the code you are using?

[2016-06-03 01:54] changjiashuai commented on #512
Java version 1.7

The issue just happened in OPPO X9000 mobile phone. And I find the [https://github.com/netty/netty/issues/3490](url) . the code can't share with you because it's private.

[2016-06-03 05:23] NiteshKant commented on #512
The issue is more than an year old and is fixed in the version RxNetty uses. Do you think the `Selector` returning prematurely is because of using random bytes for channel Id?

It does not look like an RxNetty issue, may be you should report to netty.

[2016-06-03 07:10] changjiashuai commented on #512
I think when the `Selector` returning prematurely is because of using random bytes for channel Id RxNetty should be throw a error not use random bytes  try to connect. Do you think?

[2016-06-06 14:57] leslie-leder opened #514 "Callbacks for custom http log"
With version 0.5.2.I can't figure out how to add all required callbacks in a single step to the HttpClientRequest in order to write a complete http log in a custom format.

I think about a function _HttpClientRequest<I,O> => HttpClientRequest<I,O>_ wherein I could add all callbacks in order to get all information about the effective _HttpClientRequest_, _HttpClientResponse_ pair. So I could log  u

[2016-06-06 17:52] NiteshKant commented on #514
Interceptors are a good way of intercepting(logging in your case) request/responses on a client. [rxnetty-examples](https://github.com/ReactiveX/RxNetty/tree/0.5.x/rxnetty-examples) contains examples for interceptors, [here](https://github.com/ReactiveX/RxNetty/blob/0.5.x/rxnetty-examples/src/main/java/io/reactivex/netty/examples/http/interceptors/simple/InterceptingClient.java) and  [here](https:

[2016-06-07 08:43] leslie-leder commented on #514
I've tried to use the _InterceptingHttpClient.intercept_ method in order to achieve a similar behavior like _HttpClient.enableWireLogging_.

But the inner _RequestProvider.createRequest_ method expose only http- version, method and uri. There are no request header attributes available.

With _transformContent_ I do log the request and with _transformResponseContent_ I get the response data.

But w

[2016-06-08 17:02] NiteshKant commented on #514
@leslie-leder I think having a netty channel handler for this log will be much easier (and pluggable) than using interceptors. You may find the following handler useful:

[code]

You can add this handle to the client as follows:

[code]

Apologies for suggesting the wrong direction initially.

[2016-06-08 17:07] NiteshKant commented on #512
I do not think the two things (random bytes for channel ID and selector returning prematurely) are related.

`ChannelId` is used internally by netty for bookkeeping and logging, it is not used by the java selector. Selector returning prematurely is due to a java nio bug which may be what is the case with the environment you are using.

[2016-06-09 07:00] leslie-leder commented on #514
@NiteshKant this is exactly what I was looking for. Thanks a lot for this detailed foolproof example.

[2016-06-15 06:58] NiteshKant commented on #514
No worries, @leslie-leder I will close this issue now.

[2016-06-15 06:58] #514 closed, assigned to nobody

[2016-06-20 08:14] graemerocher commented on #462
It doesn't seem possible to try it, since RxNetty hides the underlying netty request. And the Netty API for multipart handling requires access to the request object:

https://github.com/netty/netty/blob/4.1/codec-http/src/main/java/io/netty/handler/codec/http/multipart/HttpPostRequestEncoder.java#L154

So as it stands it isn't possible to create multipart request with RxNetty, at least not with th

[2016-06-20 18:14] billyyarosh commented on #462
@graemerocher I agree that you cannot use the native netty tooling. We have been using the raw netty client today for this and will not have time to implement any APIs around the multipart for RxNetty. We may just provide some utilities for specific use cases like file upload.

[2016-06-22 23:53] #501 closed, assigned to nobody

[2016-06-24 16:00] kurzweil opened #520 "RxNetty HTTP client protocol always sends a empty message-body for GET method."
I am using RxNetty to implement a HTTP client which performs HTTP GET and WebSocket operations. Currently I'm using this client to interact with the stock remote debugging interface implemented as a webserver internal to the Chrome Browser and have discovered that RxNetty expresses a bug within the Chrome Browser that immediately causes it to segmentation fault while upgrading to the WebSocket pro

[2016-06-24 17:39] dfjones opened #521 "RxNetty and Hystrix Request Caching"
I'm curious if anyone has any experience/advice with the combination of RxNetty and Hystrix request caching.

The default [Concurrency Strategy](https://github.com/Netflix/Hystrix/wiki/Plugins#concurrency-strategy) for Hystrix seems a bit at odds with the concurrency model of RxNetty (or anything async). I've noticed some hooks in Hystrix to try and populate context to child threads, but the issue

[2016-06-24 22:13] jamesgorman2 commented on #520
Hey Ken, looks like a duplicate of #470. Short version is that the RFC seems to conflate message body and payload (and null-ability and emptiness - is an zero length body the same as a single zero length chunk?) w.r.t. chunked encoding so it's ambiguous as whether RxNetty is 'correct' (I tend to side with Nitesh on the loose interpretation. Of course this doesn't help if Chrome is dying on you).

[2016-06-25 03:23] NiteshKant commented on #520
Thanks @kurzweil for the detailed analysis ❤️

@jamesgorman2 thanks for pitching OSS FTW ❤️

Since I have now seen an example of things that behave badly with such requests, its time to atleast put a workaround 😄

I think if a `Content-length` header is set to 0, then RxNetty should not send chunked-encoded payload and hence avoid an empty chunk. I can make this change, if it isn't the case today.

[2016-06-25 04:18] kurzweil commented on #520
Setting the `Content-length` header to 0 suppresses generation of a message-body. For my purposes this a suitable workaround. Thanks for the help.

[2016-06-25 04:58] jamesgorman2 commented on #520
EDIT: I've been working in .Net land recently and just realised `Observable` is a class not an interface - this mean this won't work as is since the header objects would need to extend `Observable<HttpClientResponse<O>>` and `Observable<Void>`. Maybe a `#withEmptyBody()` to set the `Content-length` and convert the type to `Observable` is a sufficient start.

Given there is a mechanism to suppress

[2016-06-25 23:32] NiteshKant commented on #520
@jamesgorman2 I was thinking more like an implementation detail that does not write a body if `Content-Length` is `0`.
The reason why I wasn't thinking about extending the API is because it really is a workaround, most of the cases, no one should really be worrying about it. So, it doesn't seem to me that it warrants an API change.

For this workaround, the usage will just be:

[code]

instead of

[2016-06-25 23:33] NiteshKant commented on #512
I am closing this bug, I don't think it is an RxNetty issue (as explained above).

@changjiashuai let me know if you think otherwise.

[2016-06-25 23:33] #512 closed, assigned to nobody

[2016-06-25 23:35] NiteshKant commented on #470
@bclozel see #520
We now have a case where sending empty chunk is an issue :)

[2016-06-25 23:36] NiteshKant commented on #413
Netty is adding Auto-Flush support. Related PR: https://github.com/netty/netty/pull/5395

[2016-06-25 23:45] jamesgorman2 commented on #413
Nice one, be good to see that in

[2016-06-25 23:58] jamesgorman2 commented on #520
I can certainly look at this. I'll put something in for the basic solution you proposed.

W.r.t. my proposal, it was around (a) providing sensible defaults for GET, (b) providing a fluent way to create explicit empty messages, and (c) preventing people thinking they can write to the object after making an empty message. These are in-effect separate from actually ensuring the body is empty so I'm h

[2016-06-26 00:17] NiteshKant commented on #520
Absolutely, I will be happy to look at your changes!

[2016-06-26 10:22] jamesgorman2 commented on #520
Turns out didn't need a complicated solution and the building blocks were there already.

[2016-06-26 12:27] jamesgorman2 commented on #430
I was looking at this (basic `Observable.Transformer`) and I can make sense of `<ByteBuf, ByteBuf>` collection, but `ContentSource<T>` is generic, so I can't make sense of collection of all possible emission types from it.

Can this be treated like `HttpClientResponse#getContentAsServerSentEvents()` which is forcing the decoding to `ContentSource<ServerSentEvent>`? It looks to me like it can't sin

[2016-06-26 17:39] NiteshKant commented on #520
So looks like adding a header of `Content-Length` as `0` works today i.e. it won't send the empty chunk. @kurzweil that should unblock you for what you are doing.

@jamesgorman2 I think your PR still makes sense as it is solving a different usecase which is adding `Content-Length` as `0` when someone hasn't added a content stream (it doesn't work if someone adds an empty stream though, which is fi

[2016-06-26 23:53] jamesgorman2 commented on #411
Hey Nitesh, is this is the pipe for you? We're going to be looking at getting some of our traffic coming and going from RxNetty compressed in the next month or so this will be on our radar and can drop some PRs if you're not going to get to it by then.

[2016-06-27 00:57] NiteshKant commented on #430
@jamesgorman2 you are correct that this only applies to `ByteBuf` content and I agree that since this is not generic, it is better to include it in a utility class and not the main API.

I like your approach in the code you linked here, although for bounded collection (max bytes), I would throw an error if the content exceeds the limit as opposed to doing a `takeUntil`. I think you can just have a

[2016-06-27 00:58] NiteshKant commented on #411
@jamesgorman2 nope I am not working on it, all PRs are welcome :)

[2016-06-27 01:01] NiteshKant commented on #521
@dfjones is this for 0.4.x or 0.5.x branch?

[2016-06-27 01:39] jamesgorman2 commented on #411
Cool, I'll stick a proposal in here shortly to expand one your notes

[2016-06-27 01:42] jamesgorman2 commented on #430
Good call. I'll tidy up the classes/tests. I'll also fix the naming/javadoc so it's nicer to use.

[2016-06-27 11:25] soemeier opened #523 "Possible Connection Leak and wrong metrics"
We have experienced some Connection leak problems when using Ribbon together with rxNetty. After some analysis we found the root cause. The load balancer took out one of the servers which lead to the connection pool to be closed (`ConnectionPoolImpl.shutdown()`).

Because the connection pool got closed the isDone Flag in the `SafeListener` was set to true. When the connection that were still in us

[2016-06-27 14:44] dfjones commented on #521
@NiteshKant 0.4.x branch

[2016-06-29 19:42] NiteshKant commented on #523
@soemeier I think this would be the correct way. The metrics listener are sent an `onComplete()` as some listeners may hold state and `onComplete()` is a way to cleanup the state. I will be happy to look at your proposal to fix this. If you need help, let me know!

Ideally `acquire()` should fail if the pool is shutdown, but I see a case where if the `Observable` returned by `acquire()` is subscri

[2016-07-01 02:43] NiteshKant commented on #521
@dfjones have you looked at the [`rxnetty-contexts` module](https://github.com/ReactiveX/RxNetty/tree/0.4.x/rxnetty-contexts) for `0.4.x`? It can be used for request specific caching.

[2016-07-01 06:45] NiteshKant commented on #470
Fixed via #522

[2016-07-01 06:45] #470 closed, assigned to nobody

[2016-07-01 06:45] NiteshKant commented on #520
Fixed via #522

[2016-07-01 06:45] #520 closed, assigned to nobody

[2016-07-01 18:12] dfjones commented on #521
@NiteshKant No! I wasn't aware of that module. I'll give it a shot, thanks!

[2016-07-01 22:19] NiteshKant commented on #430
Closed via #524 (Thanks @jamesgorman2 !!!)

[2016-07-01 22:19] #430 closed, assigned to nobody

[2016-07-05 21:00] bclozel opened #528 "HttpClient: access to channel ByteBufAllocator for efficient serialization/deserialization"
I'm currently working on the [spring-reactive](https://github.com/spring-projects/spring-reactive/) project (to be merged in Spring Framework 5.0 soon), especially on the HTTP client abstraction.

While working on an implementation backed by the RxNetty client runtime, I ran into a problem — I couldn't find a way to access the underlying Netty channel and get the corresponding `ByteBufAllocator`.

[2016-07-06 00:47] NiteshKant commented on #54
At Netflix we have decided to move serialization/deserialization out of the scope of RxNetty as it can easily be layered on top. Moreover, there is less value in standardizing the formats as YMMV!

Closing this issue now.

[2016-07-06 00:47] #54 closed, assigned to nobody

[2016-07-06 13:51] leslie-leder opened #529 "HttpClientRequest not mock-/stubable"
In order to test my specific http tasks I would like to know whether they configure the HttpClientRequest properly, e.g. which headers are set, which query, uri, etc.
There for it would be quite handy if I could stub or mock the HttpClientRequest instance which is passed to my specific http task under test.

[code]

This is prevented by the HttpClientRequest's inheritance from Observable which has

[2016-07-06 15:47] NiteshKant commented on #528
@bclozel great to hear that spring-reactive is going to use RxNetty for clients too ... yay 😄

(With 0.5.x) serialization/deserialization can be better achieved via interceptors, as an example [see here](https://github.com/ReactiveX/RxNetty/blob/0.5.x/rxnetty-examples/src/main/java/io/reactivex/netty/examples/http/interceptors/transformation/InterceptingClient.java) that gives you access to the `B

[2016-07-08 12:06] leslie-leder commented on #529
More precisely I would like to test whether the following Http request code converts correctly from ByteBuf content to String content and whether it propagates Http errors properly over onError invocation.

[code]

Intuitively I would create a client mock which returns a client request, ...

[code]

Scala Mock cannot stub this requestStub of type HttpClientRequest and I guess Mockito would also co

[2016-07-08 14:21] NiteshKant commented on #529
@leslie-leder yes having `HttpClientRequest` extend `Observable` has this annoying side-effect of difficulty in testing. OTOH, it is quiet nice in terms of usability as you can do things like this:

[code]

which is pretty terse and cool 😄 instead of introducing another entity of `HttpClientRequest` which is necessarily created out-of-band and passed to the client to create an `Observable` for res

[2016-07-14 13:05] leslie-leder opened #530 "SSE: event type missing, first message discarded"
For server sent events the event type is missing and somehow I always miss the first message. I've condensed it into this test code:

[code]

This code produces the following console output:

[code]

[2016-07-14 13:55] leslie-leder opened #531 "SSE: message granularity"
In issue #530 I provided a scala-test snippet with Http SSE response like so:

[code]

, which actually means:

[code]

This one should result in one message but it is decoded in two messages (the first is somehow discarded).

Using proper data (I actually intended 3 messages) like so:

[code]

, which actually means:

[code]

produces exactly the same output. 2 messages but it should be 3 message

[2016-07-14 14:03] leslie-leder commented on #530
Actually the sse response body should be like this:

[code]

empty lines were missing, see #531
This does not change anything.

The eventId is also null.

[2016-07-15 12:40] tebeco opened #532 "Example project in 0.5.x still points to code from 0.4.x"
Hi,

I've just discovered this project and also that some ".md" in example project says to use code like :
RxNetty.createHttpServer(...)

Fact is, it took me 1 hours to understand that there's 2 branch here ... and the fact that each branch hold non compliant API Version
And also that the "0.5.x" does not have history from the 0.4.x branch

It's not critical but I guess that for new comer it might

[2016-07-18 18:07] TysonHeart opened #533 "Sending httpresponse in a different thread"
Hi Guys,
Looking for an answer to a question for what I believe is  simple enough async use case - accept content from http POST client and insert it into a messaging queue. The messaging queue provides an async API `send(mycallback, data)` wherein it acknowledges the receipt of data by calling `mycallback` in its own background thread. The code looks something like this:

[code]

Where RxBus is j

[2016-07-18 23:47] jamesgorman2 commented on #533
Hey Tyson,

my first bet is a missing `onCompleted` during the send callback. If this is missing the RX job on the IO thread will hang waiting for more events and will cause thread leaks. Code below.

There's no need to push control back to an RX Scheduler. RxNetty will buffer up your writes (cheaply) in the MQ's thread then send them on it's own EventLoop thread. The only time you'd want to swap

[2016-07-19 02:14] NiteshKant commented on #532
Can you point me to the links that are broken or better still want to send a PR for the fix!!

[2016-07-19 02:18] NiteshKant commented on #530
I am Out of office so haven't gone through your code as yet. Few things:
- event id isn't being sent in the response, so it won't be available in the SSE object.
- Can you enable wire logging on the client to see what is the data sent by the mock?

[2016-07-19 12:28] tebeco commented on #532
I would love to do a PR but as I said i'm discovering Netty so i don't know the API yet

If you search in *.md for "createHttpServer" thos api does not exist anymore
And I think the code next to these lines also points to 0.4

[2016-07-20 12:07] leslie-leder commented on #530
This is what firefox thinks is sent:

[code]

Here is the debug wire log:

[code]

[2016-07-20 15:53] Crystark commented on #511
I haven't had time to spend on this matter lately, but i just thought i'd update this thread with my observed metrics.
I get those empty observable about 0.1% of the time (50 for 50k QPS).

[2016-07-20 16:00] Crystark commented on #503
I still need to dig more into this as it's currently a real problem that forces us to restart our services on a regular basis but i thought I'd mention this seems linked to #523

FYI, all of our services that use RxNetty as an HTTP client have this issue.

@mkmainali we're not using Ribbon on our end and we're having this issue even on a service that uses only one RxNetty HTTP Client

[2016-07-20 17:04] TysonHeart commented on #533
Hi James,
- adding `onCompleted()` indeed fixed the leaks. :)
- I agree, the approach to have a RxBusRequest is cleaner. I gave it a try and it works like a charm.
- Regarding this:

The `MessageQueue.send(,)` call is a 3rdparty API that does not use Netty/RxNetty underneath, nor does it expose its channel/socket. So I don't think Netty can buffer the writes there.
Please correct me if this logic

[2016-07-20 22:03] jamesgorman2 commented on #533
No worries Tyson,

it looks like we're talking a little at cross purposes, but this stuff only makes sense once you know it :-)

To simplify things we'll pretend that RxNetty is only working on a single thread, and MessageQueue on another.[1]
- In bound HTTP requests are recieved on RxNetty's thread, where they are converted into MQ send objects.[2]
- MessageQueue then takes that object, moves it

[2016-07-21 16:22] Feng-Zihao commented on #503
@Crystark after 2 weeks struggling with RxNetty, we have changed to use Pure Netty as our gateway implementation. It works extremely direct, clean, and high performance.

Here's an example version written in Kotlin (not our production version, but just an experiment code during research ), hope that it would be useful.  https://github.com/Feng-Zihao/protox

Based on the model of **protox**, it's e

[2016-07-21 16:46] Feng-Zihao commented on #503
@Crystark As you just interested in Http Client, please refer to the file below:
https://github.com/Feng-Zihao/protox/blob/master/src/main/kotlin/org/protox/http/BackendHandler.kt
It's not hard to translate it to Java.

Protox set AutoRead to false, to control the IO manually. The purpose is to reduce Memory Use.

If you don't need to concerned about Memory Use, just set autoRead to true, and atta

[2016-07-24 16:23] TysonHeart commented on #533
Hi James, that diagram and explanation certainly helped along with a lot of reading since your response. Many thanks for that.

Regarding the memory leak: I looked at #466, #357 and see that they are all fixed and closed. I am using netty's leak detector too in paranoid mode and it has NOT pointed out any leak yet but I will keep an eye. Really happy with my http server so far. :)

[2016-07-25 12:13] NiteshKant commented on #533
@jamesgorman2 great to see awesome answer from you here!

@TysonHeart looks like you are satisfied with the explanation here?

[2016-07-25 12:16] NiteshKant commented on #530
@leslie-leder sorry but can you disable SSL and capture the wire-logs, otherwise it is hard to analyze what is happening.

[2016-07-25 14:54] TysonHeart commented on #533
@NiteshKant Yes, indeed.

[2016-07-26 13:07] Crystark commented on #503
@Feng-Zihao
Thanks for the advice, I'll be looking into this if I can't find out a solution using RxNetty which i'd like to keep.

@NiteshKant
We're currently digging a bit more into this so if you could let me know everything I can do to find out more information on this leak it would be very helpful.

I've added `RxNetty.useMetricListenersFactory(new ServoEventsListenerFactory());` to our proxy

[2016-07-27 13:21] Crystark commented on #503
@NiteshKant

Here are some metrics collected manually through JMX. It took approximately 3 minutes to write all values down so bear that in mind when reading them. The order I'm presenting them in is the order they were wrote down in.

[code]

I hope this can give you some insight on what may be happening. The service hasn't crashed yet. We'll get some more data when it does.

[2016-07-27 16:17] Crystark commented on #503
Updated values just now. Our max connection is set to 20k so it will break later. We'll try with a lower max conn to make it break faster.

[code]

[2016-07-27 16:59] NiteshKant commented on #503
@crystark are these metrics for one RxNetty client or for multiple clients?
High number of pending flushes look suspicious. I will look at the metrics more.

In order to eliminate the issue with client shutdown, if you can remove shutdown of clients, it will help narrow down the problem I think.

[2016-07-27 22:08] Crystark commented on #503
@NiteshKant ~~those are all the client metrics~~. I'm not sure what you mean by client shutdown but I'll look more into this tomorrow when I'm back at work.

[2016-07-28 08:39] Crystark commented on #503
@NiteshKant I'm really not sure what you mean by "client shutdown". Can you elaborate ? If you mean shutting down the RxNetty client, we should never be doing that.

I see my previous answer wasn't really on topic (sorry it was late). Those are the metrics for only one RxNetty client in our reverse proxy server.

[2016-07-28 12:36] Crystark commented on #503
More data. We restarted the server with a client using max connection at 2000 so it crashes faster. Here is the data right before and right after it crashed (reached 2k live connections).

[code]

Note: I have about half an hour of those stats extracted every minutes if you need. We automated the process as we couldn't graph it.

[2016-08-02 07:04] NiteshKant commented on #530
@leslie-leder Apologies for the delayed response as I am still on PTO. However, I debugged the issue and the bug is in the [`ServerSentEventDecoder`](https://github.com/ReactiveX/RxNetty/blob/0.5.x/rxnetty-http/src/main/java/io/reactivex/netty/protocol/http/sse/client/ServerSentEventDecoder.java) where while reading the field name, it [does not trim leading whitespaces](https://github.com/Reactive

[2016-08-02 07:07] NiteshKant commented on #531
@leslie-leder I think this is a duplicate for issue #530 as the only issue here is the existence of leading `\n` before the first data element. If you remove the leading `\n`, the client works as expected. Am I missing something?

[2016-08-02 07:10] NiteshKant commented on #533
Thanks @jamesgorman2 and @TysonHeart , closing this now.

[2016-08-02 07:10] #533 closed, assigned to nobody

[2016-08-03 07:27] Null45 opened #535 "TcpClient: Connection reset by peer"
Hi there!
In my android application i face with strage nio.socket behavior. Tcp client sending data to the server (voice packets) but close connection after 3:10 minutes with message
`java.net.SocketException: sendto failed: ECONNRESET (Connection reset by peer)`

My code below:

[code]

RxNetty 0.5.x and 0.4.x both.

[2016-08-03 07:31] NiteshKant commented on #535
`(Connection reset by peer)` means that the connection is closed by the server.

[2016-08-03 07:41] Null45 commented on #535
With simple Socket it works as intend(no connection closing after 3 mins).

[2016-08-03 11:04] coolbananas118 opened #536 "Is RxNetty + RxJava really doing NIO?"
Hi
I've been integrating RxJava into our microservice app. It's working nicely and now I'm getting concurrent/parallel calls to downstream services rather than sequential via Apache HTTP however I was curious to know if I am also achieving NIO but it seems that I'm not. I've tried the built in IO scheduler as well as a custom scheduler with a single thread pool size with RxJava but it seems that t

[2016-08-03 12:12] brharrington commented on #536
It is definitely something to avoid, see #481 for some suggestions.

[2016-08-03 14:55] leslie-leder commented on #531
I'm uncertain about this. I just rephrase my observation.

If the http-server sends the  following chunk:

[code]

I would expect to get one event of type ServerSentEvent.Type.Data with 3 lines content like so:

[code]

Whereas if the http-server sends the  following chunk:

[code]

I think 3 separate messages would be right.

My observation was that in both cases 3 messages were emitted. Unfortun

[2016-08-05 08:34] jamesgorman2 commented on #536
To test the nio part, you want something [like this](https://github.com/jamesgorman2/rxnetty-nio-test). It's pure java/rnetty and shows nio in action. To make it a bit more interesting, the server streams the results back in chunks which lets you see the interleaving better.

This gives you output like this:

[code]

[2016-08-09 07:46] Null45 commented on #535
How we can subscribe to read and write observables both? Now we can get only one

[2016-08-10 18:50] mikeweisskopf commented on #386
@NiteshKant wondering if you had any more thoughts on this. I know you and I had a related conversation a while back on #98 and talked a little about attaching listeners to requests. I started looking at that again and was considering the HttpClientToConnectionBridge. What are your thoughts?

[2016-08-11 00:08] eleduardo opened #538 "Question on POST for 0.5.X"
Hi sorry if this is documented somewhere but I don't seem to find an example for a POST on 0.5.X the 0.4 way of doing it seems to have been removed.

If I do this
HttpClientRequest request = client.createPost("/foo/bar").writeBytesContent(Observable.just("ABCD".getBytes()));

I put a tunnel to capture the request and the body always has the size of the payload pre-pended! I am wondering if it is b

[2016-08-11 00:39] jamesgorman2 commented on #538
Hi Eleduardo,

a good place to start (not in the examples though!) is [`HttpClientTest`](https://github.com/ReactiveX/RxNetty/blob/0.5.x/rxnetty-http/src/test/java/io/reactivex/netty/protocol/http/client/HttpClientTest.java)

The client (and server) chunk-encodes by default. You can disable chunk-encoding by specifying the `content-length` header.

Tests for un-chunked POSTs start at [`#testReques

[2016-08-11 01:48] eleduardo commented on #538
Thanks James!

That worked... in 0.4 it was a little bit simpler...

It does make sense to chunk the content when the payload comes from an observable but, would there be any chance to add a signature that takes the raw content instead of an observable and it performs the calculation for you?

[2016-08-11 03:29] jamesgorman2 commented on #538
Probably not (easily). @NiteshKant can correct this, but my reading is since the data transformations are handled on the content `Observable` in the `TcpClient` one the event loop ([cf AllocatingTransformer](https://github.com/ReactiveX/RxNetty/blob/0.5.x/rxnetty-common/src/main/java/io/reactivex/netty/channel/AllocatingTransformer.java) for more on why this is so), getting a consistent API is har

[2016-08-14 11:49] NiteshKant commented on #536
@coolbananas118 RxNetty, by default, does not introduce any new threadpools over the eventloops of netty. In order to do any work out of the eventloops, just as you are doing, use an RxJava scheduler.

In your example, you do not need `.toBlocking().single()` at every step. You can modify `callSlowEndpoint` to return `Observable<String>`, then remove `Observable.create()` and use `callSlowEndpoint

[2016-08-14 12:02] NiteshKant commented on #538
@eleduardo as @jamesgorman2 suggested, the method to just use a single item as content is pretty straightforward, so I do not see a reason to expand the API for this special case. It certainly would be useful to add an example for HTTP Post!

[2016-08-14 14:40] NiteshKant commented on #523
Fixed via #525

[2016-08-14 14:40] #523 closed, assigned to nobody

[2016-08-15 20:21] dfjones opened #541 "NPE in ClientRequestResponseConverter (RxNetty 0.4.18)"
In RxNetty 0.4.18 I started to see this NPE in some high load situations. I was able to reproduce it on RxNetty 0.4.16 as well. I think it is a race condition because I only see it when I crank up the concurrency in a load test that I have. I can't share this, unfortunately, but perhaps if this becomes tricky to debug I can whip up a shareable reproduction?

[code]

[2016-08-16 16:04] dfjones commented on #541
I forgot to mention that these NPEs were seen after Netty read timeouts:

[code]

[2016-08-19 19:51] NiteshKant commented on #530
@leslie-leder PR #543 is a fix for both this and #531

[2016-08-23 05:22] NiteshKant commented on #530
Closed via #543

[2016-08-23 05:22] #530 closed, assigned to nobody

[2016-08-23 05:22] NiteshKant commented on #531
Closed via #543

[2016-08-23 05:22] #531 closed, assigned to nobody

[2016-08-23 05:30] NiteshKant commented on #541
@dfjones apologies for the delay in responding.

Looking at the code, it is possible for `connInputObsrvr` to be `null`. It looks like you are using SSL, it's just a wild guess but can you try and repro this without SSL?

[2016-08-23 14:26] dfjones commented on #541
@NiteshKant No worries! Thanks for the response.

Your guess was good, I turned off SSL and could not reproduce the issue.

[2016-08-23 17:28] NiteshKant commented on #541
😄  I should have bought a lottery yesterday! (Well, it was an educated guess!!)

I think SSL handshake writes starts the read timeout tick and in some cases, timeout triggers before the request is written which causes the `connInputObserver` to be null. So, I think it makes sense to add a null check there for connection close.
Do you want to send a PR?

[2016-08-23 18:43] dfjones commented on #541
@NiteshKant Sure! PR created: https://github.com/ReactiveX/RxNetty/pull/544

Also, from my testing I had to guard against null for `connection` as well. With this PR my test case runs without error.

[2016-08-31 09:35] Crystark commented on #503
@NiteshKant
We updated to the RxNetty 0.4.18 with great hopes but we're still facing the connection leaks.
Here are the extracted metrics. The max connection was set to 10k on this server.

[code]

An other fact we observed: those liveConnection values increase much more slowly on servers with less than 1000 QPS (like 50x slower). Over that value it starts building up much faster. For instance the

[2016-08-31 19:55] NiteshKant commented on #541
Fixed via #545

[2016-08-31 19:55] #541 closed, assigned to nobody

[2016-09-01 04:37] codefromthecrypt commented on #292
just bumped into this, too.

This isn't idiomatic: the primary consumer of a pom is maven, it should be marked compile as we can't use it otherwise. If folks are looking for BOM support (eg to correlate versions via a maven import) that's a different concern than marking things runtime when you actually have a hard dep on it.

The impact of this is basically someone tries to make a simple example,

[2016-09-01 05:17] codefromthecrypt commented on #292
[code]

[2016-09-01 12:52] brharrington commented on #292
There is a [nebula.compile-api plugin](https://github.com/nebula-plugins/nebula-publishing-plugin#nebulacompile-api) that will let you specify dependencies that should go into the compile scope.

Related ticket: https://github.com/nebula-plugins/nebula-publishing-plugin/issues/31

[2016-09-02 04:44] NiteshKant commented on #503
@Crystark I believe that the issue you are seeing is because you are writing too fast/too much of data OR some code path is blocking the eventloop. If you are writing too fast then you need backpressure or pessimistic limits to control the number of concurrent requests being processed by the server. Netty backpressure is hooked up in RxNetty only in 0.5.x.

Sure, I would love to hear more about yo

[2016-09-02 04:51] NiteshKant commented on #386
@mikeweisskopf apologies for the delayed response.

Unfortunately, this isn't high on my list of things and hence I haven't looked at it.
So, I think the interaction API should be `HttpClientRequest.subscribe(listener)` and `HttpServerRequest.subscribe(listener)` which should add this listener to the listener list for the request and remove it after request is done.
If you are interested in submit

[2016-09-02 08:08] groodt opened #548 "RxNetty SSL configuration"
It seems that for RxNetty, I have to manually specify if the client should use SSL. Something like the snippet below for 0.4.x

[code]

I also had to create a class DefaultSSLEngineFactory like this:

[code]

For ease of use, this seems a little cumbersome in my opinion. Is there a specific reason for it? Coming from using HC Apache or AsyncHttpClient/async-http-client, this seems like a lot of ex

[2016-09-02 08:32] groodt opened #549 "RxNetty making HTTP requests with url and ServerInfo"
I'm looking into using RxNetty, and I want to clarify my understanding around making requests.

Step 1:
Obtain an httpClient. I do this like this:https://github.com/ReactiveX/RxNetty/issues/548 and pass the singleton reference to my constructor for use as below.

[code]

Step 2:
I then create an HttpClientRequest object for a url String. Right now, I'm using the full url string. Is this correct? O

[2016-09-05 08:13] groodt opened #550 "0.5.x roadmap or expected RC version"
I'm wondering if there is an expected release schedule for RxNetty 0.5.x? I can't seem to find any artifacts but Snapshot artifacts and the incorrectly released 0.5.x artifacts from the 0.4.x branch.

[2016-09-06 14:49] andreishappy opened #551 "Client not following redirects"
Hi,

I've started using rxnetty 0.5.0 to make all the I/O in my back-end non blocking. So far so good, but I'm having an issue with redirects. According to the docs and by looking at the code I can see that redirects should be followed by default for GETs.

The code I use to build the client is:

[code]

Then when I use it I do:

[code]

When I flatmap over this observable I get a 301. I would exp

[2016-09-06 16:15] andreishappy commented on #551
After some investigation I figured out that the client does not follow absolute redirects.

I would like to ask why it does not follow and absolute redirect even if the host is the same as the host set on the client.

Do you have any hints about what I should do? Should I use another library like ribbon or jersey?

[2016-09-06 16:21] brharrington commented on #551
For some previous context see: https://github.com/ReactiveX/RxNetty/issues/270.

[2016-09-06 17:50] NiteshKant commented on #550
@groodt 0.5.x has release candidates published to maven, here is the last RC:

http://search.maven.org/#search%7Cga%7C1%7Cg%3A%22io.reactivex%22%20AND%20v%3A%220.5.2-rc.4%22

You can find the release details for this and future releases on [this page](https://github.com/ReactiveX/RxNetty/releases)

[2016-09-06 18:02] NiteshKant commented on #549
No you do not need to pass the host, port information in the client if you created a client for a host, port. [This example](https://github.com/ReactiveX/RxNetty/blob/0.4.x/rxnetty-examples/src/main/java/io/reactivex/netty/examples/http/sse/HttpSseClient.java#L50) uses this pattern.

RxNetty does not provide request invocations with full URLs in any of the versions. The reason is as I specified in

[2016-09-06 18:10] NiteshKant commented on #548
0.5.x makes the API "better" by introducing `.secure()` and [`.unsafeSecure()`](https://github.com/ReactiveX/RxNetty/blob/0.5.x/rxnetty-examples/src/main/java/io/reactivex/netty/examples/http/secure/SecureHelloWorldClient.java#L78) methods on the client. For quick testing `unsafeSecure()` is pretty handy as it uses a `trust-all` factory.
For actual production code, it requires netty's `SSLCodec` o

[2016-09-06 18:14] NiteshKant commented on #551
Thanks @brharrington for chiming in!

@andreishappy it looks like you want to use 0.5.x but the code you have is for 0.4.x. Did you bump into the [uninitentional release artifacts](https://github.com/ReactiveX/RxNetty/issues/439)?

I think that is the valid case where the client can ignore the full redirect URI as in reality it is as good as a relative URI. If you have time, I am happy to look at

[2016-09-06 20:04] groodt commented on #550
Thanks very much @NiteshKant I didn't see that before. Any goal or indicator for the 0.5.x final release?

[2016-09-06 20:20] groodt commented on #549
Thanks @NiteshKant It is now clearer to me how to use RxNetty clients. For the simple case, you create an HttpClient against the host:port and then make requests to paths on that host.

[2016-09-06 20:20] #549 closed, assigned to nobody

[2016-09-06 20:34] groodt commented on #548
Thanks @NiteshKant The API is indeed friendlier in 0.5.x. I have figured it out now, but it is difficult to use if you are relatively new to the internals of Netty like me. An example that uses .unsafeSecure() is fine, but how to connect to a 'real' SSL server in the wild?

Something like this?

[code]

And am I correct in thinking that if using SSL, then it is impossible to communicate via plaint

[2016-09-07 06:52] NiteshKant commented on #550
Unfortunately not yet. We are testing this inside Netflix currently.

[2016-09-07 06:52] NiteshKant commented on #548
Correct, there is no way to use the same client with SSL and plain-text.

[2016-09-07 07:50] groodt commented on #550
No prob @NiteshKant The 0.5.2-rc.4 seems to be working really well! You're doing great work. I'll keep an eye on the [releases page](https://github.com/ReactiveX/RxNetty/releases)

[2016-09-07 07:50] #550 closed, assigned to nobody

[2016-09-07 07:56] groodt commented on #548
Ok, so no clients with dual SSL and plain-text. Got it.

Is the example above an appropriate way to setup .secure()? It seems a little dangerous to make the .unsafeSecure() so easy and not having any documents or convenience methods for doing .secure() as well. I appreciate there are complexities involved with JSSE, but is this a quick-start way to use SSL that would work for most users?

[code]

[2016-09-07 16:03] NiteshKant commented on #548
@groodt I am no expert in SSL and hence do not want to give an advice on it.
IMO, `SSLContext.getDefault().createSSLEngine()` is not sufficient for production use and hence it does not make sense to be put as the default way to configure SSL. I would rather have a user understand SSL before configuring it and make a conscious decision to use the default configurations.

[2016-09-07 16:16] groodt commented on #548
@NiteshKant It's a fair enough argument. I agree that the opportunity for experts to configure SSL specifics themselves should be in place, but I think that if there isn't an example or wiki or convenience methods that 'setup the secure and basic' defaults, then I worry that people will either choose another library that is easier to bootstrap or even worse, do something terrible like .unsafeSecur

[2016-09-07 18:01] NiteshKant commented on #548
@groodt fair point!

Do you want to add an example on how to use `.secure()`?

[2016-09-08 08:34] groodt commented on #548
Sure thing @NiteshKant I'll prepare something and create a PR

[2016-09-08 11:54] rhart opened #552 "Check for SSE stream does not take charset into account"
The check for SSE content type in `HttpClientResponseImpl` does not take into account that a charset may also be present in the header.  A content type of `text/event-stream;charset=UTF-8` results in an `IllegalStateException`.

https://github.com/ReactiveX/RxNetty/blob/1d6eb41994b70098fe0c2ec68b5ce1e650951e69/rxnetty-http/src/main/java/io/reactivex/netty/protocol/http/client/internal/HttpClientRe

[2016-09-08 12:14] groodt commented on #548
I've created a PR here https://github.com/ReactiveX/RxNetty/pull/553

[2016-09-08 13:39] rhart opened #554 "ServerSentEventDecoder expects `data` field to be last"
I think there is an issue with `ServerSentEventDecoder` when the `data` field is not last.  As I understand it the fields in the stream can be in any order.  I would expect the following test to pass

[code]

[2016-09-08 16:24] NiteshKant commented on #554
@rhart I am following the spec [here](https://html.spec.whatwg.org/multipage/comms.html#server-sent-events)

According to the spec, `lastEventId` (specified by `id` field) is a buffer of the last received id and should be used for subsequent events (data in this case).
In the test case you have specified, the `id` `1111` will be used for any subsequent `data` events and not a previous `data` event

[2016-09-08 16:53] rhart commented on #554
Sorry for my confusion but then I don't see why this test would pass

[code]

the tests produce the following streams respectivley

[code]

[code]

which are the same thing aren't they?  In both cases the last event id would be set to 1111 before dispatching the event, which is triggered by the empty line.

[2016-09-08 17:30] NiteshKant commented on #554
AFAIU, event is dispatched after a carriage return/line feed and not by an empty line.

[2016-09-08 17:35] NiteshKant commented on #552
@rhart you are correct. It should probably be doing a `startsWith` check. Do you want to send a PR?

[2016-09-08 17:38] rhart commented on #554
In the spec it says

[2016-09-08 18:02] rhart commented on #552
Yeah, sure 👍

[2016-09-09 07:15] leslie-leder opened #555 "Socket status CLOSE-WAIT on Linux"
with HttpClient version 0.5.2-rc.4 I get loads of Sockets in state CLOSE-WAIT for ordinary GET requests on Linux. Is there something I need to obey in order to close/unsubscribe connections so they get fully closed?

[2016-09-09 07:46] leslie-leder opened #556 "SSE fails for Content-Type with charset defined: text/event-stream;charset=UTF-8"
with HttpClient version 0.5.2-rc.4 I get an IllegalArgumentException for SSE with **charset** set to any value.

The corresponding code the checks for "text/event-stream" without tolerating **charset** property added like so:

**Content-Type**
`Content-Type: text/event-stream;charset=UTF-8`

**HttpClientResponseImpl**

[code]

[2016-09-09 16:14] rhart commented on #556
@leslie-leder see #552

[2016-09-09 16:19] rhart commented on #554
I tried consuming my stream with a browser and

[code]

results in

[code]

[2016-09-10 02:13] NiteshKant commented on #556
Thanks @rhart

@leslie-leder I will close this one as a duplicate.

[2016-09-10 02:13] #556 closed, assigned to nobody

[2016-09-10 02:13] NiteshKant commented on #554
@rhart let me think more about this.

[2016-09-10 02:17] NiteshKant commented on #555
`CLOSE_WAIT` means the server is closing the connection.
I do not particularly see anything that could cause this, can you compare the HTTP requests sent using the previous version and this version?
You can use `enableWireLogging()` to collect the data transferred on the wire.

[2016-09-12 07:16] leslie-leder commented on #555
I found the origin of this issue. In this case a GET requests is repeatedly sent to the server. The response body is not relevant just the status will be evaluated.
This is already the gist of matter. If the response body is not consumed the HttpClient keeps the connection open. The server will timeout at some time and closes the connection which lets the connection change to CLOSE-WAIT state on c

[2016-09-12 16:47] #552 closed, assigned to nobody

[2016-09-12 16:51] NiteshKant commented on #555
@leslie-leder Thanks for the update.

Yes, if the client does not consume the response body, the connection will not close. Also, be sure to release the buffers, by using `response.getContent().autoRelease()` in case you get a response.

[2016-09-12 16:51] NiteshKant commented on #555
Ok to close this @leslie-leder ?

[2016-09-12 17:00] NiteshKant commented on #554
@rhart you are correct. Currently, the code is dispatching on a new line but it should dispatch when it encounters an empty line.

I do not have cycles for this now, if you want to pick it up, let me know.

[2016-09-12 17:34] rhart commented on #554
I know that feeling :)
Happy to pick it up but I can't commit to when at the moment. Let's see who get's there first :)

[2016-09-12 22:50] billyy opened #558 "How to add read timeout handler??"
If I have the following code, how would I add the read timeout handler so socket will be released?

[code]

[2016-09-13 19:25] NiteshKant commented on #554
@rhart 😄
Thanks!

[2016-09-13 19:29] NiteshKant commented on #558
@billyy you can use `ClientConfig` to provide the timeout. [This unittest](https://github.com/ReactiveX/RxNetty/blob/0.4.x/rxnetty/src/test/java/io/reactivex/netty/protocol/http/client/HttpClientTest.java#L373) shows how.

[2016-09-13 22:14] billyy commented on #558
Got it to work.  Thanks.    But that brings up a second question.    When
it timeout, Hystrix will report it as failed (instead of timeout) because
Exception was thrown.    Last year I'vs asked Matt to expose
HystrixTimeoutException so I can throw it if I am doing client timeout.
Is that a way to do the same so Hystrix can report it correctly as timeout,
not failed.

[code]

Object>>() {}.getType(

[2016-09-13 22:20] NiteshKant commented on #558
Hystrix timeouts are intended to time bound a business call. Read timeouts are to detect time difference between two reads from the network. I would not bucket them together.

[2016-09-13 22:29] billyy commented on #558
Yes.  we are right.  I forgot to reduce the semaphore timeout in hystrix.
 Once I set the semaphore timeout the same as read timeout, Hystrix then
reported timeout instead of failure.   Thanks.

On Tue, Sep 13, 2016 at 3:20 PM, Nitesh Kant notifications@github.com
wrote:

[2016-09-14 01:29] billyy commented on #558
One more thing, is there setting like connection time?   Or it is not that
important for nio?

On Tuesday, September 13, 2016, Billy Yuen billyy@gmail.com wrote:

[2016-09-16 08:30] leslie-leder commented on #555
I think requests with meaningless response data are quite common with HTTP. E.g for RPCs with void return type. Its just a POST op where only status code + header fields (for error details) would be of special interest.

I would consider this quite tricky behavior as bug which provokes memory and port leaks.
A subscriptions on HttpClientRequest is not automatically a subscription on the HttpClient

[2016-09-21 05:58] tdittmann opened #559 "Get response content of HttpClientRequest"
Hi,
how can i get the content of my request with rxnetty? I use the following code

[code]

I tried many things like _submit(request).subscribe()_, _httpClientResponse.getContent()_, ...
But it does not work... my server returns a byte array, how can i save this in a local variable?

[2016-09-21 09:16] jamesgorman2 commented on #559
If you just want byte data without the NIO/observables you're probably better off using ribbon-httpclient. If you want rxnetty under the hood, this will return the bytes wrapped in an observable. To escape the Observable use `doCall(...).toBlocking().first()`.

[code]

[2016-09-21 09:42] tdittmann commented on #559
Thanks. I always used the RestClient from Ribbon but it is deprecated :(
I hope LoadBalancingHttpClient is the "right" way to replace the deprecated RestClient... the documentation is not updated yet and i only found this approach
€dit: can be closed ;)

[2016-09-23 12:15] tdittmann commented on #559
Another question: how can i get the response code? i tried it like in your example with flatmap and map, but it does not work :(

[2016-09-23 22:54] jamesgorman2 commented on #559
For this you have to make sure your lambdas are properly nested to capture the response code and content together (each lambda can see the params, variables and args of the lambdas, method and class above). Compared to the previous version, the action all happens inside `responseObservable.flatMap(...)`, which gives us access to the response inside. Once we get to `bytesObservable.map(...)`, the l

[2016-10-11 10:09] tdittmann commented on #559
Thanks, worked :)

[2016-10-11 10:09] #559 closed, assigned to nobody

[2016-10-21 12:07] sokolas opened #560 "(0.5.x) First message received right after connecting to WebSocket seems to be missing"
I have a piece of code very similar to the example [EchoClient example](https://github.com/ReactiveX/RxNetty/blob/0.5.x/rxnetty-examples/src/main/java/io/reactivex/netty/examples/http/ws/echo/WebSocketEchoClient.java)

Here it is:

[code]

When connected, the client should receive a message from the server, like this: `{"t":null,"s":null,"op":10,"d":{"heartbeat_interval":41250,"_trace":["discord-g

[2016-11-03 16:59] kennedyoliveira opened #561 "RxJava version"
Hi, i would like to know if there's any problem updating the RxJava version RxNetty is using, because, currently it's set to 1.0.+, but the last 1.x version is 1.2.2, i tried to fetch the project, update and run the tests but it's failing, so i don't know if is because of this version, since it's failing with default version too, but different test, so i guess could be, but not sure, didn't dig to

[2016-11-03 17:13] kennedyoliveira commented on #561
I just deleted my local source copy, pulled again and tests it's passing all test for the RxJava 1.2.2, so probably was something wrong with my local source.

[2016-11-03 17:24] NiteshKant commented on #561
@kennedyoliveira If you have bandwidth trying moving RxNetty to RxJava 2.x, I am happy to see a PR. Currently, I do not have bandwidth to do that

[2016-11-03 17:30] kennedyoliveira commented on #561
@NiteshKant i would like to help, but i don't know if i can, i don't know the architecture of RxNetty, and won't be able to implement on RxJava 2.x unless i have some help and explanations about the core/internals.

[2016-11-04 00:45] jamesgorman2 commented on #561
Just put in #563 and #562 for 0.4.x and 0.5.x to RxJava 1.2.+

@NiteshKant I missed RxJava 2 going stable. I've still got to grok the API changes but want to re-release some of my stuff on the next version. I'll see if I can have a look RxNetty too you want a new issue for that upgrade since it'll be fairly major?

[2016-11-04 05:12] NiteshKant commented on #561
@jamesgorman2 yes lets have a separate issue and I can put my thoughts on the issue!

Let me close this one.

[2016-11-04 05:12] #561 closed, assigned to nobody

[2016-11-04 05:16] NiteshKant commented on #560
@sokolas sorry haven't got time yet to dig more into this but the issue is with [Ws7To13UpgradeHandler](https://github.com/ReactiveX/RxNetty/blob/0.5.x/rxnetty-http/src/main/java/io/reactivex/netty/protocol/http/ws/client/Ws7To13UpgradeHandler.java#L124) in which while removing `HttpClientCodec`, the message buffered in the codec is emitted first before the HTTP headers.

[2016-11-04 19:47] jaume-pinyol opened #564 "Question regarding RequestCorrelator and Rxnetty 0.4"
Hi,

I have an issue regarding RequestCorrelator and I don't know if I'm doing something wrong or I've configured it wrongly. The case is that inside the application code (The router or handler) I can't have access to the request id(I could always get it from the request, but I think that's why the request correlator is for...).
When I try to do:
[code]
It is always null, I've debugged the code an

[2016-11-05 08:01] NiteshKant commented on #564
@jaume-pinyol you are correct that the reason for not finding the `requestId` is because you are using the `withRequestProcessingThreads()` option.
If you are not using any blocking code as part of the processing of a request, you most likely do not require `withRequestProcessingThreads`.

[2016-11-06 17:52] jaume-pinyol commented on #564
Thanks for the quick response! I think I've managed to fix my issue

[2016-11-08 05:35] bilaizi opened #565 "RxJava 2.x variant"
Hi,sir,do you plan to support RxJava2.x ?

[2016-11-08 13:04] brharrington commented on #565
There was some discussion on the topic in #561.

[2016-11-08 20:07] #564 closed, assigned to nobody

[2016-11-08 20:19] NiteshKant opened #566 "ReactiveStreams support"
There have been some discussions in #565 and #561 around upgrading RxJava to 2.x in RxNetty. I would like to spin that into the following:

_Make RxNetty stick to exposing [ReactiveStreams](http://www.reactive-streams.org/) interfaces from the __public APIs__ and use RxJava 2.x internally._

#### What?

RxJava becomes an implementation detail for RxNetty. Most of the users of RxNetty would not dir

[2016-11-08 20:20] NiteshKant commented on #565
Closing in favor of #566

[2016-11-08 20:20] #565 closed, assigned to nobody

[2016-11-09 17:07] NiteshKant commented on #566
@jamesgorman2 Let me know if you are interested in giving this a shot or have thoughts on this.

[2016-11-09 19:41] jamesgorman2 commented on #566
A maxim from one of my FP buddies was emit the most permissive type you can and accept the most restrictive. Following this it might make sense to return `Flowable`s (and pass them to handlers) in place of `Observable`s, and to accept `Publisher`s for the same. This should let anyone using another streams library use any ReactiveStreams converters they like but give native RxJava support out of th

[2016-11-10 18:29] NiteshKant commented on #566
@jamesgorman2 thanks for the feedback!

I understand the reasoning for the mix of `Publisher` and `Flowable` but my preference is to be consistent since these are two different libraries (ReactiveStreams and RxJava).

In order to convert a `Publisher` to `Flowable`, this is the code required:

[code]

The implementation of which is to just cast the `publisher` to `Flowable` if it is already a `Flo

[2016-11-10 19:43] jamesgorman2 commented on #566
OK, so it looks like the main difference in opinion boils down to what it means to expose (a) only `Publisher`, (b) only `Flowable`, or (c) both. I have a personal preference for (b) or (C), but maybe good to put some examples and pros and cons. I suspect I'm less concerned about (c) because `Publisher` is already in the type def for `Flowable`, but happy to be convinced to (a) or (b).

Here's my

[2016-11-16 13:46] sameer-pandit opened #568 "get remote address for client."
is there an api in Rx netty by which we know the remote address of the client connecting, for which the request is being processed. The HttpServerRequest does not expose such api, although the impl of this has nettyChannel instance which is not exposed. What is correct way to get remote address?

[2016-11-16 16:21] sameer-pandit commented on #568
Figured it out, turns out its via HttpSeverResponse object.
response.unsafeNettyChannel().remoteAddress().

[2016-11-16 16:21] #568 closed, assigned to nobody

[2016-11-17 06:48] NiteshKant commented on #566
@jamesgorman2 apologies for the delayed response. I think a good way is to start doing these changes may be using `Flowable` in the APIs and then at a later point we can see if it makes sense to change it to `Publisher`.

[2016-11-17 08:59] jamesgorman2 commented on #566
Sounds like a reasonable place to start.

@NiteshKant do you have a particular engagement model in mind for this?

[2016-11-17 19:35] NiteshKant commented on #566
@jamesgorman2 I created a [branch](https://github.com/ReactiveX/RxNetty/tree/0.5.x-rxjava2) for these changes. Probably take one module at a time and start changing stuff 😄

[2016-11-19 00:49] jamesgorman2 commented on #566
Sounds good @NiteshKant ,

[2016-11-22 12:55] hsdmiranda opened #570 "Racing condition when using together with Reactor 3 or RxJava 2"
Hi,

Currently, we are using Netflix Ribbon + Netflix Hystrix + RxNetty to call some of our internal services. Everything works fine if we use just **RxJava 1**.

We decided to use Reactor 3 in our service layer, but because all the previous framework I mention still relies on RxJava 1, we decided to use [RxJavaReactiveStreams](https://github.com/ReactiveX/RxJavaReactiveStreams) to convert from Rx

[2016-12-06 17:04] sdeleuze opened #571 "RxNetty hangs after sending more than 45 Kbytes of data without flushing"
As demonstrated in this [sample repro project](https://github.com/sdeleuze/rxnetty-send-buffer), RxNetty HTTP server seems to block without sending any data to the client when writing more than approximatively 45 Kbytes, for example when using `ResponseContentWriter#writeString(Observable<String>)`. Maybe the flush triggered by complete is never reached because Netty send buffer is full.

Shouldn'

[2016-12-06 17:59] NiteshKant commented on #571
The problem here is that the source does not complete, due to lack of `requestN` which is caused by write buffer reaching the high watermark.

Good or bad, RxNetty requires explicit flushing and does not do anything related to flushing automagically. I initiated a feature in netty to support `AutoFlush` a while back but it hasn't yet been merged. My take is that these usecases would be handled by

[2016-12-07 09:35] sdeleuze commented on #571
Ok thanks for your feedback.

[2016-12-07 12:04] sdeleuze commented on #571
@NiteshKant Just a last question, should I expect multiple threads access on a specific flush selector instance created for each write call? I would like to know if [this simple implementation](https://github.com/sdeleuze/spring-framework/blob/24b3614063d5f3318a0242ce62e1f2203e8ead12/spring-web/src/main/java/org/springframework/http/server/reactive/RxNettyServerHttpResponse.java#L124-L142) is ok,

[2016-12-07 14:01] leslie-leder commented on #531
With version 0.5.2-rc.5 this is still an issue. The following content should result in two SSEs but emits three events.

[code]

According to the spec I would expect:

Event 1:

    Greetings
    Mortal

Event 2:

    Are you ready to die?

The actual result is:

Event 1:

    Greetings

Event 2:

    Mortal

Event 3:

    Are you ready to die?

see below quote from the spec https://www.w3.org/TR/

[2016-12-07 14:20] leslie-leder opened #572 "SSE with empty data field required by spec but ignored by rxnetty"
With version 0.5.2-rc.5 empty data fields are ignored by rxnetty.

[code]

According to the spec I would expect to events with empty string. But no event is emitted by http client.

The quoted spec https://www.w3.org/TR/eventsource/ says:

The following stream fires two events:

data

data
data

data:

The first block fires events with the data set to the empty string, as would the last block if i

[2016-12-07 17:19] NiteshKant commented on #571
There would not be concurrent access, but you will have to take care of visibility as it may be invoked by different threads at different times.

[2016-12-08 10:50] sdeleuze commented on #571
Could you explain what you mean by "you will have to take care of visibility"?

[2016-12-09 18:32] NiteshKant commented on #571
@sdeleuze

Flush selector can be invoked by multiple threads but not concurrently. So, if you have shared state, modifications to this state may not be visible across invocations of the flush selector.

[2016-12-16 23:18] ambiorix2099 opened #573 "Decompressing Responses..."
First off, a million thanks for creating and maintaining RxNetty.

I'm using RxNetty version 0.5.2-rc.5 and am looking for an idiomatic way to decompress an `HttpClientResponse<ByteBuf>`.  It seems like a typical use case, yet I haven't been able to find any clear examples.  I've tried simply adding a channel handler via the `addChannelHandlerLast` method.

I have also tried adding a transformer v

[2016-12-16 23:41] brharrington commented on #573
I haven't tried in 0.5.x, but in 0.4.x you can just use the [HttpContentDecompressor](http://netty.io/4.1/api/io/netty/handler/codec/http/HttpContentDecompressor.html) provided by netty. For example:

https://github.com/Netflix/iep/blob/master/iep-rxhttp/src/main/java/com/netflix/iep/http/RxHttp.java#L579

I'm guessing something similar would work in 0.5.x.

[2016-12-17 00:20] ambiorix2099 commented on #573
Wow!  Thanks for the quick response.

I may well have to fall back to 0.4.x, but 0.5.x allows you to add a channel handler via the HttpClient's fluent builder, via `pipelineConfigurator`, I forgot to mention in my original post that I had already tried something like this:

`.pipelineConfigurator(p -> p.addAfter("_rx_netty_http-client-codec", "decompressor", new HttpContentDecompressor()))`

I see

[2016-12-17 00:21] jamesgorman2 commented on #573
Yep, the problem is to transform the event stream you need to use the same `GZIPInputStream` across events so that it knows to concatenate the bytes. The trick is making sure you pass the same thing in and release everything at the end (eg using `Observable.using`). We need something like this for streaming data in the very near future, so I can post a snippet or gist when I have something for tha

[2016-12-17 00:27] ambiorix2099 commented on #573
@jamesgorman2

It worked!  I'm so happy, I literally feel like crying.  You guys are awesome!

[2016-12-17 19:56] ambiorix2099 commented on #573
@jamesgorman2
Just wanted to thank you again for pointing me down the right path.

I'm not new to programming, but I'm new to RxJava and wrapping my head around stream processing.  The `compose` and `using` operators are not covered in most of the Rx tutorials you see out there :-)

I'll be taking a stab at processing the gzip content I'm attempting to retrieve, as a stream.  I have a good idea no

[2016-12-17 21:49] jamesgorman2 commented on #573
no worries @ambiorix2099. My usual consideration for deciding to collect vs chunk are: (a) can I reduce my time to first byte for the caller? and (b) can I reduce the amount of stuff I'm storing in memory at any one time?

In our code base we spend a lot of time dealing with JSON. For some calls we need the whole payload so just collect everything up and parse it at the end (also where it's small

[2016-12-18 15:13] sdeleuze commented on #571
Ok thanks

[2016-12-18 15:13] #571 closed, assigned to nobody

[2016-12-20 14:55] rstoyanchev opened #574 "NPE in WebSocketHandshaker when sub-protocol is requested"
When a sub-protocol is requested, `WebSocketHandshaker` is exposed to NPE when checking `supportedProtocols.length`:

[code]

[2016-12-22 22:52] rstoyanchev commented on #560
I've encountered this as well. Looking at Netty's `WebSocketClientHandshaker` by comparison it [delays the removal](https://github.com/netty/netty/blob/0eeeb764391490585f690c8b424d9ce2d43e6a9b/codec-http/src/main/java/io/netty/handler/codec/http/websocketx/WebSocketClientHandshaker.java#L267-L277) of the `HttpClientCodec`.