[2013-11-22 08:48] NiteshKant opened #3 "Review comments"
The following are my comments on doing the first pass of the netty related code.
### Bugs
- ObservableHttpClient in the unsubscribe action of the returned subscription calls: connectionPromise.channel().close().sync(); but the channel returned by promise can be null.
- The decoder does not handle chunked + SSE combination as such.
- ServerSentEventDecoder does a checkpoint() after readFullLine() w

[2013-11-22 15:59] g9yuayon commented on #3
Thanks for the detailed review, Nitesh! I'll update the code accordingly.

About optimization item 1: to find out where the attribute name is, we will have to read each byte at least once, so the bytes in a bytebuf will be copied. The real saving, then, is deserialization cost if a user does not want a string (the spec says SSE should contain unicode characters) but a deserialized object, right?

[2013-11-22 18:53] NiteshKant commented on #3
I was looking more at iterating over the ByteBuf using ByteBuf.forEachByte(), looking for a colon or EOF & then slice the buffer appropriately. forEachByte() does not do a copy.
I agree that the encoding would not be an issue as SSE specifies only UTF-8 but I think the decoder converting to String is too early in the process to do the conversion & it eliminates the possibility of folks dealing wit

[2013-11-22 21:46] benjchristensen opened #4 "ObservableConnection vs ObservableHttpResponse"
Does it continue to make sense giving HTTP it's own response type instead of the generic `ObservableConnection`?

Thinking more since yesterday I think it probably still does because HTTP is such a common protocol and different from the others in that it is unidirectional once established.

I do think though we should make sure `ObservableConnection` and `ObservableHttpResponse` feel similar.

[2013-11-22 21:49] benjchristensen opened #5 "Public vs Private APIs"
Right now we don't have the public APIs correctly exposed. For example, we have some classes hiding in `rx.netty.impl` that are actually part of the public API so they should be inside an `impl` package. The `ObservableHttpResponse` object is deep inside a `protocol` package that is definitely full of private objects.

The `RxNetty` class is definitely the entry point, and anything it exposes shou

[2013-11-22 23:27] NiteshKant commented on #4
How I look at it, this is how the abstractions are:

1) Connection
2) Request
3) Response

Both TCP & HTTP have a connection that can be used to send one or more request responses (ignoring HTTP 1.0 where you can only send 1 request on a connection).
HTTP 1.1 limits the responses to be sequential or ordered i.e. the response of the first request should be sent before the response to the second (HT

[2013-11-23 05:45] g9yuayon commented on #4
Yeah, we should keep ObservableHttpResponse (or something similar) for the reason that an HTTP response contains both headers and content. Since there can be more than one content per response, we can model the content as an observable. That's exactly what ObservableHttpResponse does.

I'm not sure if we can directly use ObservableConnection as HTTP client. In theory, we could have this type for a

[2013-11-23 05:49] g9yuayon commented on #4
By the way I updated Nitesh's comment slightly by replacing the left angle bracket &lt; with &lt;, otherwise github will hide the character.

[2013-11-24 16:56] NiteshKant commented on #4
Thanks Danny for updating my comment!
Actually you do not need to expose the abstraction of HTTPClient to the users. Internally Rx can make sure that the connection is reused only when the previous request is over & there isn't anymore subs alive. So, the abstraction becomes consistent irrespective of the protocol.
Rx should possibly disallow pipelining by clients to avoid the overhead of request-

[2013-11-25 18:06] allenxwang commented on #3
It seems that there can be only one Observer for ObservableHttpClient, as each subscription will start a new connection and unsubscription will cause channel close. Is there a way to handle multiple Observers?

Regarding the comment of chunked + SSE, I am wondering if we can simply leave the HttpClientCodec in the pipeline so that we do not have to deal with both chunked encoding protocol and SSE

[2013-11-25 18:49] NiteshKant commented on #3
HttpObjectDecoder generates chunked responses iff the content > max chunk size (defaults to 8192 bytes) or the transfer encoding is chunked. The intent of this decoder is to not accumulate content based on size but generate events based on the protocol i.e. occurrence of a new line. If the transfer encoding happens to be chunked, then the minimum granularity we can go is 1 chunk, otherwise, the gr

[2014-01-07 19:00] allenxwang opened #8 "ServerSentEventDecoder includes "\n" as part of event data"
It is desirable that for single line data, the trailing "\n" that is added as the delimiter of SSE is removed when the data is delivered to Observer.

[2014-01-08 01:35] allenxwang opened #12 "UriInfo does not handle certain URI"
Tried to execute this code:

[code]

The output is "localhost"

[2014-01-09 02:39] allenxwang opened #15 "Handling read timeout"
Netty's handling of read timeout is not very intuitive: you need to add a ReadTimeoutHandler in the pipeline. However, channel read can still happen even if ReadTimeoutHandler has thrown out a ReadTimeoutException down the pipe.

In the blocking socket, setting read timeout ensures that socket resources will be released after the timeout is passed. How does the read timeout play a role in non-bloc

[2014-01-09 02:51] NiteshKant commented on #15
Netty's read timeout handler closes the channel on read timeout, which
essentially is releasing resources per se. So you should add a read timeout
handler in your pipeline irrespective of whether it's a blocking or
non-blocking I/O.

On Wednesday, January 8, 2014, allenxwang wrote:

[2014-01-09 04:43] allenxwang commented on #15
OK. The actual problem with ReadTimeoutHandler is in this issue:

https://github.com/netty/netty/issues/1840

Basically ReadTimeoutException gets thrown even after channel read happens.

[2014-01-09 05:22] benjchristensen commented on #15
If we use `Observable.timeout` and it cancels the connection, everything should work correctly as well.

[2014-01-09 09:27] NiteshKant commented on #15
With the read timeout handler there should at least be some bytes read
every timeout interval till you close the channel. It does not matter if
there has been some available bytes once.
Is this the behavior you are seeing?

On Wednesday, January 8, 2014, allenxwang wrote:

[2014-01-09 17:24] allenxwang commented on #15
The behavior I am expecting is that once channel read starts within the specified timeout, no ReadTimeoutException should be fired. But in reality, I always get ReadTimeoutException if you wait long enough (after the specified timeout).

[2014-01-09 17:41] benjchristensen commented on #15
That's definitely not what we want from the Netty layer. At the Rx layer using `Observable.timeout` that's what I'd expect as that is for the full sequence (IO + computation).

[2014-01-09 19:54] NiteshKant commented on #15
I had a chat with Allen.
The scenario here is that the connection is a persistent connection & there is no activity on the connection after the response is received, which is the expected behavior of the timeout handler.

The correct way of using this handler would be to add it when you are expecting a response (request write complete) and remove it when response is done (full response received)

[2014-01-09 20:28] benjchristensen commented on #15
What would the syntax look like for that?

Since we're embracing `Observable` in here, perhaps we just leverage `Observable.timeout` so the user decides when they want a timeout and it will correctly cancel the underlying Netty Future?

How does this affect connection pooling and persistent connections?

[2014-01-09 21:20] allenxwang commented on #15
The timeout we can put on Observable is the "response" timeout, not the network timeout. i.e., it includes the time to set  up pipeline, establish the connection and write the request. So I would say it is a slightly different concept. It can be used on behalf of the caller to govern the perceived response time.

If the purpose of read timeout is to protect socket resources, I feel the ReadTimeout

[2014-01-10 00:34] benjchristensen commented on #15
Ah okay. Makes sense, I mistook this to be the response timeout since it was stated as "read" not "connect" timeout.

In Netty is there something in between, or is this the "connect" timeout we're discussing?

[2014-01-10 02:19] allenxwang commented on #15
Talked with Ben. Users of RxNetty can set Observable timeout and when it happens, ObservableHttpClient automatically closes the channel.

On the other hand, we have advanced users and library developers (like ribbon) who want to set specific network timeout for connect and read. So we still need to support such use cases by using Netty APIs.

[2014-01-10 02:31] benjchristensen commented on #15
Yup. Thanks Allen.

[2014-01-28 22:35] NiteshKant commented on #15
After this refactoring: https://github.com/Netflix/RxNetty/pull/19

RxClient supports read timeouts such that if there is more than configured time lapsed between reading data from the socket buffer, it will result in a timeout. The implementation uses Netty's ReadTimeoutHandler as the first handler in the pipeline. This handler is added after any write completes on the channel & removed after the

[2014-01-28 22:36] NiteshKant commented on #12
RxClient does not use UriInfo anymore, do we need this class around?

[2014-01-28 22:36] #8 closed, assigned to nobody

[2014-01-28 22:44] NiteshKant commented on #5
After this refactoring: https://github.com/Netflix/RxNetty/pull/19

The following is the package structure:

[code]

With the first level package: io.reactivex.netty only containing RxNetty and ObservableConnection classes.

The general classes people have to interact with are:

1) RxNetty: Easy entrypoint for creating simple clients & server.
2) RxServer or protocol specific extensions of the sam

[2014-01-28 22:47] NiteshKant commented on #4
With this refactoring: https://github.com/Netflix/RxNetty/pull/19

RxClient provides a connect method which returns Observable<ObservableConnection>.
HttpClient uses this connect method and converts ObservableConnection.getInput() to Observable<ObservableHttpResponse>.
This makes the overall experience interacting with RxNetty for clients, consistent.

I am closing this issue.

[2014-01-28 22:47] #4 closed, assigned to nobody

[2014-01-28 23:09] NiteshKant opened #20 "Implement connection pooling"
RxClient should be able to support connection pooling. We can use this issue to discuss the requirements.

[2014-01-28 23:10] NiteshKant opened #21 "HttpClient should cancel request write & response processing on unsubscription"
Currently HttpClient cancels the connection subscription when the caller of HttpClient.submit() unsubscribe. This in turn closes the connection.
The relevant code is here:

https://github.com/Netflix/RxNetty/blob/master/src/main/java/io/reactivex/netty/protocol/http/HttpClientImpl.java#L71

Ideally, it should do the following:

1) If write is not completed, cancel write, which if successful should

[2014-01-28 23:14] NiteshKant opened #22 "Groovy examples must define a dependency on rxjava-groovy"
In absence of which, the examples can not run inside a JVM.

[2014-01-28 23:34] NiteshKant opened #23 "Groovy examples are broken"
After this refactoring: https://github.com/Netflix/RxNetty/pull/19 the groovy examples are broken.

Java examples mimic these groovy examples though.

[2014-01-29 19:09] #23 closed, assigned to nobody

[2014-01-29 19:10] NiteshKant commented on #22
Made the change in the build file to have an exampleRuntime dependency on rxjava-groovy.

[2014-01-29 19:10] #22 closed, assigned to nobody

[2014-01-29 19:23] NiteshKant opened #28 "HttpClient should be able to follow HTTP redirects"

[2014-01-29 19:23] #15 closed, assigned to nobody

[2014-01-29 19:24] NiteshKant commented on #15
Chatted with Allen offline. We don't need the response read timeout functionality which excludes request send time. One can just use Rx's timeout.

[2014-01-29 19:24] #12 closed, assigned to nobody

[2014-01-29 19:28] NiteshKant opened #30 "ServerSentEventDecoder optimization"
The ServerSentEventDecoder can be optimized as follows:

It currently does a data copy as it converts data to a string. Instead you can read only the attribute name & the rest can be a view of the underlying ByteBuf. This can help in cases where people want to handle raw ByteBuf. You can have a utility method on Message to get data/value as String.
It will be more optimal not to add the created me

[2014-01-29 19:30] NiteshKant commented on #3
Apart from the ServerSentEventDecoder optimization everything is done. Created a new issue (#30)  for this optimization & closing this issue.

[2014-01-29 19:30] #3 closed, assigned to nobody

[2014-01-29 23:36] g9yuayon opened #31 "Simple URI mapping"
We'd still need an simple URI mapping that dispatches different handlers to different URI patterns. Mantis already has a few use cases for this function. I'd imagine that URI  mapping is the first thing that most users will need, it would make sense to put it in RxNetty.

[2014-01-30 07:50] NiteshKant commented on #31
In the simplest form I guess what you are saying is provide a Map of uri regex Vs Action1 implementations, that the Action1 instance passed to RxServer.start() uses, rite?

https://github.com/Netflix/RxNetty/blob/master/src/main/java/io/reactivex/netty/server/RxServer.java#L60

[2014-01-30 22:56] allenxwang opened #33 "Problems with synchronized channel connection and callbacks on ConnectException"
In RxClientImpl, channels are connected synchronously:

final ChannelFuture f = clientBootstrap.connect(serverInfo.getHost(), serverInfo.getPort()).sync();

This causes Ribbon junit test failure on retries if the retry happens on the same thread. The exception received is BlockingOperationException.

If removing sync() call, then this JUnit test will fail as Observer.onCompleted() is called unexpe

[2014-01-30 23:53] allenxwang commented on #33
We can add a ChannelFutureListener to the channel connect operation and call Observer.onError() if the operation failed. This seems to ensure that the right exception is given to the Observer.

[2014-01-31 03:42] NiteshKant commented on #33
Looks like the connect failure does not flow through the pipeline, which is an issue. So, the only way to fix this is what you have suggested.
The sync() call in RxClient is certainly wrong.
Allen, will you take this up?

[2014-01-31 04:28] allenxwang commented on #33
Sure. Will send a pull request soon.

[2014-01-31 06:40] NiteshKant commented on #33
@allenxwang In the interest of better maintainability, having all observer callbacks in a single place would be beneficial. In this case, it will be ConnectionLifecycleHandler.

[2014-02-04 22:24] allenxwang opened #35 "Support GZip for FullHttpResponse"
We need to add another configuration option in ClientConfig to indicate that GZip support is needed and add appropriate handler in the pipeline.

[2014-02-05 02:54] NiteshKant commented on #35
Is this fixed or not required?

[2014-02-05 17:28] NiteshKant commented on #35
Yeah we should add this feature. Although, is there any specific reason why this should only apply to fullhttpresponse?

[2014-02-05 18:02] allenxwang commented on #35
From Netty's examples, looks like this needs to be after the HttpClientCodec.

So not specific to fullhttpresponse, but probably does not make sense for ServerSentEvent without chunked encoding.

[2014-02-06 00:07] allenxwang opened #36 "Support writing to HTTP connection"
HttpClient needs to have an API to support writing to HTTP connection. This is useful when full content is not available at the time when POST request is sent.

[2014-02-06 05:30] NiteshKant commented on #35
I see what you are saying. The example uses the http compression/decompression codec which in turn uses codecs in this package: https://github.com/netty/netty/blob/4.0/codec/src/main/java/io/netty/handler/codec/compression/package-info.java# I think we should aim at modeling client/server compression using this package. HTTP will be a specific use case as it in turn means adding compression type h

[2014-02-06 05:30] #33 closed, assigned to nobody

[2014-02-07 22:12] NiteshKant commented on #36
To clarify the usecase: It is an incremental write of request from the client.
This would be achievable with the latest (WIP) changes in the design where HttpClient would be providing a HttpRequest object which will have the following:

1) Headers.
2) Observable of content.

RxNetty will subscribe on the content, receiving which it will write to the underlying channel.

[2014-02-07 22:15] NiteshKant commented on #31
@g9yuayon I would not have time to work on this in the short term, let me know if you want to work on this. In that case, I would recommend you to wait till I am done with the latest changes in APIs.

[2014-02-07 22:21] g9yuayon commented on #31
No worries, @NiteshKant. In that case I'll work on it.
On Fri, Feb 7, 2014 at 2:15 PM, Nitesh Kant notifications@github.comwrote:

[2014-02-14 23:17] NiteshKant opened #39 "HttpServer should return a 500 response in case of internal error"

[2014-02-15 00:00] NiteshKant opened #40 "RxClient & RxServer should not hold JVM exit"

[2014-02-15 05:52] NiteshKant commented on #36
This is fixed. The request now provides a way to provide a content source following a iterative model which is better for back pressure than a push based observable model.

[2014-02-15 05:52] #36 closed, assigned to nobody

[2014-02-15 05:53] #5 closed, assigned to nobody

[2014-02-17 19:22] NiteshKant opened #43 "ObservableConnection should support write() & flush() as two different operations"
Currently anything written to ObservableConnection is flushed immediately. It should ALSO support write() & flush() as two separate operations for users to optionally delay flush if required.

[2014-02-18 00:49] #43 closed, assigned to nobody

[2014-02-18 00:49] #40 closed, assigned to nobody

[2014-02-18 00:51] NiteshKant opened #45 "Implement Cookie & URI parsing for HTTP"
HttpRequest & HttpResponse both for client and server does not implement Cookies.
Also, different methods in HttpRequest for server for parsing URI are not yet implemented.

[2014-02-18 09:06] #45 closed, assigned to nobody

[2014-02-24 20:21] allenxwang opened #51 "chunked encoding header is added prematurely"
In `HttpRequest.withContent(T content)`, it adds `Transfer-encoding: chunked` header if the content length is not set. However, content length can be set later with `withHeader()` method since we allow arbitrary sequence of the `with...()` calls in the builder.

[2014-02-24 22:15] allenxwang opened #52 "Facilitate query parameter building for HttpRequest"
Since we are providing our new HttpRequest abstraction, it will be convenient to add APIs that helps users to build the URI with query parameters and handle the encoding.

[2014-02-25 07:08] NiteshKant commented on #51
Good catch!
The transfer-encoding header or content length must be added before sending the request not at creation of the request.

[2014-02-25 07:11] NiteshKant commented on #52
The HttpRequest creation takes a URI which is expected to be created before hand. Is there any specific benefit providing a URI without query parameters and then giving a way to append them?

If we do, the code becomes unnecessarily complex to find out whether the URI already contains query params or not, which entails parsing the URI. As opposed to the user adding then before hand.

[2014-02-25 23:33] NiteshKant commented on #52
Had a chat with Allen. There are cases where in someone wants to build a URI incrementally, however, the use case can be handled outside the HttpRequest class using lets say a URIBuilder which gives you various options of encoding, adding Query Parameters etc. Once it gets to HttpRequest, the URI is immutable.

[2014-02-26 00:49] NiteshKant opened #53 "Reusable HTTPRequests?"
[HttpRequest](https://github.com/Netflix/RxNetty/blob/master/src/main/java/io/reactivex/netty/protocol/http/client/HttpRequest.java) provided by HttpClient contains a ContentSource which is a collection of Objects that would be sent as payload of the HTTP request sent by HttpClient.

In order for [Ribbon](https://github.com/Netflix/ribbon) or any other higher level framework to provide retries, it

[2014-02-26 08:59] NiteshKant opened #54 "Serialization framework"
This is a blanket issue for serialization/deserialization.

[2014-02-26 21:36] allenxwang opened #55 "Add wire debugging functionality"
RxNetty should be able to add wire debugging if it is configured to do so as part of `ClientConfig`.

The implementation can probably use Netty's `LoggingHandler`.

[2014-02-27 08:01] NiteshKant commented on #55
Makes sense but it should be for both client and server.

[2014-02-27 08:13] NiteshKant commented on #55
The way netty's logging handler works is that it logs messages at DEBUG level unless one specifies which level it should log at. So, if logging handler is added to the pipeline, one has to enable logs for the logging handler class at level DEBUG.

One option is to always add LoggingHandler to the pipeline for both client & server. This is not a big deal but may create unnecessary overhead in cases

[2014-02-28 09:30] #51 closed, assigned to nobody

[2014-02-28 09:31] NiteshKant commented on #39
Provided an ErrorResponseGenerator interface which can be set on an HTTP server to update HttpResponse in case an error occurs during request handling and the response is not already sent.

[2014-02-28 09:31] #39 closed, assigned to nobody

[2014-03-01 01:00] allenxwang opened #58 "Content-length is set for GET request"
According to HTTP specification:

The presence of a message-body in a request is signaled by the inclusion of a Content-Length or Transfer-Encoding header field in the request's message-headers. A message-body MUST NOT be included in a request if the specification of the request method (section 5.1.1) does not allow sending an entity-body in requests.

But looks like in the last update "Content-le

[2014-03-01 01:05] allenxwang commented on #58
The proposed fix is change in ClientRequestResponseConverter from

[code]

to

[code]

[2014-03-02 07:42] NiteshKant commented on #58
@allenxwang your recent code changes, fixes this, rite?

[2014-03-03 19:20] allenxwang commented on #58
Correct.

[2014-03-03 19:20] #58 closed, assigned to nobody

[2014-03-03 20:08] allenxwang commented on #53
It is not clear what the intention of the withContent_() APIs is when such methods are called multiple times. To me, the with_ methods gives a feeling that the final state of the HttpRequest is the union of those. But it seems that the real intention is that they should override each other. Also, the raw content and content are mutually exclusive. Should we reflect those points in the API design a

[2014-03-03 22:32] allenxwang opened #61 "Make sure server for HttpClientTest runs with multiple threads"
Test `testTimeout()` in HttpClientTest will send a request to RxNetty server and causes it to wait for 10 seconds. If the server runs with only one thread, this will cause subsequent tests to timeout if they send request to server and install the ReadTimeoutHandler, which is the case for test `testNoReadTimeout()`.

[2014-03-03 22:38] #61 closed, assigned to nobody

[2014-03-04 17:02] allenxwang opened #63 "Rename HttpRequest/HttpResponse with server/client perspective"
When doing server side programming with RxNetty which also uses its client to talk to other services, the server side HttpRequest/Response are mangled with client's corresponding objects that have the same name, which ends up having to use fully qualified name.

[2014-03-04 17:03] allenxwang commented on #63
How about the following set

[code]

[2014-03-04 17:06] benjchristensen commented on #63
Works for me.

[2014-03-07 21:51] allenxwang commented on #21
I was under the impression that if the Observer is unsubscribed, the channel should be closed in current implementation. But it does not seem to be true. Here are the steps I observed during debugging:
- Request is successfully written to the pipeline and response is also received in the pipeline. onCompleted() method of the Observer that is subscribed to `Observable<HttpResponse>` is called.
- th

[2014-03-08 00:50] allenxwang commented on #20
Here are the high level requirements I would like to propose:

### Types of pool

Two types of pool should be included:

#### RouteSpecificPool

This pool contains channels that are connected to a specific host/port. The pool capacity is reached if total channels which include checked out (or in use) channels and idle channels has reached to a configurable number. In this case, no new channels are

[2014-03-08 18:36] NiteshKant commented on #20
@allenxwang what will be the reason someone will specify the total connection limit for a general pool?

For the Idle timeout, since the server will close the connection after the timeout, we would not have to keep track of that timeout, rite?

In order to create a ChannelFuture you would need a valid channel, so for the case, when you can not create a new channel, you can not return a ChannelFutu

[2014-03-08 18:42] NiteshKant commented on #21
The unsubscribe from connectObservable does not close the connection as it just means, the subscriber does not want to get any new connections. The connection close is explicit, which does not seem to be happening currently in HttpClient. HttpClient should call close on the connection when the request processing is completed.
I will fix this issue.

[2014-03-10 17:43] allenxwang commented on #20
The total connection limit for general pool applies to client (like the one in Ribbon) that talks to a server farm consists of homogeneous servers. It stands for the maximal concurrent connections allowed from one client host to the server farm. It will also help to limit the impact of resource/connection leaks.

The HTTP specification states that both the client and server may choose to timeout t

[2014-03-11 18:09] NiteshKant commented on #20
Generally, if someone has to configure this number, would it be atleast: number of servers \* max connection per route?

The quote from the spec does not talk about keep-alive timeout (the keep-alive timeout attribute is not a standard), it talks about general client and server disconnections. We should not be completely basing our design on apache http client as some of its design decisions comes

[2014-03-12 00:46] allenxwang commented on #20
No, in all cases in production (Zuul, for example) the max total connections is much less than servers \* per route max connection. Since the load balancer in most of the time selects server in round robin fashion, the per route max connection only matters when the route becomes bad, for example, problem on a specific server which causes a lot of read timeout. This does not happen very often. But

[2014-03-12 17:30] NiteshKant commented on #20
So that I understand this correctly. If we take an example of a server farm of 3 servers with a max per route of 5 and total max connections 9. Then this will mean that no server can have more than 3 concurrent connections, assuming round robin load balancing. In such a case, what is the use of max per route?
OTOH, if for some reason, connection counts are skewed towards one server (due to high re

[2014-03-12 22:59] #63 closed, assigned to nobody

[2014-03-12 23:44] allenxwang commented on #20
For our internal usage, max per route is not really useful, given that there is a a load balancer that keeps round robin policy and will skip hosts with high concurrent requests count. So for our use case, we can potentially consolidate the RouteSpecificPool and GeneralPool into one type that has only limit on total connections, regardless whether the connections are for one route or not.

The per

[2014-03-13 08:44] NiteshKant commented on #20
I see. One thing that is not clear to me is that if I am defining the total connection count on a pool of auto-scaled servers, how will I determine the optimal number of concurrent connections. If I understand it correctly, it will depend on the number of servers, correct?

Sure, if we are not doing the second approach ever, then it does not hurt to honor this timeout too. However, if we say that

[2014-03-13 18:31] allenxwang commented on #20
Yes. The max total connections should be changeable. Apache connection pool also supports setting of the max total connections after it is created. Ribbon currently utilizes this feature to optionally change pool size when load balancer senses that server list size is bigger than current pool size.

The "cleanup thread" approach is optional, and will never replace the first approach. We have this

[2014-03-13 23:27] allenxwang opened #72 "HttpObjectAggregator is not in the correct position in the client pipeline"
`PipelineConfigurator.httpClientConfigurator()` returns a PipelineConfigurator that includes HttpObjectAggregator. However, it seems that this is never used as `ClientRequestResponseConverter` does not pass the HttpContent object to the next  handler in the pipeline.

It is not clear what the intention is. Are we still going to support out-of-the-box pipeline configuration that supports aggregated

[2014-03-14 08:51] NiteshKant commented on #72
ClientRequestResponseConverter is always added at the end of the pipeline (in this case after the aggregator) so it does not need to pass anything to the next handler. This is the handler that bridges netty's pipeline to Rx observers.

The default client/server created by RxNetty always gets aggregated responses/requests as in general users do not want to handle HTTP chunks. If someone is using HT

[2014-03-14 20:22] allenxwang commented on #72
Looks like ClientRequestResponseConverter is not added after the aggregator, but before aggregator.

Here is the code from `HttpClientPipelineConfigurator`

[code]

And in `PipelineConfigurators`

[code]

In `HttpObjectAggregationConfigurator`

[code]

So the actual order of handlers in the pipeline is:

[code]

[2014-03-14 21:37] allenxwang commented on #72
Looks like `HttpObjectAggregationConfigurator` should be updated to account for pipeline configuration differences between server vs. client. Here is the proposed fix:

[code]

[2014-03-15 10:10] NiteshKant commented on #72
By design, it should only be added here: https://github.com/Netflix/RxNetty/blob/master/rx-netty/src/main/java/io/reactivex/netty/protocol/http/client/ClientRequiredConfigurator.java#L34

The code to add it in HttpClientPipelineConfigurator seems like a bug, we can remove that code & it should work as expected. @allenxwang can you try this?

[2014-03-16 08:57] NiteshKant commented on #20
It looks to me that defining max connections per server suits the needs better than defining it for the whole farm (which is auto-scaled) as a user can determine that number more precisely than for the whole farm which is variable and is a function of number of instances.
Yes, may be we can have heuristics around optimizing the max conn. for the farm at runtime but it looks like it is because we a

[2014-03-17 22:02] allenxwang commented on #20
I talked to @mhawthorne and he indicated that connection per server is not really used by Zuul. In practice, people usually set the connection pool size large enough to accommodate auto scale.

I would start with pool implementations that support max total connections and see if we need the other variation after we test it in Zuul.

My understanding is that clients do not have to accurately archiv

[2014-03-17 22:58] mhawthorne commented on #20
sorry for jumping into this so late.

**connection pooling**

the only reason we bound the connection pool size at all is to eagerly detect misconfigurations that would cause us to create an unlimited number of connections (aka connection leak).  otherwise we wouldn't care.  configuring the connection limit per-server doesn't feel right to me for a few reasons:

1) we will undoubtedly be experimen

[2014-03-17 23:34] allenxwang commented on #20
The current design on idle connection clean up is it will piggy back on thread that requests for connection. This is based on the following assumptions:
- All idle connections are on a single queue and easy to find an traverse
- Calculating if a connection has passed idle time is trivial as doing x+y>z
- Closing idle connection is done asynchronously and trivial

The other factor that will help to

[2014-03-18 23:51] allenxwang commented on #72
Yes, removing it from the HttpClientPipelineConfigurator fixed the issue. Will send a pull request.

[2014-03-20 16:36] allenxwang opened #74 "Use PooledByteBufAllocator.DEFAULT by default as Bootstrap option"
According to the talk given by Norman Maurer, use PooledByteBufAllocator greatly reduces GC pressure.

[2014-03-21 16:10] #72 closed, assigned to nobody

[2014-03-24 21:38] allenxwang commented on #20
Talking to a few folks, it seems that having a thread to clean up idle connections periodically helps the server to reduce its concurrent connections and release resources so that it performs better when there is a surge of requests.

I plan to add the periodical idle connection clean up task. The only concurrency issue is that the clean up task and the connection request thread may try to compete

[2014-03-25 11:03] NiteshKant opened #76 "Channel pool should listen for channel close events"
Currently the channel pool implementation does not have a way to react to close of underlying socket. It would depend on the next reuse of the connection or a background thread to detect such socket closures.
A scenario in which this limitation is highlighted is a ReadTimeoutHandler closing the connection after firing the timeout exception. In this case, the underlying connection will be in the id

[2014-03-25 11:08] NiteshKant opened #77 "Use of www.google.com in tests"
A lot of tests in HttpClientTest tries to connect to "www.google.com".
This can easily be replaced by starting a local RxServer on a port. The dependency on a website can cause flakiness of tests and also adds an unnecessary requirement of connecting to the internet for running the tests (Yes I want to run these tests on a flight :) )

[2014-03-25 11:42] NiteshKant commented on #53
@allenxwang do you have some suggestions as to how these can be more intutive?

[2014-03-25 12:20] NiteshKant commented on #20
Sorry for the delayed reply.

@mhawthorne I agree with your point that having a limit on the number of connections interfere with routing logic for more potent servers, if the number is too pessimistic/restrictive. However, the argument is the same even for putting a number on the total connections, if it is set to a too restrictive value.
In our architecture, the throttling on concurrent request

[2014-03-25 17:02] allenxwang commented on #76
If we put the channel back to the idle pool without closing it, the next time it is picked for reuse and the read timeout has not happened yet, it will cause problem as we are sending another request on the channel without getting the response from the first request, right? Does HTTP protocol allow sending two requests on the same socket without getting the response from the first?

[2014-03-25 17:11] allenxwang commented on #77
Sure, just get wifi on the flight :))

The reason to pick google.com is that it is a reliable site that returns 200 response code and keeps the connection alive. Another reason is that it sends a large payload in multiple chunks so we actually test that the aggregator works.

As long as we can satisfy the above, I am fine with replacing it with an RxServer.

On the other hand, I feel that not alwa

[2014-03-25 17:45] allenxwang commented on #76
ConnectionLifecycleHandler remains in the pipeline after a channel is returned to the pool. Currently the channelUnregistered() method in this handler calls connection.close() which returns the channel to the pool. The pool will remove the channel if it is already closed and not reusable.

 Is channelUnregsitered() automatically called when channel is closed? If not, we just need to make connectio

[2014-03-25 18:04] NiteshKant commented on #77
So, if tomorrow, for whatever reason google.com starts sending a more lighter response or stops keeping the connection alive or gives a redirect to lets says google.co.in when queried from India, we stop testing what we believe we are testing? Worst still, In the extreme case of a google.com outage (in the light of the recent instance), our test start failing?
One of the basics of unit testing is

[2014-03-25 18:28] NiteshKant commented on #76
May be I was not clear in my description. I did not mean to put the channel back into the reusable pool before it is closed. I meant that; this is what will happen, if we close the connection after the request processing is over i.e. when readtimeout occurs. This was just an example. The basic problem is that we are not listening to socket close events, which can happen without user interaction, e

[2014-03-25 18:38] NiteshKant opened #79 "AbstractQueueBasedChannelPool close idle connection from another route on pool exhaustion"
May be I am out of context here, so correct me if I am mistaken.

AbstractQueueBasedChannelPool has this code:
https://github.com/Netflix/RxNetty/blob/master/rx-netty/src/main/java/io/reactivex/netty/client/pool/AbstractQueueBasedChannelPool.java#L172

which seems to suggest that if a connection is not available for a server, it will take it from another server.
On the face of it, this seems to be

[2014-03-25 18:45] allenxwang commented on #79
The comment may be a little misleading. It means getting the "quota" of the channel by closing an idle channel for another route. The channel that is finally returned is for the specified route as the new channel is created in the line

https://github.com/Netflix/RxNetty/blob/master/rx-netty/src/main/java/io/reactivex/netty/client/pool/AbstractQueueBasedChannelPool.java#L178

[2014-03-25 18:46] NiteshKant opened #80 "RxClient should provide a way to shutdown"
This is specifically required since we have also implemented a connection pool and hence there should be a way to cleanup those connections when they are no longer required.

This should in turn shutdown the underlying pool.

[2014-03-25 18:48] NiteshKant opened #81 "Connection pool shutdown"
Currently, the ChannelPool implementation does not provide a way to shutdown the pool. After we resolve issue #80 of providing a shutdown for the client, we should also be able to shutdown the associated pool.
If we do not do this, we will end up with unused opened connections, if a client is shutdown and the process is still alive.

This should possibly also close the "in-use" connections and not

[2014-03-25 18:57] benjchristensen commented on #77
It's good to move to internal implementations ... I used google.com in very early things.

We can and should simulate all server and client things we want by building clients and servers that do them.

[2014-03-25 18:58] NiteshKant opened #82 "AbstractQueueBasedChannelPool issues duplicate channel lifecycle events"
The lifecycle of a channel in netty is defined as

channelRegistered -> channelActive -> channelInactive -> channeUnregistered

However, going by the code here:

https://github.com/Netflix/RxNetty/blob/master/rx-netty/src/main/java/io/reactivex/netty/client/pool/AbstractQueueBasedChannelPool.java#L150

The lifecycle will be:

channelRegistered -> channelActive -> channelRegistered -> channelActive

[2014-03-25 19:19] NiteshKant opened #83 "Synchronized methods in AbstractQueueBasedChannelPool"
This could lead to hot locks specially if executed within a completely async application and gets executed in an eventloop.

For the methods in question,

1) getTotalChannelsInPool() can just be a best effort and hence can remove synchronization.
2) setMaxTotal() uses a semaphore underneath so does not need to be synchronized, rite?

[2014-03-25 19:32] NiteshKant commented on #79
I see. IMHO, this is not really required and will create unnecessary connection churns. Your assumption seems to be that at this point there may be some other server which is less loaded and hence can sacrifice an idle connection. However, this will create unnecessary contention if all the underlying servers are relatively busy and have very less idle connections. I think we should leave this kind

[2014-03-25 21:40] allenxwang commented on #79
With load balancer, this kind of problem is less likely to occur since we can control which server to choose. However, the pool should also be able to use by one or more RxClient that does not use load balancer, or load balancer that only does simple round robin. In this case, I feel removing idle connection to accommodate connection request is better than fail.

Also, as @mhawthorne mentioned in

[2014-03-25 22:22] allenxwang commented on #83
getTotalChannelsInPool() is only used for monitoring purpose which should happen infrequently in background thread. I cannot imagine why it would be used for a normal connection request.

I also expect that set should be called very rarely, possibly several times a day, and in a background thread.

If get and set is not synchronized and set is in process, getTotalChannelsInPool() may return an inc

[2014-03-25 23:35] allenxwang commented on #82
We need to re-initialize pipeline for the following reason:
- Make sure the new Observer is added at the end of the pipeline
- Make sure that custom objects kept in ChannelHandler will no longer be effective (since new instance of ChannelHandler is installed)
- Make the channel reusable for another RxClient that has different pipeline configuration, but talks to the same server.  This is the requi

[2014-03-26 02:18] allenxwang commented on #82
Also, since during re-initialization, all channel handlers are removed and new ones are installed, they will not get duplicated channel events.

https://github.com/Netflix/RxNetty/blob/master/rx-netty/src/main/java/io/reactivex/netty/client/pool/AbstractQueueBasedChannelPool.java#L146

Specifically, for channel handlers removed during re-initialization, they got:

channelRegistered -> channelActiv

[2014-03-26 06:06] allenxwang commented on #83
For set method, if two threads try to set the max at the same time and the method is not synchronized, maxTotal and maxConnectionsLimit may get out of sync. This will cause the get method return the wrong value for extended period of time until the next set.

[2014-03-26 11:33] NiteshKant commented on #83
Since, AdjustableSemaphore is defined by us, the instance variable AbstractQueueBasedChannelPool.maxTotal seems redundant to me, as you can provide a getter in AdjustableSemaphore to get this value. Positive is that you don't have to worry about consistency between these values.

It is a public method, we should not make assumptions about its usage.

I think the question here is what are the reper

[2014-03-26 11:59] NiteshKant commented on #82
You are overlooking the fact that a netty pipeline can have Shared handlers i.e. the same handler instance is used for all channels. If I were to create a shared handler counting number of connections, I will get duplicate events and hence skew my statistics.
Shared handlers are marked with this annotation: https://github.com/netty/netty/blob/master/transport/src/main/java/io/netty/channel/Channel

[2014-03-26 12:11] NiteshKant commented on #79
The current random choosing of an idle connection is not helping. Instead, it may create issues if we start closing idle connections from the server that is in use. FWIW, the connection that is idle may just be created to process a request or in reaction to a load analysis strategy.
The important point here is that the decision to take an idle connection from another server can not be aptly done a

[2014-03-26 20:41] mhawthorne commented on #79
@NiteshKant I wouldn't call LRU naive in this case, but I see your point.

I think there are 2 issues here:

1) for the general open-source use case (not necessarily including Netflix's operational usage patterns), does it make sense to include client side connection cleanup?

2) Since we at Netflix do have use cases for killing connections (servers going out of service, server requests failing an

[2014-03-27 01:52] allenxwang commented on #82
On the high level, this is what I am trying to achieve:
- Decouple RxClient from connection pool logic, meaning there should be minimal code in RxClient to deal with connection reuse. RxClient does not need to handle channel/pipeline differently if the channel is from the pool vs. a channel created by RxClient itself. A channel should bear minimal state from previous use.
- Keep the code simple an

[2014-03-27 20:33] NiteshKant commented on #79
@mhawthorne so that we are on the same page, this particular discussion is around the piece of code which attempts to borrow quota (max total connections for a server farm) from other server when the quota has exhausted. This is done by randomly choosing an idle connection from any server in the farm and closing it. The need for this behavior is being discussed in this thread.

Most definitely, we

[2014-03-28 17:09] allenxwang opened #85 "Add logging framework"
We don't have any logging in rx-netty module now. I think we need some logging when the code reaches production to help debugging. For example, we have debugged and found issues in Apache HttpClient connection pool when DEBUG logging is turned on.

[2014-03-28 17:48] benjchristensen commented on #85
If we're doing this it should only be SL4J.

[2014-03-31 23:33] allenxwang commented on #79
@mhawthorne @NiteshKant To optimize the connection pool usage with minimal connection churns, I am proposing the following:
- Provide an API to query/delete idle connections for a given host/port. Ribbon client can invoke this API when it sees a server is no longer available in Discovery.
- Periodically clean up idle connections in a thread if they have been idle for a configurable amount of time.

[2014-04-01 18:33] NiteshKant opened #87 "Redirect loops & infinite redirects"
HttpClient follow redirect implementation does not detect redirect loops and does not limit the number of redirects followed per request.

[2014-04-02 16:25] allenxwang opened #88 "Move host and port to RxClient method signature"
Currently host and port are required arguments for the constructor and instance variables for RxClientImpl. I am proposing moving them to method signature like connect() or submit(). This will have the following benefit:
- Makes RxClient reusable when it needs to connect to a different server but uses the same client and pipeline configuration
- Makes it possible to have APIs that support full HTT

[2014-04-04 19:04] benjchristensen commented on #88
Right now it is this awkward design:

[code]

I assume you mean we'd instead do something like:

[code]

[2014-04-04 19:05] benjchristensen opened #89 "Default Client and Server Should Use Same Netty EventLoops"
Right now we create different event loops for both client and server. They should reuse the same as it is more efficient and right for most use cases.

[2014-04-04 21:51] benjchristensen opened #90 "Server onError Handling"
The server does not have default error handling when `Observable<Void>` calls onError.

Right now I have to manually do it or errors are swallowed:

[code]

[2014-04-04 21:53] benjchristensen commented on #89
Here is how it defaults right now:

[code]

There should not be "client" and "server" selectors, just "rx-netty-selector" threads, sized to the number of cores on the machine.

[2014-04-05 00:27] benjchristensen opened #91 "Adding Headers Before Flush Still Doesn't Add Them"
If I write anything to the channel and then add headers (even without flushing) the headers don't show up.

The use case is placing headers after we're finish writing that give the server-side duration (we do this all over Netflix).

If we flush manually, then this is impossible of course, but if we don't flush and add a header before closing then the headers should show up.

[2014-04-07 18:19] NiteshKant commented on #91
This is interesting.

So, what happens now is that the writeXXX calls actually write the content on the socket. In order to confirm with HTTP, we have to write the headers first.
Now, if we have to allow writing headers after writing the content, we have two choices:
- Buffer the content and headers till a flush is issued. When a flush is issued, we write everything on the socket.
- Write these he

[2014-04-07 21:15] NiteshKant commented on #90
I guess if the method HttpServer.withErrorResponseGenerator() was public (which was the original intent :) )

https://github.com/Netflix/RxNetty/blob/master/rx-netty/src/main/java/io/reactivex/netty/protocol/http/server/HttpServer.java#L43

it would suffice, rite?

One can define a global catch all error response generator using the above.

[2014-04-08 08:09] benjchristensen commented on #90
Yes I should be able to override it, but there should be a default like servlet containers that returns a status 500. Right now it just silently fails and swallows errors.

[2014-04-08 08:10] benjchristensen commented on #91
I thought it wouldn't write to the socket until flush was called?

What is the current difference between write and writeAndFlush?

[2014-04-08 16:42] NiteshKant commented on #90
Actually, there is a default error generator that sets the status to 500. If you create a server like:

[code]

You will get an error response as:

[code]

However, there is a caveat. The error response generator is called if and only if, a response (partial or full) is not already written on that channel. So, if you instead use the following request handler:

[code]

which writes a content before

[2014-04-08 16:57] NiteshKant commented on #91
I should have been clearer. When I said "writeXXX calls actually write the content on the socket" I meant "writeXXX calls actually write the content on netty's channel"

A writeXXX call invokes write() on netty's channel which executes the pipeline and adds the obtained ByteBuf to the channel's write buffer. When flush() is called on that channel, it is actually writes to the underlying socket.

S

[2014-04-09 07:09] NiteshKant commented on #89
Created a pull request #92 for this. It will also fix the other issue where every RxClient instance was creating a new eventloop group.

[2014-04-10 01:08] #89 closed, assigned to nobody

[2014-04-11 00:25] allenxwang opened #93 "RxClient.DEFAULT_CONFIG may be muted"
If people use this code

[code]

It ends up that the DEFAULT_CONFIG is muted for the read timeout.

We probably should just copy the attributes instead of holding the reference of the passed in config in this constructor.

HttpClientConfig has the same problem.

[2014-04-11 06:55] NiteshKant commented on #93
Yeah. I think we should remove the constant DEFAULT_CONFIG and replace it with a newDefaultConfig() method in these classes.

[2014-04-11 18:03] benjchristensen commented on #91
This sounds rather awkward to deal with because it would mean we're buffering writes somewhere else and then buffer yet again after we flush/close as it hits the channel. Surely there is a better way to get a header in place before a flush goes out? There are many Netflix apps that rely on this type of behavior so we need a solution for this that isn't breaking the performance benefits we're seeki

[2014-04-11 23:28] benjchristensen commented on #89
Thank you!

[2014-04-12 03:03] NiteshKant commented on #91
Exactly, thats why I was not inclined towards choice 1 I stated as it creates two queuing points; one our response object and then the selector's queue.

Since, as soon as we write to netty's channel, the object traverses the pipeline and hence gets converted to a ByteBuf, we semantically can't write any more headers.
However, what we can write are the headers after the content is written a.k.a. t

[2014-04-18 01:31] NiteshKant commented on #93
In pull request #95 I have removed the DEFAULT_CONFIG constant and given no-arg constructors on the builders.
One can invoke Builder.newDefaultConfig() to get the default config.

[2014-04-18 01:31] #93 closed, assigned to nobody

[2014-04-18 01:33] NiteshKant commented on #90
@benjchristensen as part of pull request #95 I have made the aforementioned [method](https://github.com/Netflix/RxNetty/blob/master/rx-netty/src/main/java/io/reactivex/netty/protocol/http/server/HttpServer.java#L43) public. Does that suffice? Can I close this issue?

[2014-04-18 01:33] NiteshKant commented on #87
@allenxwang I think this is fixed and can be closed, rite?

[2014-04-18 01:34] NiteshKant commented on #85
As part of pull request #95 I have added SLF4J as a dependency to rx-netty. Closing this issue.

[2014-04-18 01:34] #85 closed, assigned to nobody

[2014-04-18 01:36] NiteshKant commented on #76
Pull Request #95 fixes this issue. Since, now the Pool is an ObservableConnection pool, the connection.close() already invoked on the underlying connection close returns the connection to the pool, which discards the connection as it is not active.

[2014-04-18 01:36] #76 closed, assigned to nobody

[2014-04-18 01:38] NiteshKant commented on #81
Pull request #95 fixes this issue. However, it only closes idle connections and every released connection post the shutdown.
We may want to provide a shutdownNow() method sometime later that closes the checked-out connections too. This may be required for a force close for long running connections.

[2014-04-18 01:38] #81 closed, assigned to nobody

[2014-04-18 01:44] NiteshKant commented on #79
I had a discussion in person with @allenxwang and we came to a conclusion that the subtle idle connection eviction between connection pool can
- Skew the decisions/metrics made at a top level by ribbon load balancers.
- May create unnecessary connections churns

and hence is better left to the load balancer.
In the case, a server is overloaded (connections exhausted) the load balancer should use a

[2014-04-18 01:44] #79 closed, assigned to nobody

[2014-04-18 01:49] NiteshKant commented on #82
After changes in pull request #95 it is not required for the channel pipeline to be re-created. All RxNetty added handlers are suitable for connection re-use.

Any handler which is added or modified dynamically, must listen to [ConnectionReuseEvent](https://github.com/Netflix/RxNetty/blob/master/rx-netty/src/main/java/io/reactivex/netty/client/ConnectionReuseEvent.java), which is emitted before a

[2014-04-18 01:49] #82 closed, assigned to nobody

[2014-04-18 01:53] NiteshKant commented on #28
RxClient supports redirects now by default for GET and HEAD requests and explicitly for other requests.

Follow redirect can be set/unset using HttpClientConfig follow redirect flag [here](https://github.com/Netflix/RxNetty/blob/master/rx-netty/src/main/java/io/reactivex/netty/protocol/http/client/HttpClient.java#L68) per request or globally.

[2014-04-18 01:53] #28 closed, assigned to nobody

[2014-04-18 02:15] NiteshKant commented on #21
Now RxClient does cancel all pending writes on unsubscribe (or connection close) but it does not explicitly close a pooled connection if the response is not yet over.

[2014-04-18 02:15] NiteshKant commented on #83
After changes in pull request #95, we no more need these synchronized methods.

[2014-04-18 02:15] #83 closed, assigned to nobody

[2014-04-18 02:16] #80 closed, assigned to nobody

[2014-04-18 02:49] NiteshKant commented on #88
The model that RxClient has now is that an RxClient implementation must connect to either one (the current implementation) or a group of "homogeneous" servers.

I guess there are two distinct type of users of RxClient (with respect to this discussion):
- _Casual users_: Users who are playing with RxNetty with an intent of experimentation/learning.
-  _Production applications_: Applications based o

[2014-04-18 03:27] benjchristensen commented on #88
There will be production applications that use RxNetty directly. Mantis is one of them.

[2014-04-18 03:46] allenxwang commented on #87
fixed.

[2014-04-18 03:46] #87 closed, assigned to nobody

[2014-04-18 18:34] NiteshKant commented on #20
Implemented with pull request #95

[2014-04-18 18:34] #20 closed, assigned to nobody

[2014-04-18 20:58] NiteshKant commented on #77
All usages of www.google.com have been removed apart from the test [HttpClientTest. testConnectException2()](https://github.com/Netflix/RxNetty/blob/master/rx-netty/src/test/java/io/reactivex/netty/protocol/http/client/HttpClientTest.java#L307) which is simulating connect timeout. There isn't a way to easily simulate it and hence I have left it like that.

[2014-04-18 20:58] #77 closed, assigned to nobody

[2014-04-18 22:42] #74 closed, assigned to nobody

[2014-04-21 07:03] #53 closed, assigned to nobody

[2014-04-21 07:26] NiteshKant opened #96 "Required Client side metrics"
_As there was no insight initially on which metrics should be provided. This comment is updated post-implementation to provide information about the available metrics._
Following metrics will be available for out of the box [servo](https://github.com/Netflix/servo) metrics plugin.
##### TCP
- **Live Connections**: The number of open connections from this clients to a server. This is a gauge.
- **C

[2014-04-21 07:27] NiteshKant opened #97 "Required server side metrics"
_As there was no insight initially on which metrics should be provided. This comment is updated post-implementation to provide information about the available metrics._

Following metrics will be available for out of the box [servo](https://github.com/Netflix/servo) metrics plugin.
##### TCP
- **Live Connections**: The number of open connections from all clients to this server. This is a gauge.
-

[2014-04-21 07:27] NiteshKant opened #98 "Metrics"
In order to use RxNetty effectively in production, we would require to have some metrics providing insights into the clients and servers created by RxNetty. Currently, there isn't any metrics published by RxNetty.
### Pluggability

Since, RxNetty strives to be not opinionated on many aspects but for the fact that it uses Netty for the network stack and RxJava for async interfaces. It would not be

[2014-04-21 18:27] allenxwang opened #100 "Race condition of pool idle connection cleanup task and acquiring connection"
In the code of IdleConnectionsCleanupTask:

[code]

Follow the sequence below:
1. clean up thread gets an idle connection from `iterator.next()` at mark 1
2. clean up thread gets suspended
3. another thread acquires the same connection via `idleConnections.poll()`
4. clean up thread resumes, and at mark 2 `idleConnection.isUsable()` may return false since some time has elapsed
5. clean up thread c

[2014-04-21 19:31] benjchristensen commented on #98
For both of these we can have contrib modules that provide all of this by default.

For example, a default metrics implementation can use Numerus for counters, percentiles etc (https://github.com/Netflix-Skunkworks/Numerus) and then we can have publishers for Servo and Yammer Metrics.

[2014-04-21 19:36] benjchristensen commented on #90
Should we make the default include a message body, like Apache HTTP and Tomcat (and every other server?) does? Right now this will show a blank response unless verbosely looking at the response code.

[2014-04-21 20:24] NiteshKant commented on #90
Yeah sure I can add a global error response. Should we be returning an HTML or json?

[2014-04-21 20:27] NiteshKant commented on #98
@benjchristensen sounds good. So your preference is the event based mechanism?

[2014-04-21 20:34] allenxwang commented on #98
It seems to me that the event based solution is better, provided that we provide default implementations based on a metrics system like Servo in an extension. Then there is no need to re-invent the wheel.

For example, `TrackableStateChangeListener` can be easily extended into a class for pool stats once we add Servo annotations and we can put such class under rxnetty-servo.

[2014-04-21 20:47] benjchristensen commented on #98
I think the event based one makes sense. Keep in mind too that I found Servo to not have all of the types needed for things like RollingPercentile, so Numerus was created with these types.

It was done separate from Servo instead of adding to Servo so they could be used with or without the library for publishing, which is what we use Servo and Yammer Metrics for on Hystrix.

Mantis is also using N

[2014-04-21 20:48] benjchristensen commented on #90
I don't have a strong preference for that. It's primarily for humans so they don't fumble around with empty responses trying to understand what's going on and then go implement their own handler.

[2014-04-21 20:50] NiteshKant commented on #100
Good point.

Comparing it with an otherwise normally occurring scenario:

Connection is closed by the OS when it is in use (this will primarily be due to server closing the connection).

Will the system behave any differently in these two scenarios? I believe no.

Now, can we avoid this scenario?

Let us take your possible fix. If we do have a flag "isUsed" in the connection, then the above code w

[2014-04-21 21:01] NiteshKant commented on #98
Awesome. I will work on the event based system then.

[2014-04-21 21:40] NiteshKant opened #101 "Infrastructure Contexts"
Internal to Netflix we have a concept of Contexts, tied to a request that gets passed across service calls. These contexts are majorly targeted towards "infrastructure concerns" like tracing information which is hidden from a "developer next door"!

Since, propagation of these contexts requires participation from both client and server, it is imperative that the same is in a place which can be use

[2014-04-21 21:48] benjchristensen commented on #101
Hystrix also needs this type of behavior for certain functionalities: https://github.com/Netflix/Hystrix/wiki/How-To-Use#RequestContextSetup

[2014-04-21 21:49] benjchristensen commented on #101
I don't think there should be automatic serialization. Anything and everything can and will end up in these contexts and most should not ever leave the context (the Hystrix stuff for example).

[2014-04-21 22:47] allenxwang commented on #100
Would this fix the problem, assuming `owned` is an AtomicBoolean:

For cleaning thread:

[code]

For acquiring thread:

[code]

Any other race condition problems that are not solved after this?

[2014-04-22 00:29] NiteshKant commented on #101
I agree that they should not be serialized automatically. The contexts _should_ provide a way to serialize themselves, in absence of which, these contexts will be dropped on the floor at the boundary of the JVM.

[2014-04-22 00:53] NiteshKant commented on #100
My $0.02 I do not think it is worth adding this state on the Connection as the really edge case we are trying to address is anyways going to happen.
The usecase we are trying to solve is when a connection is about to get expired ( within ~ nanoseconds considering that we are only talking about thread interleaving) we make sure that either one of the thread; cleanup or acquirer thread gets a exclus

[2014-04-26 17:52] mathieucarbou opened #105 "AbstractClientBuilder.SHARED_IDLE_CLEANUP_SCHEDULER prevents application from closing"
[code]

Without `withNoIdleConnectionCleanup`, a static 1-thread scheduler is created and prevents application from closing.

=> Why it is shared ? Could it just be instanciated per client, since each client aslo schedules its own cleanup task and delay ? Ansi since each client can handle a lot of connections, there shouldn't be so much client instances within an app ?

Thank you ;-)

[2014-04-26 19:08] NiteshKant commented on #105
I will make the thread used by the default executor as a daemon.

Default is a shared cleanup scheduler, one can use a different scheduler per client using this method:

[code]

An RxClient is dedicated to a host+port combination (the interface supports one RxClient dedicated to a pool of homogeneous servers) so an application will have as many clients as the number of hosts it connects to. All th

[2014-04-26 19:14] mathieucarbou commented on #105
Ok! Thank you for the very fast answers :-) I will wait for the new version.

[2014-04-27 14:45] mathieucarbou opened #106 "HTTPS Support"
Hello,
Does RxNetty Http client can connect to https websites ? I do not see any doc or sample relating to https.
Thank you!

[2014-04-28 07:34] NiteshKant commented on #106
Netty supports SSL via [SSLHandler](https://github.com/netty/netty/blob/master/handler/src/main/java/io/netty/handler/ssl/SslHandler.java) so RxNetty also does support SSL.

You can create a PipelineConfigurator implementation that adds an SSLHandler in the pipeline much as [this example](https://github.com/netty/netty/tree/master/example/src/main/java/io/netty/example/securechat) in netty demonst

[2014-04-28 07:53] #90 closed, assigned to nobody

[2014-04-28 07:53] #100 closed, assigned to nobody

[2014-04-30 11:07] chen56 opened #110 "RxNetty support websocket"
Does RxNetty  support websocket ? I do not see any doc or sample relating to websocket.
Thank you!

[2014-04-30 16:34] benjchristensen commented on #110
Not yet, it's on our list ... we need it too.

[2014-05-03 08:11] g9yuayon opened #111 "Unsubscribing an SSE stream does not close the underlying connection"
When an observable of an ServerSentEvent from a request is subscribed, the underly connection is not closed. As a result, the server that serves the SSE streams will continue sending events. The server will also throw an exception if it finishes sending all the events:

[code]

[2014-05-06 04:27] NiteshKant opened #113 "Implement Redirect as an Rx Operator?"
Currently the follow redirect logic is implemented in a [child class](https://github.com/Netflix/RxNetty/blob/master/rx-netty/src/main/java/io/reactivex/netty/protocol/http/client/FollowRedirectHttpClientImpl.java) of HttpClientImpl.

One basic issue with the redirect implementation is that it assumes that the client configuration for client of the redirect location is the same as the client which

[2014-05-06 21:24] NiteshKant opened #114 "Remove numerus dependency from core"
Currently numerus is being used for LongAdder an alternate implementation of which is available in netty-common which we already depend on.

[2014-05-06 22:04] benjchristensen opened #115 "ByteBuf.release() was not called before it's garbage-collected."
Getting this error:

May 06, 2014 2:54:14 PM io.netty.util.ResourceLeakDetector reportLeak
SEVERE: LEAK: ByteBuf.release() was not called before it's garbage-collected. Enable advanced leak reporting to find out where the leak occurred. To enable advanced leak reporting, specify the JVM option '-Dio.netty.leakDetectionLevel=advanced' or call ResourceLeakDetector.setLevel()

Here is the output of w

[2014-05-06 22:05] benjchristensen commented on #115
Code => https://github.com/benjchristensen/WSPerfLab/blob/master/ws-client/src/main/java/perf/client/WSClient.java

[2014-05-06 22:06] benjchristensen commented on #115
With this property: `-Dio.netty.leakDetectionLevel=paranoid`

[code]

[2014-05-10 06:28] NiteshKant opened #117 "RxClientImpl mutates the bootstrap per connection"
RxClientImpl via [ClientChannelFactoryImpl](https://github.com/Netflix/RxNetty/blob/master/rx-netty/src/main/java/io/reactivex/netty/client/ClientChannelFactoryImpl.java#L57) mutates the bootstrap object, updating the ChannelInitializer. This is wrong as the bootstrap is used across multiple connections and hence different initializers steps on each others steps.
This eventually ends up using the

[2014-05-10 23:20] headinthebox opened #118 "Tons of doc comment errors"
Trying to build with Java 8 and I get tons of erros in doc cemments :-(

[code]

[2014-05-13 04:25] NiteshKant commented on #118
Thanks @headinthebox !
So ideally we will have to add these validations to the codestyle plugin we have so that we can catch these early.
@quidryan , any plans to add these to the gradle template?

@headinthebox If this is blocking you, you can add this ([source](http://blog.joda.org/2014/02/turning-off-doclint-in-jdk-8-javadoc.html)):

[code]

temporarily to the build file.

[2014-05-13 04:35] headinthebox commented on #118
Thanks; don't understand why Java 8 is so picky about this.

[2014-05-13 04:41] NiteshKant commented on #118
@headinthebox yeah "self-closing element not allowed" sound insane as it is a valid HTML.

[2014-05-16 07:55] allenxwang opened #119 ""Transfer-encoding: chunked" not set for HTTP POST request."
Looking at the code in `ClientRequestResponseConverter.write()`:

[code]

`rxRequest.getHeaders().hasContent()` returns true if either content-length is set to be none zero, or "Transfer-encoding: chunked" is set. So the next "if" will not be executed if content length is set, or is executed but has no effect because transfer-encoding header is already set.

[2014-05-17 02:46] NiteshKant commented on #119
I did not completely understand the description but answering to the issue subject: Yes, it is required to either set content length or transfer-encoding: chunked for an HTTP 1.1 connection.

This is what the above code is doing, i.e. set the transfer-encoding header if there is no content length set for requests having a content.

Is there a particular issue/behavior you are debugging?

[2014-05-17 02:54] NiteshKant commented on #55
Both client and server builders now contains a method enableWireLogging(LogLevel) that will add the logging handler in the pipeline with the logging level set as the passed level.

By default RxNetty's factory methods add this handler at log level DEBUG. This means that in order to get these wire level logs, one must set the logging level of package "io.reactivex.netty" to DEBUG.

If this method i

[2014-05-17 02:54] #55 closed, assigned to nobody

[2014-05-17 02:54] #105 closed, assigned to nobody

[2014-05-17 02:54] #101 closed, assigned to nobody

[2014-05-17 03:09] NiteshKant commented on #88
PR #120 adds a method:

[code]

which can be used as:

[code]

to execute a request with the full HTTP uri.

[2014-05-17 11:28] allenxwang commented on #119
I am debugging an issue where I have added a RawContentSource to a POST request without setting the content-length or transfer-encoding header, and the server has problem handling the request because neither content-length nor transfer-encoding header is received on the server side.

The problem is that in the above case, even if the the request has ContentSource, rxRequest.getHeaders().hasContent

[2014-05-17 19:26] NiteshKant commented on #119
Your understanding seems correct. I think we should check for hasContent()
|| hasContentSource(). Do you want to fix this?
On May 17, 2014 4:28 AM, "allenxwang" notifications@github.com wrote:

[2014-05-18 00:17] allenxwang commented on #119
Sure. Will send a PR.

[2014-05-18 05:47] allenxwang commented on #119
Any reason why we still need to check for rxRequest.headers().hasContent() in the first "if" as part of "or"?

If there is no content source, we can simply execute the following code block, correct?

[code]

[2014-05-19 21:55] #119 closed, assigned to nobody

[2014-05-19 21:58] NiteshKant commented on #98
Moving this to milestone 0.3.5.
Had to invest time on issue #117 which requires a release now.

[2014-05-19 21:58] NiteshKant commented on #97
Moving this to milestone 0.3.5.
Had to invest time on issue #117 which requires a release now.

[2014-05-19 21:58] NiteshKant commented on #96
Moving this to milestone 0.3.5.
Had to invest time on issue #117 which requires a release now.

[2014-05-19 21:59] #117 closed, assigned to nobody

[2014-05-19 22:09] NiteshKant commented on #113
Implemented redirect as [RedirectOperator](https://github.com/Netflix/RxNetty/blob/master/rx-netty/src/main/java/io/reactivex/netty/protocol/http/client/RedirectOperator.java). HttpClientImpl uses this operator if followRedirect is not opted out.
If someone requires a different redirect implementation, the behavior is best altered by implementing a [RedirectHandler](https://github.com/Netflix/RxNe

[2014-05-19 22:09] #113 closed, assigned to nobody

[2014-05-19 22:09] #114 closed, assigned to nobody

[2014-05-19 22:09] NiteshKant commented on #114
We were using LongAdder from numerus. Now using netty's internal backport of the same.

[2014-05-19 22:16] NiteshKant commented on #88
So I added the following shorthand methods to RxNetty to alleviate this concern.

-- [RxNetty.createHttpGet()](https://github.com/Netflix/RxNetty/blob/master/rx-netty/src/main/java/io/reactivex/netty/RxNetty.java#L167)
Example:

[code]

-- [RxNetty.createHttpPost()](https://github.com/Netflix/RxNetty/blob/master/rx-netty/src/main/java/io/reactivex/netty/RxNetty.java#L171)
Example:

[code]

-- [RxN

[2014-05-19 23:11] NiteshKant commented on #88
I am not completely satisfied with this approach as if someone has to manipulate the request before sending, it is impossible to do so.
I will close this as of now and then propose something that can make this better. As of now, this alleviates the usability concern discussed in this bug.

[2014-05-19 23:11] #88 closed, assigned to nobody

[2014-05-20 02:27] headinthebox commented on #114
Cool; that caused me some heartburn before.

[2014-05-20 05:21] NiteshKant commented on #114
:) yeah it wasn't required. Keep the dependency tree lean is the mantra!

[2014-05-21 07:18] NiteshKant opened #125 "Websockets Proposal"
### Scope

Netty supports websockets out of the box and hence it can be used within RxNetty with minimal effort (defining appropriate PipelineConfigurator to add websocket encoder/decoder).
However, if the websockets implementation has to leverage RxNetty's HTTP abstraction (primarily of Client/Server request/response objects) few changes will be required in RxNetty.
In addition to these changes,

[2014-05-21 07:23] NiteshKant commented on #110
Issue #125 is a good place to start discussion about how should we approach WebSocket support in RxNetty.
I am closing this issue in favor of #125

[2014-05-21 07:23] #110 closed, assigned to nobody

[2014-05-23 06:44] NiteshKant opened #126 "HttpServer not compliant to HTTP 1.0 requests"
There are multiple issues with the current HttpServer implementation.
- According to [RFC 2145](http://tools.ietf.org/html/rfc2145#section-2.3) a server should return the maximum compatible HTTP minor version (which in our case will be 1.1) for any request 1.0 or 1.1. Instead currently, the server sends a 1.0 response for 1.0 requests.
- The server does not send a "Connection" header with value as

[2014-05-23 07:16] NiteshKant opened #127 "Revamp the examples"
There are the following issues with the examples:
- There is little documentation on what they do.
- They are not categorized so anyone looking at them is overwhelmed of which one to see.
  -They do not demonstrate the best way in which things can be done and are mostly complex. eg:

[code]

The above is a Http Welcome server and is certainly overly complex. This gives people an impression that it

[2014-05-23 21:36] allenxwang commented on #96
Here are the metrics I can think of:
- Connection time (for connection pool, this should be the time to make a new connection)
- For HttpClient, time for the first read after a request is submitted
- Counters for different exceptions (ConnectException, ReadTimeoutException, etc)
- For HttpClient, counters for different status codes

[2014-05-23 21:38] benjchristensen commented on #96
How do you envision these working? Maintaining them all internally and an API for retrieving them? or firing the events to a plugin so the implementation decides what to do with them?

[2014-05-23 21:59] allenxwang commented on #96
Events based implementation should do.

[2014-05-23 22:21] NiteshKant commented on #96
This is a sub-task for issue #98 where we decided about event based implementation.

I was actually thinking about the events publishing per se and I am in two minds whether we should have the model like:
- One callback like Rx onNext() and pass the event data.
  OR
- Have a callback interface with specific methods like requestStart(), requestEnd() etc.

There are of course pros & cons of both.
Th

[2014-05-23 23:49] NiteshKant commented on #96
After looking at [netty's evolution](https://blog.twitter.com/2013/netty-4-at-twitter-reduced-gc-overhead) and also the [model that hystrix follows](https://github.com/Netflix/Hystrix/blob/master/hystrix-core/src/main/java/com/netflix/hystrix/HystrixCommandMetrics.java#L265) I am leaning towards Option 2 above.
I think we should also add an extension point onCustomEvent() in these metrics receiver

[2014-05-24 03:00] headinthebox commented on #115
Ran into this today as well.

That said, so far loving RxNetty!!!!

[2014-05-26 00:34] headinthebox commented on #96
Just to understand correctly, when you talk about exposing events for each metric, you expose them as Observables, as in https://github.com/Netflix/RxNetty/blob/master/rx-netty/src/main/java/io/reactivex/netty/client/PoolInsightProvider.java#L19?

[2014-05-26 03:04] NiteshKant commented on #96
The issue with exposing them as an observable is if we have a state (eg: duration for request processing) per event. This means that for every event (these events will be large ~ 5-6 events per request) we have to create a new object. This in high-throughput systems can create a lot of short lived objects and hence GC pressure. This behavior is also referred to in the netty case study I pointed ou

[2014-05-26 03:13] headinthebox commented on #96
Cool.

[2014-05-26 21:10] NiteshKant commented on #98
_This design has been updated a few times based on the discussion/feedback in the following comments_

## Design Proposal

After a few preliminary discussions on the design in issue #96 I am proposing the following design.
(The code for the proposal can be found [here](https://github.com/NiteshKant/RxNetty/tree/metrics/rx-netty/src/main/java/io/reactivex/netty))

### Metric Events

[Code](https://

[2014-05-26 21:11] NiteshKant commented on #96
I have put the design proposal in the parent issue #98 . Any feedback is much appreciated!

[2014-05-26 21:12] NiteshKant commented on #97
The design proposal for this can be found in issue #98

[2014-05-27 19:01] allenxwang commented on #98
I am wondering if it is necessary to have `boolean isTimed();` and `boolean isError();` as part of the MetricsEvent interface, as MetricEventsListener will have different callbacks for timed events and errors.

[2014-05-27 20:50] allenxwang opened #129 "HTTP Redirect fails when there is a connection pool"
The following test, which is slightly modified from the existing one in HttpClientTest, fails:

[code]

The test fails with the following stack trace, which means there is no invocation of the onNext() to the blocking observable.

[code]

[2014-05-28 16:19] benjchristensen commented on #96
Agreed on the need to avoid object allocations for this.

[2014-05-28 17:02] benjchristensen commented on #98
I think `MetricEventsListener` is generally the right pattern. I like that is lets the values stay as primitives.

A few comments:

1) Duplication

There appear to be 3 event types and then duplicate overloads of each with `long duration`:

[code]

Can we eliminate the one without duration so implementers don't have to deal with the either/or invocation of these?

2) Object

What is the reason for

[2014-05-28 18:20] benjchristensen commented on #125
/cc @tmontgomery as an FYI

[2014-05-28 20:23] NiteshKant commented on #98
Thanks @allenxwang for the comment.

Yeah its more like a metadata for human consumption (to know what data will be accompanied with that event) and not for RxNetty to make any decisions on those attributes.

In the below example looking at the different event, it is quiet evident what accompanying data one can expect while listening for these events:

[code]

OTOH, if this metadata is absent, som

[2014-05-28 20:36] NiteshKant commented on #98
Thanks @benjchristensen for your comments.

Let me take this example to explain the reasoning for the design.

[code]

For NEW_REQUEST there would be only the event but for REQUEST_SUCCEEDED there will be event and duration.
Similarly, for REQUEST_SUCCEEDED there would just be duration but for REQUEST_FAILED there would be duration and exception.
These usecases were the reason for the methods in t

[2014-05-28 21:02] headinthebox commented on #98
No way to remove listeners?

[2014-05-28 21:43] NiteshKant commented on #98
@headinthebox Good point :) Added removeListener() to MetricEventsPublisher and updated my previous comment.

[2014-05-29 05:17] NiteshKant commented on #98
On thinking more about it , this feels better:

[code]

returned Subscription can be unsubscribed to remove the listener. Thoughts?

[2014-05-31 17:03] NiteshKant opened #130 "HTTP keep-alive connections not reusable with chunked transfer encoding"
As part of the fix for issue #126 here: #128, a bug was introduced where in the response for the first HTTP keep-alive request does not write the "LastHttpContent" and hence netty's HTTP decoder did not consider the response as complete.
This leads to a state where for subsequent responses, netty's HTTP decoder will ignore the HTTP headers as it thinks that the first response is not yet over.

Thi

[2014-05-31 18:23] NiteshKant commented on #129
The issue here was that as part of sending (onNext()) the first response (redirect response), we were submitting the redirect request.
If the connection is reused (for connection pool), it resets the content subject (reacting to ConnectionReuseEvent) in ClientRequestResponseConverter.
The ClientRequestResponseConverter was referring to the "current content subject" while invoking an onComplete(),

[2014-05-31 18:28] NiteshKant opened #131 "HTTP redirect loop & max redirect detection is broken"
As part of the refactoring of HttpRedirect to use an Rx Operator (issue #113) the feature of detecting redirect loops and infinite redirects was broken.
The issue is that every redirect request is creating a new RedirectOperator and hence loosing the redirect state via RedirectionContext.

The fix is to disable further HTTP redirects by the HTTP client for redirected requests as the RedirectOperat

[2014-06-01 17:59] #131 closed, assigned to nobody

[2014-06-01 17:59] #130 closed, assigned to nobody

[2014-06-01 18:00] #129 closed, assigned to nobody

[2014-06-01 18:00] #126 closed, assigned to nobody

[2014-06-02 21:51] allenxwang opened #134 "Provide default http header name for request ID in request context"
Since RxNetty provides both server and client builders that build context aware objects, it will be convenient and less error prone if it can provide a default http request header name for request ID to be used on both client and server.

Ideally this default name should be configurable.

[2014-06-02 21:53] NiteshKant commented on #111
I chatted with @g9yuayon offline and this seems to be only happening if the content subscription and  HttpClientResponse subscriptions are not connected, eg: via response.flatmap()

This as expected, we manage the "liveness" of a response & the underlying connection via the response observable.

Closing the issue now.

[2014-06-02 21:53] #111 closed, assigned to nobody

[2014-06-03 20:49] NiteshKant commented on #134
@allenxwang let me know if the changes meet your needs.

[2014-06-03 21:09] NiteshKant commented on #98
Updated the `MetricEventsPublisher` interface in the original design to use Subscription as proposed in my previous comment.

@benjchristensen @allenxwang @headinthebox I am starting work on this now, so let me know if you have any more comments about the design.

[2014-06-03 22:44] allenxwang commented on #134
@NiteshKant looks good to me.

[2014-06-03 23:54] #134 closed, assigned to nobody

[2014-06-04 18:12] allenxwang opened #137 "Honor ReadTimeout set in the ClientConfig passed into HttpClientImpl.submit()"
Currently the ReadTimeout set in the ClientConfig passed into HttpClientImpl.submit() is ignored. Honoring this value as a request level override will enable other features like per URI based ReadTimeout, and applying different timeout in a sequence of retries.

[2014-06-04 23:53] NiteshKant commented on #98
As I started implementing this design I found that there were multiple things that were wrong :). I am stating them below:
- [x] The time unit for the duration parameter in `MetricEventsListener` interface is missing.
- [x] The lack of an enum in the event is quiet painful as listeners can not do a switch-case while handling these events. So, instead of `MetricsEvent.name()` I propose `Metrics.get

[2014-06-09 06:34] NiteshKant commented on #98
Updated the original design [above](https://github.com/Netflix/RxNetty/issues/98#issuecomment-44218297) with the proposed changes [here](https://github.com/Netflix/RxNetty/issues/98#issuecomment-45166769)

[2014-06-09 16:07] allenxwang commented on #98
It seems that Event isTimed() and isError() API is somewhat redundant now that duration and Throwable is available in the onEvent() method. It could lead to ambiguity which one should take precedence for event consumer.

[2014-06-10 06:03] NiteshKant commented on #98
@allenxwang as mentioned before, the isTimed() and isError() APIs are for human consumption and not really to make a code decision. If a consumer is consuming a particular event type, the data published with the event must be known to the consume before hand and RxNetty will make sure that the metadata for the event type (isTimed(), isError()) is consistent with what is published.

The documentati

[2014-06-13 06:35] NiteshKant opened #139 "HttpServerResponse.close() should be idempotent"
[`HttpServerResponse.close()`](https://github.com/Netflix/RxNetty/blob/master/rx-netty/src/main/java/io/reactivex/netty/protocol/http/server/HttpServerResponse.java#L73) is not idempotent and hence can not be called multiple times.

The problem with this is that since `HttpConnectionHandler` [finally calls `close`](https://github.com/Netflix/RxNetty/blob/master/rx-netty/src/main/java/io/reactivex/

[2014-06-13 20:53] #139 closed, assigned to nobody

[2014-06-15 19:39] tbak opened #141 "ServerSentEventEncoder does not produce valid output"
RxNetty's SSE encoder does not produce valid output. If you look at spec (http://www.whatwg.org/specs/web-apps/current-work/multipage/comms.html#event-stream-interpretation), the ServerSentEventDecoder is pretty close following it. So for example if we get on the wire

event: add
data: something
id: 1

It will be mapped to ServerSentEvent object ServerSentEvent("1", "add", "something").

However t

[2014-06-16 19:56] NiteshKant commented on #127
Pull request #142 addressed all these issues.

[2014-06-16 19:56] #127 closed, assigned to nobody

[2014-06-16 20:16] NiteshKant commented on #141
cc @g9yuayon

@tbak makes sense to me.

So, this is what I understand which should be possible
- Write an event with id, name and data (as it is today) which writes this on the wire

[code]
- Write an event with only name and data which writes this on the wire

[code]
- Write an event with only id and data which writes this on the wire

[code]
- Write an event with only data which writes this on t

[2014-06-16 21:09] NiteshKant opened #143 "Write FullHttpResponse when possible"
`HttpServerResponse` always writes HTTP header and content separately as two channel writes.
This can be optimized by detecting if the response has zero or one write i.e. when the content-length header is set and is equal to zero OR the length of the content bytes written.

[2014-06-16 22:23] NiteshKant commented on #143
Fixed by PR #144

[2014-06-16 22:23] #143 closed, assigned to nobody

[2014-06-17 16:03] tbak commented on #106
To add SSL/TLS support to RxNetty, the RxServer/RxClient pipeline setup must be made more flexible.

SSL handling is supported by Netty's SslHandler ChannelHandler. It enforces a three step process for full communication setup:
1. Start with basic pipeline configuration and SSL ChannelInitializer in the pipeline
2. On channel registration inject SslHandler as a first handler
3. On SslHandshakeComp

[2014-06-17 23:31] tbak commented on #106
First version with proper handling of the handshake event is available here: https://github.com/tbak/RxNetty/commits/features/ssl

[2014-06-19 08:44] NiteshKant opened #145 "ObservableConnection.cleanupConnection() does a blocking call."
[`ObservableConnection.cleanupConnection()`](https://github.com/Netflix/RxNetty/blob/master/rx-netty/src/main/java/io/reactivex/netty/channel/ObservableConnection.java#L72) removes the `ReadTimeoutHandler`, if present, from the pipeline to avoid timeouts when the pooled connection is idle.
Netty's `ChannelPipeline.remove()` invoked [here](https://github.com/Netflix/RxNetty/blob/master/rx-netty/src

[2014-06-24 07:10] #145 closed, assigned to nobody

[2014-06-25 03:09] tbak commented on #106
SSL support is now implemented. Most of the changes are in this commit: https://github.com/Netflix/RxNetty/commit/07c39de2a9e3c8b490c1b68dd5c2462ebaf3e2ae.

[2014-06-25 03:09] #106 closed, assigned to nobody

[2014-06-25 06:36] #98 closed, assigned to nobody

[2014-06-25 06:36] #97 closed, assigned to nobody

[2014-06-25 06:36] #96 closed, assigned to nobody

[2014-06-25 06:42] NiteshKant opened #150 "Remove deprecated pool stats"
As part of implementing metrics (issue #98) we have provided a new way of getting pool statistics and the older way is deprecated.

We should remove the deprecated APIs after we release metrics with milestone: 0.3.7

[2014-06-26 22:56] tbak opened #153 "Server sent event id processing model"
We support server side event encoding/decoding, but there is no direct support for the event id handling processing model (look [here](http://www.whatwg.org/specs/web-apps/current-work/multipage/comms.html#processing-model-8) and for the Last-Event-ID header).

[2014-06-30 05:03] tbak opened #154 "HttpServerRequest.getPath returns complete URL"
Calling getPath method in HTTP hello world example returns "http://localhost:8090/hello", while it should be only "/path".

[2014-06-30 20:27] NiteshKant opened #155 "Servo listeners do not register themselves to servo"
`RefCountingMonitor` is used to register the servo monitors with servo, however, instead of registering the monitor instance with servo, `RefCountingMonitor` registers itself:

[source](https://github.com/Netflix/RxNetty/blob/master/rx-netty-servo/src/main/java/io/reactivex/netty/servo/RefCountingMonitor.java#L46)

[code]

Instead, it should take the object to be registered with servo.

[2014-06-30 20:29] NiteshKant opened #156 "Provide a metric for the total time taken for HTTP client to process a request."
`HTTPClient` does not publish a metric for the total time taken by the client to process a request.

[2014-06-30 21:16] NiteshKant opened #158 "HttpClientResponse and HttpServerRequest should accept rx Subject instead of PublishSubject"
For the enclosing content `HttpClientResponse` and `HttpServerRequest` accepts a `PublishSubject`. This restricts the usage of these classes. It should instead accept `Subject`

[2014-06-30 22:48] #141 closed, assigned to nobody

[2014-06-30 22:59] #155 closed, assigned to nobody

[2014-07-01 14:44] #158 closed, assigned to nobody

[2014-07-01 14:44] #156 closed, assigned to nobody

[2014-07-01 22:54] NiteshKant opened #160 "HttpServer does not send content callbacks for successive requests on a connection"
`ServerRequestResponseConverter` class uses a fixed `Subject` and hence for the subsequent request payloads, the subject is already completed.

[2014-07-02 05:24] NiteshKant commented on #154
@tbak the problem is not with the server in the helloworld example. It is with the client.
If you curl the endpoint, you will see the following output on the server:

[code]

whereas if you use the `HelloWorldClient` you will see the following output on the server:

[code]

Now, if you enable the wire logging for the server, the `HelloWorldClient` request shows like this:

[code]

As you can see a

[2014-07-02 05:51] #160 closed, assigned to nobody

[2014-07-02 06:24] tbak commented on #154
You are right. We have small inconsistency in RxNetty factory methods. They expect absolute URIs, so they can extract from them ServerInfo, but this URI is also passed in HTTP request in absolute form.

[2014-07-02 07:15] NiteshKant opened #164 "Server HttpConnectionHandler optimization (remove flatmap)"
Based on our benchmarking the use of `Observable.flatMap()` inside `HttpConnectionHandler` [here](https://github.com/Netflix/RxNetty/blob/master/rx-netty/src/main/java/io/reactivex/netty/protocol/http/server/HttpConnectionHandler.java#L60) incurs an unnecessary overhead.
The below flamegraph shows the overhead:

![httpconnhandlerflatmap](https://cloud.githubusercontent.com/assets/820005/3452670/0a

[2014-07-03 04:59] NiteshKant opened #166 "RxServer should have a separate acceptor eventloop group"
Based on our internal benchmarks the following eventloop configuration works best:
- Have a single threaded eventloop group for accepting new client connections.
- Have a worker eventloop group for processing data on a client connection. The default configuration would be the eventloop threads equal to the number of cores on the machine.

Any server created via RxNetty must have the above configur

[2014-07-03 05:40] NiteshKant opened #167 "Disable sending "Connection: keep-alive" header from server"
[`HttpConnectionHandler`](https://github.com/Netflix/RxNetty/blob/master/rx-netty/src/main/java/io/reactivex/netty/protocol/http/server/HttpConnectionHandler.java#L96) adds a "Connection: keep-alive" header if the client has requested keep-alive connections (default for HTTP 1.1 or presence of "Connection: keep-alive" header in the request)

For HTTP 1.1 keep-alive is the default so sending this h

[2014-07-03 07:37] NiteshKant opened #169 "Remove ContentSource in favor of Observable for HttpClientRequest"
`HttpClientRequest` does not use `Observable` source for its content. The intent of this was to retain the ability to put back pressure when the need arises.
Since, an `Observable` source did not initially provide a way to put back pressure, this approach was chosen initially.
RxJava is going to provide back pressure support with the regular `Observable` as discussed in [this issue](https://github

[2014-07-03 07:37] #167 closed, assigned to nobody

[2014-07-03 07:40] #166 closed, assigned to nobody

[2014-07-03 07:44] NiteshKant commented on #164
Here is the flamegraph after this fix:

![httpconnhandlerflatmapremoved](https://cloud.githubusercontent.com/assets/820005/3466726/bc40d02e-0285-11e4-80fd-cc1b28981d53.png)

[2014-07-03 07:44] #164 closed, assigned to nobody

[2014-07-03 23:51] allenxwang opened #172 "Missing connection pool events from client built by RxContexts constructs"
Here is the JUnit test case that shows connection count is not incremented after a successful connection to www.google.com:

[code]

It prints out zero for both counts.

The poolAquires metric is wrong because of a typo in `HttpClientListener`:

[code]

However, it seems that the connection count problem is caused by no listeners added to `ClientChannelFactoryImpl.eventsSubject`, after `RxContexts

[2014-07-04 06:51] #115 closed, assigned to nobody

[2014-07-04 07:38] NiteshKant commented on #115
Thanks @normanmaurer for finding the leak source!

[2014-07-04 07:39] normanmaurer commented on #115
@NiteshKant Yay.. Your are welcome buddy <3

[2014-07-04 07:49] NiteshKant commented on #115
For the record, the leak was for the `HttpServerRequest` and `HttpClientResponse` content callbacks. The content buffer was not released post callback on the content subject in both the cases.

[2014-07-04 08:55] NiteshKant commented on #172
Thanks @allenxwang for finding the issue.

The problem was that the client connection factory created by RxContexts was not having the reference to the eventsubject.This made the connection factory create a fresh subject.

[2014-07-04 08:55] #172 closed, assigned to nobody

[2014-07-04 18:13] NiteshKant opened #175 "Optionally disable System time calls for metrics"
In benchmarks where metrics are not required, the system calls to get time (System.currentTimeMillis()) may introduce an unnecessary overhead.
This change enables such benchmarks to disable these system calls to get metric durations.

It is important to note that apart from these system time calls metric generation does not have an object allocation overhead. So, for any benchmarks the metrics inf

[2014-07-04 18:21] #150 closed, assigned to nobody

[2014-07-04 18:21] #175 closed, assigned to nobody

[2014-07-04 22:17] NiteshKant commented on #91
@benjchristensen ... ping...

[2014-07-04 22:51] NiteshKant opened #177 "For HTTP server use channelReadComplete() to flush writes"
Our current recommendation for writing a HTTP Request handler is:

[code]

`response.close()` above does an explicit `flush()` on the response which in turn does a flush on the channel.

This model works well for a single request-reponse scenario on a connection. However, it is sub-optimal for [Http pipelining](http://en.wikipedia.org/wiki/HTTP_pipelining) requests where we can do a single flush f

[2014-07-04 23:47] #169 closed, assigned to nobody

[2014-07-05 08:59] #177 closed, assigned to nobody

[2014-07-10 23:08] allenxwang opened #183 "IdleConnectionsTimeoutMillis is not used by PooledConnectionFactory"
In ConnectionPoolBuilder:

[code]

The PooledConnectionFactory is always created with the default PoolConfig. So even if  HttpClientBuilder.withIdleConnectionsTimeoutMills() is called later, the value is ignored by PooledConnectionFactory.

The result is that every connection created by PooledConnectionFactory always have 30 seconds max idle connection time, regardless the value passed in from the

[2014-07-12 18:03] quidryan commented on #118
The plan is to support RxJava going to a new github organization via a new Gradle plugin. I'd then port that plugin back for NetflixOSS, so give it a few weeks. I just put this change into the RxJava version: https://github.com/nebula-plugins/gradle-rxjava-project-plugin/commit/d755bb771ee6e94b2c36c5fac97f0ac8e24439b7

[2014-07-12 22:09] diptanu opened #184 "JSR 311 implementation for RxNetty"
Does it makes sense to have a JSR 311 implementation on top of RxNetty or is this beyond the scope of this project?

I want a way to hook JAX-RS annotated objects with RxNetty's HttpServer. Or, may even be a way to map implementation of RxJava's rx.functions.Action interface to HttpServer would be useful.

[2014-07-14 16:19] benjchristensen commented on #184
If we do this they should be a separate module, not part of rxnetty-core.

[2014-07-14 16:53] NiteshKant commented on #184
@diptanu this is the area which [karyon](https://github.com/Netflix/karyon) plays in as this gets more into an application domain. Karyon already has a jersey extension (1.x) on top of rx-netty here: https://github.com/Netflix/karyon/tree/master/karyon-jersey-blocking

[2014-07-15 17:55] #183 closed, assigned to nobody

[2014-07-17 17:35] jeje commented on #184
Not sure if this would help, but I created [Grapi](https://github.com/kalixia/Grapi) for a similar need a few months ago.

In short, Grapi is not really a JAX-RS engine, but more an APT processor generating Netty handlers based on JAX-RS annotated resources. This has the benefit of avoiding the runtime _crap_ of JAX-RS containers (although there is still a small dependency on a Jersey class) and e

[2014-07-18 22:37] NiteshKant opened #187 "Simplifying Aggregated Client Response usage"
##### Problem

`HttpClientResponse` follows the model that is suitable for streaming payloads i.e. `HttpClientResponse.getContent()` returns an `Observable` which can contain multiple elements.  Since, this is the only way to use an `HttpClientResponse`, even in cases when the generated response is not streaming i.e. the content `Observable` produces a single element, the API does not simplify thi

[2014-07-22 22:30] #187 closed, assigned to nobody

[2014-07-23 20:47] tbak opened #191 "Channel implementation replacement restrictions"
Currently it is possible to set different `Channel` implementation only for `InetSocketAddress` address family. Other practical use case that does not fall into this category is `LocalChannel` for in VM communication. The problem comes from the fact that `ServerInfo` class is used throughout a code, which implicitly ties everything to IP stack.

To fix this problem, ServerInfo shall be replaced wi

[2014-07-25 07:00] abersnaze opened #193 "RxNetty game server"
This maybe a question for RxJava but it involves the RxNetty APIs for reading a writing so I'm putting it here.

I was playing around with RxNetty trying to write a simple game server.  I've written some AI that does some stupid things but now I want to add remote humans.  I'm trying to figure out how to fill in one spot in the loop.  Here is a rough sketch of the code.

[code]

The way a `Player`

[2014-07-25 21:05] NiteshKant commented on #193
@abersnaze this is really interesting!

To set the context, the reason why RxNetty's `ConnectionHandler` returns an `Observable<Void>` is because it depicts the lifetime of the connection. The only thing RxNetty is concerned about a connection is when to close it and release any related resources. After that reading and writing to the connection is the responsibility of the `ConnectionHandler` imp

[2014-07-25 23:21] NiteshKant commented on #184
@jeje thanks for sharing your work. It certainly is an interesting approach to generate netty handlers for JAX-RS resources.
In karyon I carried forward the runtime of JAX-RS and it isn't that nice :) I will look into Grapi to see if I can use it within karyon!

@diptanu I am closing this issue as this is out of the current scope of RxNetty.

[2014-07-25 23:21] #184 closed, assigned to nobody

[2014-07-25 23:38] NiteshKant commented on #191
This is interesting @tbak

Do you think as an alternate approach, adding localAddress in ServerInfo would be less disruptive?
The server and client can then adapt to this twin behavior in ServerInfo.

[2014-07-25 23:46] abersnaze commented on #193
I grabbed @benjchristensen and @stealthcode for a bit this afternoon.  I hacked about with them and came up with this implementation of the connectionHandler.

[code]

[2014-07-25 23:54] NiteshKant commented on #193
@abersnaze nice! I was initially think about merging read and write sources as the returned observable from the `ConnectionHandler` but then came up with the approach I mentioned.

Your approach looks good, but If I am reading this correct, it will block the eventloop (which subscribes to the returned Observable from the handler). The reason being that you are blocking on the `CountDownLatch` insi

[2014-07-26 14:03] abersnaze commented on #193
You're right I'll have to figure out some other way of getting the quit action to result in an call to `onCompleted()`.

[2014-07-27 04:35] jeje commented on #184
@NiteshKant feel free to reach me if I can help ;-)

[2014-07-29 03:53] benjchristensen opened #194 "File Handling"
We should add APIs for loading files using Netty so it is easy to create a file server.

There are at least two approaches needed:

1) the zero-copy file read/write
2) chunked reading for async handling

[2014-07-30 22:27] spodila opened #195 "Calling HttpClient.shutdown() causes problem to later created clients"
Here's the code that reproduces the problem:

[code]

The stack trace is:

[code]

[2014-07-31 00:40] tbak commented on #195
`new SingleNioLoopProvider(1)` object is a reference counted object with initial value set to 0. The sequence of action is:
- first client gets event loop for the newly configured `SingleNioLoopProvider`, which increments its refCount value to 1
- on shutdown, the refCount is decreased to 0, which shuts down the event loop instance
- clients created afterwards fail immediately

To prevent from clo

[2014-07-31 21:33] NiteshKant commented on #193
@abersnaze I don't think there is anything to be done at RxNetty side for this. I will close the issue?

[2014-07-31 21:38] abersnaze commented on #193
Sounds fine

[2014-07-31 21:38] #193 closed, assigned to nobody

[2014-07-31 21:42] NiteshKant commented on #195
Had a chat with @tbak .. the current code is wrong in shutting down the eventloop as it assumes that the following scenario is not valid:

-- Create a bunch of clients
-- Shutdown all of them
-- Recreate and use another client.

The current global client holding the eventloop from shutdown is more of a side-effect than a design. So, I will remove the eventloop shutdown from the client for now. Sin

[2014-08-01 02:13] #195 closed, assigned to nobody

[2014-08-04 21:53] allenxwang opened #198 "getConnectionCount() and getLiveConnections() in TcpListener are ambiguous in naming"
getLiveConnections() may be interpreted as connections that are busy serving requests. Can we name it getTotalConnections()?

getConnectionCount() may be interpreted as a gauge for current connection count in the pool. Can we name it getConnectionCreationCount()?

Here are the corresponding monitor names for Ribbon's HttpClient connection pool:

CreateNew - counter for connection creation
Delete -

[2014-08-05 18:17] tbak opened #199 "Invalid metric used"
In DefaultChannelWriter:

[code]

should be `metricEventProvider.getFlushFailedEvent`.

[2014-08-06 21:28] gorzell commented on #194
@benjchristensen is this a good starting point for what you want?
https://github.com/netty/netty/blob/master/example/src/main/java/io/netty/example/http/file/HttpStaticFileServerHandler.java

It seems to cover the chunked case in a reasonable way.  I actually need this feature or something like it to be able to serve a full web app.

[2014-08-11 17:13] elandau commented on #194
I issued a pull request to solve this in Karyon but will now try to implement in RxNetty instead.  I still need to work on the zero-copy file read/write aspect of the solution.

https://github.com/Netflix/karyon/pull/95

[2014-08-11 17:50] NiteshKant opened #202 "Handling multiple HTTP based protocols on a single server."
In some offline discussions and on pull request #196 it came to the fore that serving multiple higher level protocols (SSE, Websockets, plain request-response) over HTTP on a single HTTP server is not very intuitive.

The following is the usecase:
- Lets assume we have a single HTTP server on port 8080
- URI /myapp/ws serves Web sockets traffic.
- URI /myapp/sse serves SSE traffic.
- URI /myapp/re

[2014-08-11 17:51] NiteshKant commented on #202
\cc @gorzell @tbak

[2014-08-11 21:20] benjchristensen commented on #202
:+1: on needing this ability. We will need HTTP and WebSockets on our servers.

[2014-08-12 17:07] g9yuayon opened #203 "Consuming response of type ByteBuf in a different thread will fail"
Below is the code that reproduces the problem. Consuming a ByteBuf response in a different thread from the event loop's will result in the IllegalReferenceCountException. This is usually okay if a user expects ByteBuf as the raw response. However, if a user wraps RxNetty client in a library that supports generics, then the user will run into this problem unless she inspects the type of each respon

[2014-08-13 06:29] NiteshKant commented on #118
As per PR #201 doclint has been disabled for java8.

[2014-08-13 06:29] #118 closed, assigned to nobody

[2014-08-13 20:15] quidryan commented on #118
Nothings going to happen on gradle-template.  We're redesigning it, you can see an incarnation of it in https://github.com/nebula-plugins/gradle-rxjava-project-plugin. That already disables the lint check in Java 8.

[2014-08-13 20:16] gorzell commented on #118
Fixing the documentation is still a better option than disabling it by
default ;-).

On Wed, Aug 13, 2014 at 1:15 PM, Justin Ryan notifications@github.com
wrote:

[2014-08-13 20:18] quidryan commented on #118
I guess on a new project that's true. Existing projects haven't had it on
for literally a decade. It's a pretty big change to slip into a JVM
release. Why turn it on after all these years?

On Wed, Aug 13, 2014 at 1:16 PM, Greg Orzell notifications@github.com
wrote:

[2014-08-13 20:26] gorzell commented on #118
Probably to push people in the "right" direction.

On Wed, Aug 13, 2014 at 1:18 PM, Justin Ryan notifications@github.com
wrote:

[2014-08-15 19:56] gorzell opened #205 "Move SSE related class to the http package"
Right now things related to SSE are in a text package, which doesn't make a lot of sense since SSE is an http dependent protocol.  Also websockets are a sub package of HTTP so this change would make SSE consistent with that as well.

[2014-08-15 20:20] NiteshKant commented on #205
:+1: We should not have SSE over text option.

@jstnbckr @g9yuayon is mantis using the SSE over text codecs? Is it ok to remove them and have SSE only in HTTP?

If it's ok with everyone, I will deprecate all the existing SSE over text codecs and remove them after 1 release cycle.

[2014-08-15 20:50] NiteshKant commented on #203
@g9yuayon the reason why this happens is because RxNetty releases the `ByteBuf` after the `onNext()` call which alleviates the client of the overhead of managing `ByteBuf`'s lifecycle management (which is required as `ByteBuf`s are off heap and are not managed by the garbage collector). However, it fails in the case where the scope of `ByteBuf` extends the scope of `onNext()` as in this case.

I a

[2014-08-15 21:41] g9yuayon commented on #205
As far as I know, we're not using text codecs. That said, moving to HTTP
makes more sense as SSE is part of HTML 5 spec and is mainly used for HTTP.

On Fri, Aug 15, 2014 at 1:20 PM, Nitesh Kant notifications@github.com
wrote:

[2014-08-15 23:48] NiteshKant opened #206 "HttpClientResponse.getContent() will loose data if not eagerly subscribed"
`HttpClientResponse` expects users to eagerly subscribe to the content when they receive the `HttpClientResponse`. This means that one can not do this:

[code]

Instead the following has to be used:

[code]

The reason being that RxNetty starts publishing the content to a `PublishSubject` immediately after the `HttpClientResponse` `onNext()` call.
In the first case, the subscription to content hap

[2014-08-15 23:52] NiteshKant commented on #205
Thanks @g9yuayon

I will deprecate the text codecs in 0.3.12 and we can remove them in 0.3.13 and move the required classed under HTTP package.

@gorzell I hear that you will work on this :)

[2014-08-16 03:21] NiteshKant commented on #202
Moving to 0.3.13 milestone.

[2014-08-16 03:33] NiteshKant commented on #125
With PR #196 RxNetty has support for websockets.

I am leaving this issue open as of now to discuss any changes to the design and discuss things like:
- High level client/servers as described in this issue's description.
- Fallback to other protocols in case the server does not support websockets i.e. a higher level client like

[2014-08-18 23:12] NiteshKant opened #208 "HTTPClient should discard a connection when response isn't completely consumed."
The scenario when the response of an HTTP request is not consumed by the user, HTTPClient should dispose the underlying connection and not reuse it again for any other request.

Failure to do this will result in a subsequent request getting an older response (if arrived). If the older response never arrives, then the new request qualifies as a pipeline request and hence the response will never com

[2014-08-19 00:55] NiteshKant opened #209 "Deprecate all SSE classes in io.reactivex.netty.protocol.text.sse"
In relation to issue #205 we need to first deprecate these classes in the io.reactivex.netty.protocol.text.sse package so that we can delete some and move the other to the io.reactivex.netty.protocol.http.sse package in the next release.

[2014-08-19 01:09] gorzell commented on #209
I have this mostly done.

What I did was move the existing classes and replaced them with proxies that extend the originals.  These proxies are marked as deprecated.

[2014-08-19 06:09] NiteshKant commented on #209
@gorzell sounds good, I will wait for your PR then. In case I need to release 0.3.12 sooner, will punt this to 0.3.13

[2014-08-19 06:11] NiteshKant commented on #191
@tbak do you want to go ahead with the localAddress in `ServerInfo` solution which is less disruptive?

[2014-08-19 14:49] tbak commented on #191
`ServerInfo` is package private class, so impact will be only on the internal implementation. We would need also a new set of factory methods in RxNetty that take SocketAddress. I think it is better wait some more time, and see how we can refactor this code in a more coherent way.

[2014-08-19 17:01] gorzell commented on #209
I'll try to wrap this up today.  It has been a bit tricky because some tests fail sporadically for me and the Context tests still fail every time.

[2014-08-19 19:48] elandau commented on #194
Please see #211 for proposed solution

[2014-08-20 22:00] #206 closed, assigned to nobody

[2014-08-20 22:22] #199 closed, assigned to nobody

[2014-08-21 11:58] bobymicroby opened #213 "Hardcoded stuff in HttpClientImpl prevents the usage of https"
Guys..the issue is invalid.

The problem was that we needed custom SslFactory in order to  sslEngine.setUseClientMode(true);  We taught that if we are in client mode this will be set automatically. There was no exception, no timeout just waiting for the handshake to begin and that never happend...

[2014-08-21 15:09] tbak commented on #213
You made a good point there is a bug in HttpClientRequest where the absolute URI is not reconstructed properly. I can see in the code that this absolute URI value is used only by HTTP redirect logic, to track infinite loops. It should not have any visible effects.

The decision about using SSL (at least now) does not come from URI but the proper pipeline configuration. In most cases the usage patt

[2014-08-21 16:07] tbak commented on #213
I am looking at this and we have basically 3 cases:

1) `RxNetty.newHttpServerBuilder` - the properly working now:
Here user creates client directly with proper pipeline, and deals only with relative URIs

2) `RxNetty.createHttpClient(host, port)` - easy to fix
We could add an extra method:

[code]

3) `RxNetty.createHttpRequest` + createHttpGet, etc

Here we are using `CompositeHttpClient` and `R

[2014-08-21 17:34] benjchristensen commented on #203
(1) is so nuanced that people will still run into this.
(2) is not a valid option. It will be too confusing.

Someone should only have to deal with this stuff if interacting with ByteBuf directly. So what's the story once we have the serialization hooks?

Using ByteBuf means a user must deal with Netty semantics. This should be transparent and very clearly documented.

The normal cases though wher

[2014-08-21 19:12] bobymicroby commented on #213
Nice to hear that. We will keep you posted about our future(Observable) endeavours . Next time I hope we will prepare a PR and not just open and close a ticket. Best of luck to you and your team. Regards, B.

[2014-08-23 08:21] NiteshKant opened #214 "HttpServerRequest should provide a way to access Netty channel"
`HttpServerRequest` does not provide a way to get a handle to netty's `ChannelHandlerContext` as `HttpServerResponse` does.

This makes it awkard for code which wants an access to `Channel` details and is only interested in the request to either pass the `ChannelHandlerContext` directly or `HttpServerResponse`.

[2014-08-25 23:34] allenxwang opened #215 "Subscriber of HttpClientResponse.getContent() may be unsubscribed automatically before any content is delivered"
I have a Ribbon test that tries to connect to a few bad servers to expect connection exception before finally hitting a good server. It then does a transformation:

[code]

The test prints out

[code]

but the map() operation is not executed causing test to hang when it is waiting for the content as a blocking Observable.

After debugging, I found that the Observer of content (in this case the map

[2014-08-26 04:32] NiteshKant commented on #206
The final solution was around the following two classes:
- [HttpContentHolder](https://github.com/ReactiveX/RxNetty/blob/master/rx-netty/src/main/java/io/reactivex/netty/protocol/http/HttpContentHolder.java) applied to both `HttpServerRequest` and `HttpServerResponse` providing access to the content and also a method to ignore content.
- [UnicastContentSubject](https://github.com/ReactiveX/RxNetty

[2014-08-26 05:25] NiteshKant opened #216 "Remove deprecated HttpClientResponse and HttpServerRequest constructors"
Since `HttpClientResponse` and `HttpServerRequest` should only support single subscription content subjects, we do not have to support the constructors taking a `Subject`.

These were deprecated in 0.3.12

[2014-08-27 01:01] allenxwang commented on #215
After looking into Ribbon's LoadBalalancerExecutor and changing the a usage of subscribe() to unsafeSubscribe() in this line:

https://github.com/Netflix/ribbon/blob/master/ribbon-loadbalancer/src/main/java/com/netflix/loadbalancer/LoadBalancerExecutor.java#L182

the test passes without any change in RxNetty. So at this point I suspect that this is caused by incorrect usage of Rx API in Ribbon. Th

[2014-08-29 21:51] benjchristensen opened #218 "Migrate Branch Master -> 0.x"
To fit into the build processes of ReactiveX I'd like to switch the default branch from 'master' to `0.x` and then delete master.

The build system will automatically create candidate and release jobs for 0.x, 1.x, 2.x etc branches.

Can I proceed with this change? Once done it will mean you need to change your "upstream" remote in your local environments.

[2014-08-30 04:54] NiteshKant commented on #218
Sounds good. Go ahead.

[2014-09-03 20:26] benjchristensen opened #220 "SSE Output Wrong"
I am trying to create a Turbine server (https://github.com/Netflix/Turbine/tree/2.x) that outputs a stream to the Hystrix dashboard (https://github.com/Netflix/Hystrix/tree/master/hystrix-dashboard). The output when using `ServerSentEvent` does not work.

Here is the manually written code that works and then the one using `ServerSentEvent` that doesn't work.

[code]

It appears related work was do

[2014-09-03 22:20] tbak commented on #220
The problem is with event field being empty string. Could you try this:

[code]

If you look into the spec: http://dev.w3.org/html5/eventsource/#event-stream-interpretation, it seems that event field with no value is also valid.

[code]

[2014-09-03 22:28] benjchristensen commented on #220
What do you mean by that? I'm basing the "working" off of the fact that the browser is not correctly reading the stream when it has the `event:` in it.

[2014-09-03 22:29] #218 closed, assigned to nobody

[2014-09-03 22:33] benjchristensen commented on #220
Using `null` still emits the `event:` text.

[code]

that emits something I'd never expect:

[code]

And this ...

[code]

emits ..

[code]

However, this one seems to emit the right thing:

[code]

Thus I'd argue that we should have an overload on ServerSentEvent that just takes the data. I also suggest that we should be able to just write a string and have it do the right thing instead of alloca

[2014-09-03 22:55] tbak commented on #220
API is fine, but we could add check for empty string and not send anything if it is found:
If you look at the constructor:

[code]

You should provide three values. They will be assigned to id, event and data fields respectively.
It would be good to have a builder here, given that there is one more field in the standard "retry".
Overladed constructor for just data field is good option as well.

[2014-09-03 23:48] benjchristensen commented on #220
The API is not fine if it takes me talking to the author of the library to use it and get expected results :-)

In 2+ years of using SSE I have never once needed `eventId` or `eventType` and it should not need to be discovered that one must pass in `null, null` to make those go away.

Using Chrome, I can not get an EventSource stream to work when `eventId` is set to something, but the following ja

[2014-09-04 00:09] tbak opened #222 "SSE API is error prone, and lacks flexibility for common usage patterns"
Following #220 issue discussion, here is a list of improvements for SSE:
- make `ServerSentEvent` objects creation more flexible:
  - add single argument constructor to `ServerSentEvent` class with data content, or
  - add static factory methods to `ServerSentEvent`(`ServerSentEvent.sseData(String data)`, `ServerSentEvent.sseWithType(String eventType, String data)`, etc)
- accept String object in

[2014-09-04 00:10] tbak commented on #220
I have created an improvement issue for this (#222).

[2014-09-04 03:50] benjchristensen commented on #220
Thank you.

[2014-09-04 03:51] benjchristensen commented on #220
Also, how does the `event` field get used and work with Chrome? Are we emitting that correctly?

[2014-09-04 06:23] tbak commented on #220
As I understand it, event field may contain any value which semantic is defined by the application. W emit it according to the spec. SSE standard is more precise about event id handling. For that I created an improvement issue some time ago: #153, but there was no discussion about when and how to implement it. We could leverage for that rx-netty-contexts.

[2014-09-04 17:36] benjchristensen commented on #220
Not sure what that means ... can you show me Javascript code that runs in Chrome/Safari that correctly consumes the RxNetty output with eventIDs in it? I can't figure it out. When eventID is included as per the RxNetty implementation no data flows when using this code:

[code]

[2014-09-04 23:40] #216 closed, assigned to NiteshKant

[2014-09-04 23:53] NiteshKant opened #223 "Client connections receiving SSE responses should never be pooled & reused"
Server sent events is an endless stream and hence apart from closing the connection there is no way for the client to stop receiving data.
In RxNetty the way for a client to close the connection is to unsubscribe from the content `Observable` in the `HttpClientResponse`.
In cases when the `HttpClient` is using a connection pool (default client does use pooling) and it receives an SSE response, the

[2014-09-05 05:36] tbak commented on #220
I was looking into this, and I can only confirm that there is a problem with handling the SSE event stream generated by RxNetty example in the browser. If you look at the example from Mozilla: https://developer.mozilla.org/en-US/docs/Server-sent_events/Using_server-sent_events, we render the content in the very same way.

There is a note in the standard, that chunked encoding causes some problems

[2014-09-05 06:30] NiteshKant opened #225 "Unsubscribing from HttpClient.submit() should not close connection"
After the fix for issue #206 unsubscribing from the response of `HttpClient.submit()` closes the connection. This causes issues for chunked and other streaming (SSE) responses as the client will close the connection even before the response is complete.

Instead the connection should be closed after the response is complete ( after receiving `LastHttpContent`).
##### Why was this not caught by the

[2014-09-07 01:30] NiteshKant commented on #215
@allenxwang If your test is expecting a chunked/streaming response then this may be caused by #225
Also see the [release notes for 0.3.12](https://github.com/ReactiveX/RxNetty/releases/tag/0.3.12) for the details about the change in behavior of `HttpClient.submit()` which is the reason for `take(1)` in `HttpClient`

[2014-09-07 01:46] NiteshKant opened #226 "Response should be flushed on `RequestHandler`'s failure"
`HttpConnectionHandler` does not flush the response on request handling termination to optimize for gathering writes from the request handler.

This makes sense for `onComplete()` as for graceful completion the `RequestHandler` must make the decision to flush or not. However, for error, specifically for unexpected errors this default (of not flushing the response) does not make sense as the error

[2014-09-07 05:00] tbak commented on #220
Good description of handling of SSE events with custom event types is provided here: https://developer.mozilla.org/en-US/docs/Server-sent_events/Using_server-sent_events.
If event type is not defined, it defaults to "message", and an event handler 'onmessage' can be used, instead of addEventListener.
If event type is defined, a corresponding event listener must be installed to handle it.
Below cli

[2014-09-07 06:10] NiteshKant commented on #214
Returning a `ChannelHandlerContext` is ambiguous as it is unclear which `ChannelHandler` does this context belong to. So, instead it should return the `Channel`

[2014-09-07 06:13] NiteshKant opened #228 "`DefaultChannelWriter` should return `Channel` instead of `ChannelHandlerContext`"
Returning `ChannelHandlerContext` is ambiguous as it is unclear which `ChannelHandler` does this context belong to.

Instead we should return `Channel` and it is possible to do everything with the `Channel` interface as it was for `ChannelHandlerContext`

[2014-09-07 06:15] NiteshKant opened #229 "Remove deprecated method `DefaultChannelWriter.getChannelHandlerContext()`"
Instead one should use `DefaultChannelWriter.getChannel()`

[2014-09-07 06:15] NiteshKant commented on #228
`DefaultChannelWriter.getChannelHandlerContext()` will be deprecated as of 0.3.13 and will be removed in 0.3.14 (issue #229)

[2014-09-07 07:47] NiteshKant opened #230 "FlatResponseOperator does not emit any item if there is no content."
`FlatResponseOperator` must always emit a single item unless it is an error.

The current implementation passes on the `onComplete()` of content `Observable` to the subscriber even when there is no content. This causes the subscriber to not even get the `HttpClientResponse` back.

Instead, the operator must create a `ResponseHolder` with no content if there is no content in the response.

[2014-09-07 16:50] #223 closed, assigned to NiteshKant

[2014-09-07 16:50] #214 closed, assigned to NiteshKant

[2014-09-07 16:50] #226 closed, assigned to NiteshKant

[2014-09-07 16:50] #230 closed, assigned to NiteshKant

[2014-09-07 16:51] #228 closed, assigned to NiteshKant

[2014-09-07 16:51] #225 closed, assigned to NiteshKant

[2014-09-07 16:53] NiteshKant commented on #225
PR #227 fixes this issue and now instead of the connection being closed on unsubscribe from `HttpClient.submit()`, it is closed in the following scenarios:
- When the content completes.
- When the only subscriber from the content subject unsubscribes.
- If the content subject is configured to expire, the connection gets closed when it expires.

[2014-09-07 16:55] NiteshKant commented on #215
@allenxwang I will move this to 0.3.14 since I do not have reproduction steps to make sure it is fixed in 0.3.13 (as part of #225). If you can verify that 0.3.13 fixes this issue, I will close it.

[2014-09-07 16:55] #215 closed, assigned to nobody

[2014-09-07 16:56] NiteshKant commented on #230
PR #227 fixes this issue and emits a single element (`ResponseHolder`) in all scenarios but for error.

[2014-09-07 16:58] NiteshKant commented on #228
PR #227 deprecates `DefaultChannelWriter.getChannelHandlerContext()` and adds `DefaultChannelWriter#getChannel()` method

[2014-09-07 16:58] NiteshKant commented on #226
PR #227 fixes this issue by flushing the response in case of an error from `RequestHandler`

[2014-09-07 17:00] NiteshKant commented on #223
PR #227 fixes this issue by marking the physical connection for force when a client unsubscribes from the content stream of an SSE response.

[2014-09-07 17:01] NiteshKant commented on #214
PR #227 adds a method `HttpServerRequest.getChannel()`

[2014-09-08 16:20] allenxwang commented on #215
Confirmed that Ribbon test passed using RxNetty 0.3.13 and with the Ribbon changes of https://github.com/Netflix/ribbon/pull/160.

[2014-09-10 12:19] benjchristensen opened #232 "Simplified Pipeline Configuration API"
I'd like to be able to create a request like this:

[code]

rather than

[code]

[2014-09-10 12:22] gorzell commented on #232
It would be nice if there was an overload that could handle a plain URI.

I there a separate issue for moving to a more clear chaining pattern for
the pipelines themselves?
On Sep 10, 2014 8:19 PM, "Ben Christensen" notifications@github.com wrote:

[2014-09-10 12:32] benjchristensen commented on #232
I don't know if there is another issue, but there should be for the pipelining. We need to get that figured out soon.

[2014-09-15 18:43] AndrewReitz opened #233 "Using DefaultFactories.TRUST_ALL causes SelfSignedSSLEngineFactory to Error on Certain Systems."
On systems that don't have OpenJdkSelfSignedCertGenerator or BouncyCastleSelfSignedCertGenerator available to them (for example Android), it will error out when using DefaultFactories.TRUST_ALL, even though those are requirements for DefaultFactories.SELF_SIGNED.

This could be solved by having the two engines SELF_SIGNED and TRUST_ALL be lazy loaded, so that they are only instantiated when needed

[2014-09-18 05:14] #233 closed, assigned to nobody

[2014-09-19 06:33] NiteshKant opened #235 "HttpServer with non-aggregated request is broken"
`ServerRequestResponseConverter` unconditionally sends a content `onNext` if the message is not `HttpContent` instance [here](https://github.com/ReactiveX/RxNetty/blob/0.x/rx-netty/src/main/java/io/reactivex/netty/protocol/http/server/ServerRequestResponseConverter.java#L100). For a non-aggregated request payload, the message at the aforementioned line can be an `HttpRequest` sending which on the

[2014-09-19 06:43] #235 closed, assigned to NiteshKant

[2014-09-26 00:23] spencergibb commented on #54
Anything I can do to help here?  I'd like to integrate https://github.com/Netflix/ribbon 2.0 into https://github.com/spring-cloud/spring-cloud-netflix/ but ribbon 2.0 is waiting on serialization in RxNetty.

[2014-09-29 19:44] alexwen commented on #203
The work around ATM for this issue, I am not sure about the overall best scenario for API users, is for the consumer to retain the reference to the ByteBuf (taking it over from RxNetty). I do this by using an Operator:

[code]

Here is the Operator:

[code]

[2014-09-29 20:12] alexwen opened #237 "Empty Client Request Buffers Are Not Released"
Turning on [ResourceLeakDetector#PARANOID](http://netty.io/5.0/api/io/netty/util/ResourceLeakDetector.Level.html#PARANOID); I was getting warnings from some of my tests which utilize an RxNetty HTTP Client:

[code]

I tracked this down to an issue with empty responses from the server. Since it is a CompositeBuffer, and not readable, the content is not being passed along to the client AND the refer

[2014-09-30 04:22] thaggie opened #239 "Question about SSLEngineFactory usage"
When I look at all the examples they just use `DefaultFactories.trustAll()` and say **don't do this**, when I try to not do this things seem to hang and eventually throw an exception.

Clearly I'm doing something wrong but I can't really work out what given the documentation, error and my lack of experience:

[code]

And the (eventual) error:

[code]

[2014-09-30 04:54] tbak commented on #239
DefaultFactories are meant to be used only for testing. For production deployment you must provide your own `io.reactivex.netty.pipeline.ssl.SSLEngineFactory` factory implementation that will create properly configured `SSLEngine`. This simplistic API was a design choice as in general SSL secure context creation is a complex process and can be done in many different ways. With `io.reactivex.netty.

[2014-10-01 11:20] chen56 opened #240 "help , how to use http request.getContent ()?"
How to use the HttpServer in request.getContent ()?, Request.getContent () is a single value or a stream? The following use StringObservable.stringConcat right?

                 Observable <String> content = request.getContent (). Map (new Func1 <ByteBuf, String> () {
                     Override
                     public String call (ByteBuf byteBuf) {
                         return byteBuf.

[2014-10-01 17:23] tbak commented on #240
RxNetty provides `HttpObjectAggregationConfigurator` which aggregates user content, so you will always get it in one piece. It has default maxContentLength set to 1MB. This configurator is always present if you create HTTP pipeline configuration by calling `PipelineConfigurators.httpServerConfigurator`, which is what all HTTP-related RxNetty factory methods do (for client side they use `PipelineCo

[2014-10-03 01:42] chen56 commented on #240
@tbak  Thank you so quick reply, your example is very helpful for me

[2014-10-03 01:42] #240 closed, assigned to nobody

[2014-10-03 10:30] chen56 commented on #125
I hope when the client websocket request arrival, server can visit http request head(cookies),  I did not find any api for it ？

[2014-10-03 15:46] tbak commented on #125
Currently RxNetty WebSocket server does transparently (for the RequestHandler) upgrade to WebSocket channel, without giving a chance for the server to investigate header/cookie values.

#202 will address this issue.

[2014-10-04 01:30] chen56 commented on #125
Thank you

[2014-10-06 19:47] NiteshKant commented on #54
@spencergibb we are still discussing the design and feature of the serialization support for RxNetty from Netflix's perspective. Once the thoughts are a bit more concrete, I intent to create issues here that can be discussed. I hope that will give you more context on what we are trying to achieve and hence will be more fruitful if you wish to contribute.

BTW, when you say "ribbon 2.0 is waiting o

[2014-10-06 20:21] spencergibb commented on #54
@NiteshKant thanks for the update.  You are correct.  In ribbon 2.0 there in an exception thrown in [HttpRequest.java#L90](https://github.com/Netflix/ribbon/blob/3d8cdafa68e27aac83afa26fbc16f8c8a9c86f62/ribbon/src/main/java/com/netflix/ribbon/http/HttpRequest.java#L90) if the `RibbonResponse` type is anything other than `ByteBuf`.

I'd be interested in the _plugability_ of the API.  With [Feign](h

[2014-10-09 03:52] tlockney opened #241 "Is there a good way to compose RequestHandler instances?"
I've been struggling to figure out a good way to do this and it's quite possible that I'm simply failing to see something obvious, but it seems to me that composing (or chaining is a better way to think of it) RequestHandler instances is rather difficult. I ran into this trying to add in the WebappFileRequestHandler functionality to an existing RESTful service. This seems like a common need, so I'

[2014-10-09 04:11] tbak commented on #241
This would fit into #202. In general, we need a mechanism to define different  pipeline configurations/handlers depending on the provided URI patterns, like path prefix.

[2014-10-09 04:28] tlockney commented on #241
@tbak ah, yes, I should have looked at the existing issues in more detail -- the heading didn't jump out at me as being related, but I had been thinking about some of the use cases described while looking into this issue. I'll post any further comments I have there and close this question-by-way-of-an-issue. Thanks!

[2014-10-09 04:28] #241 closed, assigned to nobody

[2014-10-09 04:36] tlockney commented on #202
I originally opened a new issue (#241, which I have since closed) for another use case that needs to be better addressed. That is, the case where you simply need/want to compose different request handlers together. This came up when I was trying to find a simple way to compose a simple set of RESTful endpoints alongside a set of static files. The hack was to make our existing handler delegate to a

[2014-10-13 19:42] NiteshKant commented on #202
@tlockney [karyon](https://github.com/Netflix/karyon), which is built on top of RxNetty and is meant to be a higher level abstraction for writing applications, contains a [SimpleUriRouter](https://github.com/Netflix/karyon/blob/master/karyon-core/src/main/java/com/netflix/karyon/transport/http/SimpleUriRouter.java) which demonstrates how to compose handlers based on different URI expressions. Is t

[2014-10-13 21:03] tlockney commented on #202
@NiteshKant Sure, I'm aware of that class. In our case, we're not using Karyon, but I used a somewhat similar idea (hough much more basic since this was a one-off issue. But it made me wonder about the general solution to this problem, hence my additions to this thread. Looking at SimpleUriRouter again, though, I wonder if it would make sense to pull something similar to that into RxNetty directly

[2014-10-14 05:46] NiteshKant opened #243 "HttpServerListener requestReadTimes metric value is incorrect"
HttpServerListener in rx-netty-servo module provides the time taken to read requests. The value is absurd as shown below:

![image](https://cloud.githubusercontent.com/assets/820005/4624475/fc4c27c4-5364-11e4-8c21-b84ff627aa11.png)

The reason is that the start of request read is not recorded and hence the time to read request is just the system time at which the request receive completed.

[2014-10-14 09:55] chen56 opened #244 "rxnetty can complete the multipart FileUpload it? Examples?"
rxnetty can do the multipart FileUpload  ? Examples?

[2014-10-15 05:35] NiteshKant opened #245 "Race condition between write and flush in `HttpClient.submit()`"
`HttpClient.submit()` eventually results in a `writeAndFlush()` call on the `ObservableConnection` passing the `HttpClientRequest` ([Code ref](https://github.com/ReactiveX/RxNetty/blob/0.x/rx-netty/src/main/java/io/reactivex/netty/protocol/http/client/RequestProcessingOperator.java#L90)). Since, the content of the `HttpClientRequest` is written asynchronously (subscribing to the content `Observabl

[2014-10-16 02:02] #237 closed, assigned to nobody

[2014-10-16 15:06] dimitarg opened #246 "How to parse post request?"
I want to obtain the values of parameters in a POST request, without having to parse manually, deal with special characters encoding, etc.

In Netty I can achieve this with something like:

[code]

The problem:
- I cannot find a corresponding such utility in RxNetty.
- I cannot obtain the original netty request, as the field is declared private in io.reactivex.netty.protocol.http.server.HttpServer

[2014-10-17 07:49] chen56 commented on #246
i find a way :

[code]

[2014-10-21 15:45] ghost opened #247 "Appropriate handling of HEAD requests"
Currently, RxNetty does not differentiate between a HEAD or GET request on a SSE sink and will return SSE payload data on both. Please add support for HEAD requests where only headers are returned. Thanks!

[2014-10-22 20:03] jkschneider commented on #202
+1.  Like @tlockney, I wanted a way to compose static content and a simple REST endpoint.  I find the most attractive characteristic about rx-netty is its low number of external dependencies compared to competitors.  Adding karyon limits this benefit.

[2014-10-22 21:05] NiteshKant opened #248 "Connection close cancels pending writes"
Currently `ObservableConnection` cancels any pending writes on the connection when it is closed. The reason for doing this is:
- When a connection is physically closed, there is no point in writing to that as they will anyways fail.
- For a pooled connection, when the connection is closed (returned to the pool), if there are pending writes then the next use of the connection would be wrong.

Now,

[2014-10-22 21:11] NiteshKant opened #249 "`BytesInspector` does not record events for `ByteBufHolder` and `FileRegion`"
`BytesInspector` is used to record metric events for bytes read and written from and to a channel. It just checks for the message to be an instance of `ByteBuf`. Since, netty accepts `ByteBuf`, `ByteBufHolder` and `FileRegion` objects to be written directly to a channel (without any conversion), we should also intercept those message types.

[2014-10-22 21:20] NiteshKant opened #250 "Connection closing and content stream behavior"
For HTTP, on closing a connection (server or client), the associated HTTP content stream (request content for server and response content for client) is sent an `onComplete()`. This behavior should be modified as follows:
- If the request/response is not complete (we have not yet received `LastHttpContent`) at the time of connection close, it should result in invoking `onError` on the content stre

[2014-10-22 21:33] NiteshKant opened #251 "Metric events for Request content source error and request write failure"
The following two metrics will give insight into `HttpClientRequest` write failures:
- How many times `HttpClientRequest` content observable returned an error.
- How many times the write of `HttpClientRequest` on the channel failed. Currently, there is a metric on how many times writing of header failed and how many times writing of content failed. Since, these metrics are over all requests, there

[2014-10-23 06:15] NiteshKant opened #252 "Upgrade RxJava to 1.0.0-RC7"

[2014-10-24 20:14] jkschneider commented on #202
I think it is worth noting here that there is a nasty bug somewhere in the holding of state around queryStringDecoder in HttpKeyEvaluationContext.  This state seems to cross uri boundaries.  It doesn't appear that there are any tests for it in Karyon, and it may not be worth tracking down if the PR here obviates the need for SimpleUriRouter altogether.

[2014-10-24 20:15] jkschneider commented on #202
@NiteshKant - I would be happy to write up wiki docs for this feature if you like the implementation.

[2014-10-24 22:19] #243 closed, assigned to NiteshKant

[2014-10-24 22:19] #245 closed, assigned to NiteshKant

[2014-10-24 22:19] #229 closed, assigned to NiteshKant

[2014-10-24 22:19] #248 closed, assigned to NiteshKant

[2014-10-24 22:19] #252 closed, assigned to NiteshKant

[2014-10-24 22:20] #251 closed, assigned to NiteshKant

[2014-10-24 22:21] #250 closed, assigned to NiteshKant

[2014-10-24 22:22] #249 closed, assigned to NiteshKant

[2014-10-28 13:36] brharrington opened #257 "support relative URIs for redirect"
It is fairly common to have relative URIs used with redirects and that appears to be the consensus from the IETF as well:

http://trac.tools.ietf.org/wg/httpbis/trac/ticket/185
http://tools.ietf.org/html/rfc7231#section-7.1.2

Currently I get:

[code]

[2014-10-28 15:06] brharrington opened #258 "incorrect host header"
When using RxNetty as a client the host header seems to only include the hostname regardless of the port. It should include the port if it is not 80:

http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.23

[2014-10-28 17:25] NiteshKant commented on #258
@brharrington makes sense. I will make the change.

[2014-10-28 17:38] NiteshKant commented on #257
It's weird as RxNetty just does relative URI redirect (as a client is associated with a single host/port combination). It looks like an oversight in the code. I will fix it. The correct behavior should be that relative redirects are followed and absolute redirects are passed back to the user to take a decision how to do redirects on a different host.

[2014-10-28 17:46] NiteshKant opened #259 "Support native netty protocol as a runtime choice."
Netty's [native transport](https://github.com/netty/netty/wiki/Native-transports) is available on linux, is more performant and has optimized memory footprint.
Since, it is a choice based on the OS, it will force people to write conditional code in the client and servers to flip the transport when available. On top of it, there would not be any standardization for an application owner to switch to

[2014-10-28 18:00] NiteshKant opened #260 "Convert `RxEventLoopProvider` and `MetricEventsListenerFactory` to abstract classes"
`RxEventLoopProvider` and `MetricEventsListenerFactory` are interfaces and a part of the public API (`RxNetty` class).
Specially, since we are still iterating on the API, It will be much easier to add methods to them if they are abstract classes

[2014-10-28 18:02] NiteshKant commented on #247
It applies for all HTTP requests (spec: http://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html#sec9.4) so RxNetty should not return payload for HEAD requests.

[2014-10-28 22:50] NiteshKant opened #261 "`ServerSentEventEncoder` is sub-optimal in using StringBuilder"
`ServerSentEventEncoder` uses a temporary `StringBuilder` to create a SSE string. Instead it can directly build netty's `ByteBuf`

[2014-10-29 17:44] NiteshKant commented on #257
I need to release 0.3.16 now for some critical fixes. Moving this to 0.3.17

[2014-10-29 17:50] #258 closed, assigned to NiteshKant

[2014-10-29 17:50] #259 closed, assigned to NiteshKant

[2014-10-29 17:50] #260 closed, assigned to NiteshKant

[2014-10-29 17:50] #261 closed, assigned to NiteshKant

[2014-10-29 20:59] NiteshKant commented on #259
Release [0.3.16](https://github.com/ReactiveX/RxNetty/releases/tag/0.3.16) adds this support.

There are two ways to use this feature.

#### Independent setting

One can use native transport per client/server by using the following template:

##### Server

[code]

##### Client

[code]

#### Global setting

If it is required to globally turn on/off the use of native transport, `RxNetty` provides tw

[2014-10-30 01:39] NiteshKant opened #263 "Rename eventloops"
For Nio eventloops, the current name is "rx-selector" and for native transport eventloops, there is no specific name.

A better naming would be:
- Nio: "rx-netty-nio-eventloop"
- Native transport: "rx-netty-epoll-eventloop" As the native transport is epoll based.

[2014-10-30 02:43] benjchristensen commented on #263
:+1:

[2014-10-30 05:22] NiteshKant commented on #208
This was fixed as part of issue #250 for disposing connections if returned to pool (on unsubscribe) before response is completed. Issue #223 fixed this for SSE where the connections receiving are never reused.

[2014-10-30 05:22] #208 closed, assigned to nobody

[2014-10-30 05:51] NiteshKant opened #264 "Remove `ByteBuf` auto-release"
Today RxNetty tries to alleviate the load of managing `ByteBuf` lifecycle from the user and employs an auto-release strategy, post invoking `onNext` on the subscriber listening for data.

The above is convenient in normal scenarios however it becomes non-intuitive in scenarios where the processing of `ByteBuf` happens in a separate thread as described in the issue #203

A slightly convoluted examp

[2014-10-30 05:54] benjchristensen commented on #264
:+1:

[2014-10-30 06:05] NiteshKant commented on #264
Thanks @benjchristensen for the :+1:
\cc @mattrjacobs @diptanu @g9yuayon

[2014-10-30 07:00] daschl commented on #264
@NiteshKant how do you do this in RxNetty?

RxNetty read a ByteBuf from netty but there was no subscriber. In this case the ByteBuf is unconsumed and RxNetty will release such a ByteBuf

/cc @simonbasle

[2014-10-31 05:20] NiteshKant commented on #264
Thats a good question. RxNetty hands off `ByteBuf` to users in two ways:
- Via `ObservableConnection.getInput()`
- Via `HttpContentHolder.getContent()`

Both the above methods return a `Subject`.
`HttpContentHolder.getContent()` uses a [UnicastContentSubject](https://github.com/ReactiveX/RxNetty/blob/0.x/rx-netty/src/main/java/io/reactivex/netty/protocol/http/UnicastContentSubject.java) and after

[2014-10-31 09:10] simonbasle commented on #264
@NiteshKant I've looked at UnicastContentSubject when you linked it before, interesting expansion on the BufferUntilSubscriber subject ;)
I was under the impression that you also wanted to get rid of the timeout auto-release, but if that's not the case, awesome, it means that's a path worth exploring!

[2014-11-03 19:00] NiteshKant opened #267 "Change ServerSentEvent to store data as `ByteBuf`"
`ServerSentEvent` object stores data as a String. This means that we get the event data in heap memory as opposed to using netty's pooled `ByteBuf`. Moving this data into `ByteBuf` will optimize the memory footprint of an application consuming large amount of events.
#### Change in behavior

This means that the memory management of a `ServerSentEvent` will be a user responsibility. Specially after

[2014-11-03 19:09] NiteshKant commented on #267
PR #266 fixes this issue as a new implementation. Existing implementation is preserved and is deprecated (Issue #209)

Comparison of object allocation between the new and old implementation is:

#### Old Implementation

![image](https://cloud.githubusercontent.com/assets/820005/4888318/2f0baa40-638c-11e4-9e77-af416a4c0e3c.png)

#### New Implementation

![image](https://cloud.githubusercontent.com/

[2014-11-03 19:10] NiteshKant commented on #30
(Copying comments from #267 for reference here)

PR #266 fixes this issue as a new implementation. Existing implementation is preserved and is deprecated (Issue #209)

Comparison of object allocation between the new and old implementation is:

#### Old Implementation

![image](https://cloud.githubusercontent.com/assets/820005/4888318/2f0baa40-638c-11e4-9e77-af416a4c0e3c.png)

#### New Implementati

[2014-11-03 19:17] #205 closed, assigned to nobody

[2014-11-03 19:17] #263 closed, assigned to NiteshKant

[2014-11-03 19:18] #267 closed, assigned to NiteshKant

[2014-11-03 19:18] #209 closed, assigned to nobody

[2014-11-03 19:34] #30 closed, assigned to nobody

[2014-11-03 19:45] NiteshKant commented on #220
PR #266 reimplements SSE in the package io.reactivex.netty.protocol.http.sse and the following are the primary changes w.r.t this issue:
- Default `ServerSentEvent` constructor only emits a single data event.
- `ServerSentEvent` class provides three create methods `withEventIdAndType`, `withEventType` and `withEventId` to create events with eventId and eventType.
- Verified that one can directly w

[2014-11-03 19:45] #220 closed, assigned to NiteshKant

[2014-11-03 19:45] NiteshKant commented on #222
PR #266 reimplements SSE in the package io.reactivex.netty.protocol.http.sse and the following are the primary changes w.r.t this issue:
- Default `ServerSentEvent` constructor only emits a single data event.
- `ServerSentEvent` class provides three create methods `withEventIdAndType`, `withEventType` and `withEventId` to create events with eventId and eventType.
- Verified that one can directly w

[2014-11-03 19:45] #222 closed, assigned to NiteshKant

[2014-11-04 22:24] NiteshKant commented on #21
This was fixed as part of #208 in release 0.3.15

[2014-11-04 22:24] #21 closed, assigned to nobody

[2014-11-04 22:49] NiteshKant opened #269 "`ServerSentEventDecoder` stops decoding after receiving an illegal field"
On receiving an unexpected field name, the decoder does not set the `currentFieldType` which results in a `NullPointerException` ([here](https://github.com/ReactiveX/RxNetty/blob/0.x/rx-netty/src/main/java/io/reactivex/netty/protocol/http/sse/ServerSentEventDecoder.java#L199)) when it tries to decode the field value in the next iteration.

[2014-11-04 23:36] NiteshKant opened #270 "HttpClient should only do relative redirects"
As mentioned in issue #257 RxNetty does not follow redirects for relative URIs.

On the contrary, RxNetty should **only** follow relative redirects as every `HttpClient` is tied to a host and port and hence can not handle redirects to a different host.
#### Behavior with absolute redirects

RxNetty should pass through any absolute redirects to the caller for it to decide what is the best way to ha

[2014-11-04 23:55] NiteshKant opened #271 "URI fragment must be inherited by the redirect location"
For 3xx redirects, according to spec: http://tools.ietf.org/html/rfc7231#section-7.1.2 the redirect URI must carry forward the URI fragment from the original request if not provided in the redirect location.

[2014-11-05 20:23] NiteshKant opened #272 "Guaranteeing sequential notifications from operators/Subjects"
`Subscriber` does not imply sequential notifications i.e. `onComplete` will not be fired when an `onNext` is executing. Custom subscriber instances are used in the following places:
- [RedirectOperator.RedirectSubscriber](https://github.com/ReactiveX/RxNetty/blob/0.x/rx-netty/src/main/java/io/reactivex/netty/protocol/http/client/RedirectOperator.java#L205)
- [HttpContextClientChannelFactory.Contex

[2014-11-05 20:42] benjchristensen commented on #272
If you have events from multiple threads try to reuse existing RxJava mechanisms for handling this so you don't have to reinvent it ... `merge` for example, or `SerializedSubject` and `SerializedObserver`.

[2014-11-05 21:40] NiteshKant commented on #272
Thanks @benjchristensen. I did not know about `SerializedSubject`, exactly what I wanted! I was intending to implement it using `SerializedObserver`

In our case, there are only two places this requires fixing:
- [UnicastContentSubject.PassThruObserver](https://github.com/ReactiveX/RxNetty/blob/0.x/rx-netty/src/main/java/io/reactivex/netty/protocol/http/UnicastContentSubject.java#L329)
- [Observab

[2014-11-05 22:53] #269 closed, assigned to NiteshKant

[2014-11-05 22:57] NiteshKant commented on #270
`HttpClient` now does **not** follow redirects with absolute URIs i.e. anything starting with "http"
Earlier behavior was to expect an absolute URI and check if the host is the same as the original host.

[2014-11-05 23:21] NiteshKant commented on #257
`HttpClient` now **only** follow redirects with relative URIs. Other redirects are passed through to the caller. Related issue #270

[2014-11-05 23:21] #257 closed, assigned to NiteshKant

[2014-11-05 23:22] NiteshKant commented on #272
Modified `UnicastContentSubject` to wrap the passed observer with a `SerializedObserver` and `ObservableConnection` to use `SerializedSubject`

[2014-11-05 23:22] #272 closed, assigned to NiteshKant

[2014-11-05 23:23] NiteshKant commented on #271
Now, the redirect URI inherits the fragment if none present. The behavior follows as described in this example in the spec:

[code]

[2014-11-05 23:23] #271 closed, assigned to NiteshKant

[2014-11-05 23:27] NiteshKant commented on #270
The backward incompatibility is the case where the URI was relative (on the same host) but was sent as absolute. We were never following redirect URIs with a different host.

[2014-11-05 23:28] #270 closed, assigned to NiteshKant

[2014-11-13 07:42] #244 closed, assigned to nobody

[2014-11-19 22:55] NiteshKant opened #277 "StackOverflow while draining`UnicastContentSubject`"
[UnicastContentSubject](https://github.com/ReactiveX/RxNetty/blob/0.x/rxnetty/src/main/java/io/reactivex/netty/protocol/http/UnicastContentSubject.java#L362) drains buffered messages before passing through the current notification.
Since, drain also invokes an `onNext()`, for large buffers, this may overflow the stack.

[2014-11-25 06:18] NiteshKant opened #280 "Eliminate Client and Server Builders"
Today, all clients and servers follow the builder pattern to make sure that a client/server once created in immutable. In order to make the creation of most common clients/server easy, `RxNetty` factory class has some factory methods, like:

[code]

It also has the following builder creation methods:

[code]

The above two concepts are a bit odd as a user has to unlearn one to learn the other. eg:

[2014-11-25 06:20] NiteshKant opened #281 "Eliminate ClientConfig"
All clients (`RxClient`, `HttpClient`, `UdpClient`) supports a concept of `ClientConfig`. This concept has multiple issues:
- Config instance is immutable and hence, it requires a builder. This pattern is verbose to use.
- Config instance is set using the `ClientBuilder`. Inheritance does not gel well here as the `AbstractClientBuilder.config()` can not determine the correctness of the config unle

[2014-11-25 06:26] benjchristensen commented on #280
Can you provide examples of what the new API would be and code examples of using them?

[2014-11-25 06:27] benjchristensen commented on #281
Examples would be helpful.

[2014-11-25 06:43] NiteshKant opened #282 "Improve `HttpClient` request submission"
In order to have the ability to specify behaviors per request, one has to add these behaviors in `HttpClientConfig`, eg: redirect, user agent, etc. This is odd from the following aspects:
- The ability is hidden in config and hence hard to discover.
- Reuse of requests is difficult as every request has to be created from request if they differ slightly.
### Proposal

Modify `HttpClient.submit()` a

[2014-11-25 08:19] NiteshKant commented on #281
@benjchristensen Lemme create a new issue which details API changes pertaining to all issues in [0.5.0 milestone](https://github.com/ReactiveX/RxNetty/milestones/0.5.0)

[2014-11-25 20:08] jonashall commented on #202
+1 Really need this support. In the meantime I'm trying to reconfigure the pipeline to support WebSockets on certain uris. Anyone who managed to get this working?

[2014-11-25 21:04] benjchristensen commented on #281
Okay.

[2014-11-25 21:05] benjchristensen commented on #282
Seems to make sense. Would need to use it to know for sure but reviewing the API it seems good.

[2014-11-26 15:39] tbak opened #283 "ClassPathFileRequestHandler does not read resources from jar files"
The problem is twofold. First issue is related to resolving resource URI:
- reading class path resource for file stored directly on the file system requires that is has './' prefix (not sure why)
- for a resource from jar file to be found it cannot have any leading characters like '/' or './'

Second issue is with loading the resource. If an URI is a hierarchical path, like in case of resource in

[2014-11-26 18:30] bpitman opened #284 "HttpServerRequest needs a mechanism to determine if secure"
I need to know if the client is connected securely.

[2014-11-26 18:34] bpitman opened #285 "Required cast to InetSocketAddress"
It would be better if I didn't need to cast this.  Perhaps Channel could be typed with the socket type?

HttpServerRequest.getNettyChannel.remoteAddress.asInstanceOf[InetSocketAddress].getAddress

[2014-12-01 02:52] pk11 opened #286 "HTTP routing (and filtering)"
Hi,

I am not sure whether you guys are interested in having an HTTP router/filter in `rxnetty-core` or that should stay in userland. In any case, I created a library that attempts to address this issue:

https://github.com/pk11/rxnetty-router

Here is an `HttpServer` using the router:

[code]

As the next step, I will implement filter support.

Potential issues for `rxnetty-core`:
- it requires `

[2014-12-01 23:08] NiteshKant commented on #286
Thanks @pk11 for sharing your work with us!

We certainly need an application level router like you have created as well as the filter support you intend to add. Currently, [karyon](https://github.com/Netflix/karyon/tree/master/karyon-core) provides an interceptor (filter) support which I am intending to fold into RxNetty to be used by both server and client. I am happy to collaborate on that feat

[2014-12-02 00:15] pk11 commented on #286
That's correct, if that's a requirement then that alone justifies the rewrite

Yes, that's correct. If you could add an extra field to `HttpServerRequest` or `RequestHandler` to store matched URL params then that interface + the java8 requirement would go away.

For filter support, I was thinking about a similar concept to [webbit](https://github.com/webbit/webbit/wiki/Writing-HttpHandlers#middlew

[2014-12-02 01:02] NiteshKant opened #287 "Flush HTTP response on completion of `RequestHandler.handle()`"
In order to optimize gathering writes for pipelined requests, `response.close()` does not flush the response and instead does a `flush()` on `channelReadComplete()` (Change done as part of issue #177)

For request processing which is done in a different thread, this adds an awkward usage pattern of doing a `response.close()` after completion of the `Observable` returned from `RequestHandler.handle

[2014-12-02 02:19] ngocdaothanh commented on #286
Author of Jauter here.

The [README](https://github.com/sinetja/jauter) of Jauter shows that you can use method `ANY`, like this:

[code]

I'd like to contribute. How about moving Jauter somewhere more convenient for RxNetty?

[2014-12-02 07:28] NiteshKant commented on #286
@ngocdaothanh thanks for pitching in!

Cool, thanks for the pointer.

We have a very strict objective of not having any other dependency apart from netty and rxjava. So, the only way it could work is if the code is inside rxnetty-core or a separate module. Since, routing is a very core functionality, I do not think having a separate module makes sense. I am totally fine if you want to contribute t

[2014-12-02 07:44] NiteshKant opened #288 "Upgrade to rx-java 1.0.1"

[2014-12-02 15:53] pk11 commented on #286
@ngocdaothanh awesome news! My project was a proof of concept anyway, so it would be great if you could take over.

@NiteshKant Great write up - I like where this is going! My 2c:

I suppose it's a matter of taste how rich you want to make your DSL but I found the proposed syntax a bit too ambiguous and fluid (i.e. `withMethod` vs `forMethod`).

Personally as a user I'd prefer something closer to

[2014-12-02 16:00] pk11 commented on #286
...or writing these as fluid APIs:

`router#<verb> ("<url regex (including query params)>").withFilter( (params,req,res)->{...} )`

and

`router#<verb> ("<url regex (including query params)>").with( (params,req,res)->{...} )`

[2014-12-02 18:24] NiteshKant commented on #286
@pk11 Good points.

The issue with providing regex as the only way to route with specifying QP is that means the regex would have to be evaluated for every URI which is costly. That is the reason why I extracted the QP based routing outside the regex (you can ofcourse still do regex matching for QPs).

I personally like the `.route()` and `.intercept()` method names in the DSL as opposed to `withF

[2014-12-02 18:33] elandau commented on #286
As RxNetty gains more adoption I imagine people will want different DSLs.  As such we should make sure to provide a robust low level route wiring mechanism that can be configured via any DSL.  Let's take a step back and look at some requirements for low level route wiring mechanism,
- Matcher abstraction for matching a request to a RequestHandler.  Note that a matcher can match different verbs, re

[2014-12-02 20:29] pk11 commented on #286
@NiteshKant
re: query params: I guess jauter's approach of not matching on query params was coming from a similar consideration. Personally, I tend to prefer smaller APIs with limited functionality, so I would be fine with not being able to match on query params or headers at all (some of those issues can be addressed via filters anyway).

`router.PUT("/create").orPOST().route( (req, res) -> {...}

[2014-12-03 17:51] #277 closed, assigned to NiteshKant

[2014-12-03 17:51] #287 closed, assigned to NiteshKant

[2014-12-03 17:51] #288 closed, assigned to NiteshKant

[2014-12-08 04:57] dstengle opened #292 "Maven poms have depencies as runtime instead of compile."
I've been scratching my head this evening after switching over to the rxnetty project and it looks like the poms since 0.4.0 all have dependencies as runtime rather than compile. I can't immediately see why this would be happening, since the gradle files point to compile.

https://repo1.maven.org/maven2/io/reactivex/rxnetty/0.4.4/rxnetty-0.4.4.pom

[2014-12-08 05:27] quidryan commented on #292
Are you depending on rxnetty and having a problem because the dependencies are in the runtime scope?

From a dependency management point of view, there is no difference between runtime and compile scopes, you always need both. The differentiation is only relevant when building a project, but for rxnetty we're using Gradle and not Maven, so the contents of the pom don't affect the build.

[2014-12-08 06:19] dstengle commented on #292
Yes. I am trying to build a simple project with maven where I should only need to depend on rxnetty and get the rest of what I need from dependencies. With the rxnetty pom on maven central set up the way it is, I need to explicitly include other dependencies.

"From a dependency management point of view, there is no difference between runtime and compile scopes, you always need both."

This is not

[2014-12-08 07:58] quidryan commented on #292
Here is a sample mvn pom:

[code]

When I run 'mvn dependency:tree', I can see the transitive dependencies coming through just fine:

[code]

I tried it with gradle too:

[code]

With "gradlew dependencies --configuration compile", I can see the appropriate transitive dependencies:

[code]

Do those examples capture what you're talking about? Are you seeing different behavior?

Caveat emptor, Comp

[2014-12-08 20:00] quidryan commented on #292
I did some research and a co-worker explained what is happening to you. When dependencies are in the compile scope in a POM, they are then added to your compile scope.  We believe pretty strongly that if you need something on your compile classpath you should have a direct dependency on it. This becomes an issue of how a module should convey what their feel should be part of their public API and w

[2014-12-09 14:27] dstengle commented on #292
I understand the desire to manage things more explicitly, but this goes against the nature of the system and you will be plunging everyone back into dependency management hell.

If all netflix projects start publishing to maven central with second-order dependencies as runtime, starting up a project will get very difficult.

Let's take ribbon for example. I can see that I might be using rxjava in

[2014-12-10 09:49] ngocdaothanh commented on #286
The Netty project is also adding the router feature:
https://github.com/netty/netty/issues/3023

So maybe to avoid work duplication, RxNetty should wait a little more for the next version of Netty, then use the router feature in it. Please also discuss about the router at the above issue.

[2014-12-11 14:26] gorzell commented on #286
Another great feature in this area is the ability to nest routers/filters by basically having them comply with the Handler API.  This allows you to create a top level router than can carve up your high level API URI space, but then delegate the specifics of how to handle routing and filtering (including handling request methods) within that space to a child class.

I think that Finagle is a pretty

[2014-12-11 14:35] gorzell commented on #285
@bpitman how would you suggest doing this?  Since you are pulling out the netty internal representation I can't think of an easy was to add typing other than to modify netty itself.

[2014-12-23 00:42] NiteshKant opened #303 "HTTP client API changes for 0.5.0"
This issue contains the API changes to HTTP client based on the issues #282 #280 #281
### Http Client

All mutations to the client creates a new instance of the client.

[code]
### Http Client Request

This folds `HttpRequestHeaders`, `ClientConfig` and `ChannelPipeline` methods into the request.
Every mutation creates a new instance of the request. In order to do multiple mutations, the cost of c

[2014-12-23 00:44] NiteshKant commented on #303
\cc @benjchristensen

[2014-12-23 00:45] NiteshKant commented on #232
@benjchristensen @gorzell look at this issue #303 that elaborates API changes for 0.5.0 milestone and addresses the pipeline configuration as well as URI concerns discussed here.

[2014-12-23 00:46] NiteshKant commented on #137
#303 address this concern by providing these kind of configuration changes per request.

[2014-12-23 00:47] NiteshKant commented on #282
#303 details the API changes discussed here.

[2014-12-23 00:47] NiteshKant commented on #281
#303 details the API changes discussed here. It also has examples

[2014-12-23 00:48] NiteshKant commented on #280
#303 details the API changes discussed here with examples.

[2014-12-23 04:47] diptanu opened #304 "Rx.Scala bindings for RxNetty"
I am creating this issue to discuss what needs to be done to integrate RxNetty with RxScala. RxNetty currently uses `rx.Observable` in it's API, it would be much nicer if we could work with `rx.lang.scala.Observable` in the Scala land.

[2014-12-23 04:47] diptanu commented on #304
cc/ @mattrjacobs @benjchristensen

[2014-12-23 04:54] benjchristensen commented on #304
Just like RxScala is a wrapper around RxJava, there would need to be a wrapper for RxNetty. It would use RxScala for all the Rx pieces, so that part is already done.

Right now, just convert the rx.Observable into an rx.lang.scala.Observable and you'll get all the Scala goodness without going to the effort of making a complete RxNetty API in Scala.

[2014-12-23 05:00] headinthebox commented on #304
You can simply import the conversions from the Rx scala library.

[2014-12-23 06:58] NiteshKant commented on #304
@headinthebox does it mean using [rx.lang.scala.JavaConversions.toScalaObservable](https://github.com/ReactiveX/RxScala/blob/0.x/src/main/scala/rx/lang/scala/JavaConversions.scala#L52) to convert an RxJava `Observable` to RxScala `Observable`?

@benjchristensen If that is what is required to use RxNetty in scala, is there a need to provide an RxNetty API in scala?

[2014-12-23 08:26] dimitarg commented on #280
I guess the downside of this approach is that once one is done with
configuring the server, all these methods you never need to use anymore get
in the way while you're interacting with the built server. In academic
speak it violates SRP. But I'm not sure how to improve this while
addressing your original concerns.
As an end user I like it one way or the other, usually my building code
tends to be

[2014-12-23 15:44] benjchristensen commented on #304
It's not needed, Scala can call Java, it's just an optimization. Scala users would have to chime in as to whether it is important. If so it would be a separate project like RxScala. Since all public APIs are exposed with Observables I'd want to first see if RxScala provides enough, since that's where "user code" ends up mostly being done and Scala features like for-comprehensions matter.

[2014-12-23 16:49] tbak commented on #303
Looking at the examples, I like the compactness and readability of the new API. The HttpClient/HttpClientRequest seem however a bit overloaded. Maybe that is just the price we need to pay.

Technically `HttpClient`, and `HttpClientRequest` are builders where the former builds HttpClientRequest objects, and the latter via Observable inheritance, an observable stream. Shouldn't the class names refle

[2014-12-23 17:15] NiteshKant commented on #280
@dimitarg Thanks for sharing your views, much appreciated!

Yeah the classes are bulky but at the end of the day the intention is to remove multiple abstraction and streamline the usage so that it is intuitive to use a client/server which it currently isn't IMO.

[2014-12-23 17:33] NiteshKant commented on #303
Thanks @tbak for the review.

Yes the API is bulky and it is a result of what I am trying to achieve, i.e. reduce multiple abstractions to streamline the usage of an HTTP client.

They aren't really builders i.e. they do not build a complex object via multiple mutations. Every mutation creates an `HttpClient` or `HttpClientRequest` that can be used directly. eg: For `HttpClient` you can do:

[code

[2014-12-23 19:28] NiteshKant opened #307 "Eliminate `ContentTransformer`?"
[`ContentTransformer`](https://github.com/ReactiveX/RxNetty/blob/0.x/rxnetty/src/main/java/io/reactivex/netty/channel/ContentTransformer.java) intends to solve the inability to change the type of `HttpClientRequest` or `ObservableConnection` after creation by providing a mapping function to convert between types.
This approach has a few issues:
- Provides an abstraction over netty's `ChannelHandle

[2014-12-26 17:06] wheaties commented on #303
@NiteshKant I don't get the `HttpClientRequestUpdater`. On one hand you're getting rid of the builders and making the objects immutable (good) but then you seem to be reintroducing them back with this updater thing. I could see if it's some form of StateMonad which accumulates all the different transformations which would be applied to the `HttpClientRequest` object but then that would imply the c

[2015-01-07 09:33] chen56 commented on #202
+1 ： Configure pipeline

[2015-01-07 19:21] kromit commented on #202
+1: really missed feature

[2015-01-08 07:42] NiteshKant commented on #202
This will be available in 0.5.0 milestone.

[2015-01-15 13:55] daschl opened #311 "UnicastContentSubject not releasing after timer"
Hi @NiteshKant @benjchristensen,

I think I found a bug in the UnicastContentSubject. I'm currently copying it over to the couchbase SDK and giving it a try and I found the following.

When you do not subscribe the timer fires, but it actually never frees the buffer - and I think here is why:

Normally, when one subscribes you chain in the releasing operator:

[code]

But when the `disposeIfNotSub

[2015-01-15 14:15] daschl opened #312 "UnicastContentSubject GC issues"
In addition to the other issues, it looks like there is a big issue in terms of GC and/or a leak. Here is a comparison to the same code running (load against a Couchbase cluster). AsyncSubject vs UnicastContentSubject. Btw I expected a little bit more GC since more stuff is done, but this drastic difference seems weird (note the 2s vs 50s gc pause time in a 3 min run).

For some context: that come

[2015-01-15 14:43] daschl commented on #312
I've been playing around a bit with timings and it seems that a much shorter timeout doesn't have as much impact as longer ones. This indicates to me that it's because the timers are getting moved out of the young gen making them more costly to be cleaned up.

Any idea how we can work around this to some degree?

[2015-01-15 15:02] daschl commented on #312
@NiteshKant @benjchristensen one thing I found as a potential improvement is to only schedule the call when one is still actually unsubscribed. Because currently the disposeIfNotSubscribed() is still called even if one is already subscribed, paying the penalty there too.

want me to submit a PR for this as well?

[2015-01-15 15:46] daschl commented on #312
#313 related.

[2015-01-15 18:19] NiteshKant commented on #311
Thanks @daschl for reporting this. I missed the release during timeout in my latest changes (ugghh)
I will review your PR now.

I think there is a value in providing a `UnicastDisposableSubject` in RxJava; which provides:
- Only a single subscriber (unicast)
- An option to dispose if not subscribed. The signal to dispose can be via an `Observable`

Yeah I think before-after `onNext` semantics is w

[2015-01-15 18:45] NiteshKant commented on #303
Thanks @wheaties  for the review.

Any objects created during an `HttpClientRequest` creation is magnified for high throughput systems  as they are created proportional to the throughput.

Let us take an example of a system which is doing 10K rps and does 3 mutations for the request. This would mean that there will be 30K objects (unnecessary) created per second.

The motivation of eliminating bui

[2015-01-16 16:47] danfinucane commented on #292
I agree with dstengle that making the netty dependencies runtime puts unnecessary responsibility on the developer using RxNetty to know what version of netty was used.  RxNetty exposes the netty types in its public API so they should be resolvable at compile time.

I started searching for this issue because I wanted to write the following code

[code]

but I can't without identifying the module co

[2015-01-16 18:52] NiteshKant commented on #292
I agree with @dstengle that he should not be providing these dependencies explicitly as it is part of rxnetty API (`ByteBuf` usage i.e.)

@quidryan thoughts?

[2015-01-16 18:59] quidryan commented on #292
I understand the point. The problem is that we're conflating what is needed to compile rxnetty and what is part of its public interface. Ideally I'd want way to differentiate those two things. Either way, the Gradle publishing code isn't very flexible in this regard, and will a require changes to make which configuration to publish dependencies in configurable. I don't have any immediate plans to

[2015-01-16 20:34] dstengle commented on #292
@quidryan

I'm not sure where that will get you

[2015-01-16 20:43] dstengle commented on #292
@quidryan

When you mean conflating compile and the public api, do you specifically mean something like slf4j, which is literally never in a signature and only needed in the runtime classpath?

So the distinction would be pom-for-self and pom-for-export in a sense (even though you aren't using maven here)?

[2015-01-21 09:59] chen56 opened #316 "bug: FileRequestHandler error: Too many open files"
rxnetty-0.4.4

at FileRequestHandler.java:95: Too many open files.
RandomAccessFile not closed.

Steps to reproduce the bug:
1.

2.

3.
access the static file uri

4.

error:
java.io.FileNotFoundException: /home/c/resources/static/user/index.html (Too many open files)\n\t
at java.io.RandomAccessFile.open(Native Method)\n\tat java.io.RandomAccessFile.<init>(RandomAccessFile.java:243)\n\t
at io.reac

[2015-01-21 19:27] NiteshKant commented on #316
Thanks @chen56 for reporting the issue, will look at it.

[2015-01-21 22:13] NiteshKant opened #317 "TCP client API changes for 0.5.0"
This issue contains the API changes to TCP client based on the issues #280 #281
#### Tcp Client

This client does not extend `RxClient`, I am preferring delegation instead of inheritance for the clients, so all clients (HTTP/UDP/TCP) will be standalone.
All mutations to this client, creates a new instance.

[code]
#### Connection Request

This folds `ClientConfig` and `ChannelPipeline` methods int

[2015-01-22 18:49] benjchristensen commented on #264
As @NiteshKant and I discuss this further there are two options:

1) Never Auto-release

When `ByteBuf` is used the developer must always `release` at the end.

2) Auto-Release with Synchronous/Asynchronous Difference

When the handler function is invoked synchronously, then auto-release would work. If the developer chooses to do something async before consuming the `ByteBuf` then they would be re

[2015-01-24 09:47] chen56 opened #318 "bug?: use io thread,response nothing --- rxnetty 0.4.5-rc.2"
windows 8.1
rxnetty 0.4.5-rc.2  (0.4.4 is fine)
rxjava-1.0.4

what happen?
 [gist code!](https://gist.github.com/chen56/f5bb578393925d8f5f22#file-rxnetty-0-4-5-rc-2-bug)

other question, can you help me:
-  how to use thread in rxnetty?
-  when calls response.write/request.getContent()/response.close()/response.flash(), must do it in RequestHandler#handle thread?
-  when and how to close/flash?
-

[2015-02-01 13:53] imperatorx opened #321 "0.4.5-RCx bytebuf leak issue"
A simple http server with the following basic handler:

[code]

causes a "LEAK: ByteBuf.release() was not called before it's garbage-collected" waring after some thousands of http requests on 0.4.5-RCx. Version 0.4.4 seems unaffected and works fine.

[2015-02-01 20:09] NiteshKant commented on #321
I think you are facing issue fixed in this PR: https://github.com/ReactiveX/RxNetty/pull/320
The fix is released in 0.4.5

[2015-02-03 06:43] NiteshKant opened #323 "Enforce single eager content subscription (remove subject)"
Today `ObservableConnection`, `HttpClientResponse` and `HttpServerRequest` all support multiple lazy subscriptions on the content (`ObservableConnection.getInput()`, `HttpClientResponse.getContent()` and `HttpServerRequest.getContent()`). This enforces us to use a `Subject`.

This has two issues:
- `Subject` breaks backpressure and hence it is difficult to implement transport level flow control.
-

[2015-02-03 06:50] NiteshKant opened #324 "Channel read on content subscription"
If the proposal in #323 is implemented, we can also implement an optimization of reading content from a channel only on subscription of content (`ObservableConnection.getInput()`, `HttpClientResponse.getContent()` and `HttpServerRequest.getContent()`).

This will optimize memory usage and also eliminate the requirement of caching when lazy subscriptions are required (as the content is not read fro

[2015-02-03 06:51] NiteshKant commented on #323
#324 also proposes a way with which enforcing "eager" subscriptions may not be required if we can delay read till the content is subscribed.

[2015-02-04 18:41] NiteshKant opened #325 "Move remote-observables to a separate project"
[remote-observables](https://github.com/ReactiveX/RxNetty/tree/0.x/rxnetty-remote-observable) as a concept is worthy of a separate project so that it can move irrespective of the release cycles of RxNetty.

The proposal here is to move it as a separate project under [io.reactivex](https://github.com/ReactiveX) org.

[2015-02-04 20:11] imperatorx commented on #318
I'm witnessing the opposite behaviour with ServerSentEvents:
- On 0.4.4 the final onComplete event is not passed to the response object to signal the end of the event flow (clien never receives onComplete), if I'm not using the event loop thread.
- On 0.4.5-rc.2 I can use any Scheduler and It works fine.

[2015-02-05 21:21] rstoyanchev opened #326 "Possible issue in HttpServerResponse.writeOnChannel"
The code on this line https://github.com/ReactiveX/RxNetty/blob/1d4795b31c1c307f74145bcb2ba0f81732bacf8c/rxnetty/src/main/java/io/reactivex/netty/protocol/http/server/HttpServerResponse.java#L189 looks like a sure ClassCastException. Given the if condition on line 169, at this point shouldn't msg be an instance of HttpServerResponse?

I can't confirm the issue since I can't quite see how msg could

[2015-02-09 07:13] NiteshKant commented on #326
Thanks @rstoyanchev for reporting the issue.
Looks like this is dead code and will never be executed. The code was trying to optimize multiple writes for zero-length content responses but it looks like it does not get executed in that case too.
I will remove the code.

[2015-02-09 07:14] NiteshKant commented on #321
@imperatorx Can I close this issue if it works on 0.4.5?

[2015-02-09 18:15] imperatorx commented on #321
Yes, thank you. The leak is gone in 4.5.

[2015-02-09 18:51] #321 closed, assigned to nobody

[2015-02-12 20:25] NiteshKant opened #331 "Rename `ObservableConnection` to `Connection`"
The name `ObservableConnection` is pedantic as everything is `Observable` in RxNetty!

Also, make `Connection` as an abstract class and have `PooledConnection` and `UnpooledConnection` as two implementations.
The current inheritance model for `PooledConnection` from `ObservableConnection` can then be replaced by delegation.

[2015-02-15 19:56] obourgain opened #332 "Losing requests ?"
Hello,

Using the code from this gist : https://gist.github.com/obourgain/36d24dbb5ee486d63a16
that tries to send 10k request to a server, I only get a variable part of those requests to even make it to the server.
I wonder if RxNetty (or maybe Netty) may have some race condition or if I am using it wrong ?

This is not related to open connection limitation as those are correctly failing.

I teste

[2015-02-16 09:43] obourgain commented on #332
Whoups, I was reusing the same request object every time, but after a quick look at its source, it is not thread safe.

[2015-02-16 09:43] #332 closed, assigned to nobody

[2015-02-17 00:54] aliubimov opened #333 "Memory overflow when on publisher faster than Netty subscriber"
Hi,

I've write simple server that publishing numbers to network.

[code]

As client I am using simple Unix nc: `nc 192.168.1.2 4555 > out.

Client reach about 1-2m messages and stops execution. At this time server starts aggressive garbage collection.

[code]

I think flatMap cause overload of IndexedRingBuffer, however I am not able to figure out why this happens and why netty stops sending data

[2015-02-18 01:15] aliubimov commented on #333
Looks like issue caused by improper usage of RxNetty by my application.

[2015-02-18 07:55] NiteshKant commented on #333
@aliubimov Thanks for reporting the issue. Yeah it does look like `flatmap` buffer bloat, possibly due to lot of `flush()` pending. Here is a mission control screenshot showing the same:

![image](https://cloud.githubusercontent.com/assets/820005/6243803/5e10eb28-b6fe-11e4-8a0e-634139ae263c.png)

`SpscArrayQueue` is used by `RxRingBuffer` used in `flatmap`. However, as you mentioned, it is because

[2015-02-18 16:14] aliubimov commented on #333
Hi,

You are right, it is probably due to lot of `flish()` for small messages. There is ab netty bug report for this https://github.com/netty/netty/issues/1759

[2015-02-19 18:38] hzariv opened #335 "io.netty.util.IllegalReferenceCountException: refCnt: 0 in HttpSseClient example"
I wanted to print the data received from ServerSentEvent so I added the following line in HttpSseClient example to print out the data but after printing the first event content, I get IllegalReferenceCountException. There seems to be a race condition that data ByteBuf is released before my println.

for (ServerSentEvent event : eventIterable) {
            System.out.println(event.contentAsString(

[2015-02-20 18:55] NiteshKant commented on #335
@hzariv The problem here is that you are accessing the event content outside of the Observable chain. `ServerSentEvent` is a `ByteBufHolder` and gets released as soon as the `onNext` receiving the item returns ( more details on issue #264 ) .
If you want to access the content outside the chain, you should do a `.retain()` on the event in the chain and then release it once you have read.

[2015-02-23 10:37] s-urbaniak opened #336 "When using RxNetty as a proxy content is lost under moderate load"
Hi,

First thanks a lot for the great project! We are evaluating RxNetty for using in production but are experiencing lost content during fan-in under moderate load in conjunction with connection pooling.

This issue does not happen when I disable connection pooling.

Our use case is pretty simple: One incoming request causes a few fan-out requests which are then combined to a response. More concr

[2015-02-23 14:20] s-urbaniak commented on #336
Hello,

I have some more tracing. It seems that the request in-flight gets a PoolRelease event due to the completion of a previous client response in the very same client eventloop thread.

The first PoolRelease event is (correctly) caused by the completion of the previous ResponseState and is also causing (wrongly) the unsubscription of the following request.

[code]

I recognized that the respon

[2015-02-24 12:02] s-urbaniak commented on #336
Hello,

I guess I discovered the bug which was fixed in 6d13b3f0de25832760855a30411f604ef25e5c02 ;-)

Sorry, I just realized the fix while wandering through ClientRequestResponseConverter's source code.

We will retest with version 0.4.6.

[2015-02-24 20:49] elandau opened #337 "Interceptor API proposal"
The following proposal addresses the need for an interceptor/filter model that can allow requests and responses to be replaced, modified or hooked into.  Use cases of interceptors include logging, caching, request augmentation (such as adding HTTP headers) and Hystrix.  This implementation assumes that request execution can be modeled as a `Func1<Request, Observable<Response>>`.  Interceptors are

[2015-02-25 06:29] NiteshKant commented on #336
@s-urbaniak apologies for the late reply on this.

Yep, your symptoms did sound like the fix I made in that commit. Lemme know if you find the same issue with 0.4.6

[2015-02-25 18:51] s-urbaniak commented on #336
Hi,

No problem, we reran our tests and did not experience any more races.

Thanks!
Sergiusz

[2015-02-25 18:51] #336 closed, assigned to nobody

[2015-02-26 19:58] NiteshKant commented on #337
Thanks @elandau !

Adding context from the [0.5.0](https://github.com/ReactiveX/RxNetty/milestones/0.5.0) issue #303

Kind of yes, this is the API:

`HttpClientRequest<I, O> createGet(String uri)` where `HttpClientRequest` is an extension to `Observable`, such as

[code]

So, I can think of these interceptors as part of the `HttpClientRequest`, eg:

[code]

In this way chaining is implicit (order

[2015-02-26 19:59] NiteshKant commented on #286
#337 is where we are discussing interceptors (filters)

[2015-03-09 02:06] futurely opened #338 "Support HTTP/2"
HTTP/2 has been [finalized last month](https://www.google.co.in/?gws_rd=ssl#newwindow=1&q=http%2F2+finalized) and Netty has already implmented [the protocol](https://github.com/netty/netty/tree/master/codec-http2) and [an example](https://github.com/netty/netty/tree/master/example/src/main/java/io/netty/example/http2).

[2015-03-10 22:44] NiteshKant commented on #338
@futurely Yes it will be provided in 0.5.x.
Since, there are plenty of big changes in 0.5.x, I am currently [finishing those up](https://github.com/ReactiveX/RxNetty/milestones/0.5.0) before I can start implementing the HTTP/2 support.

Do you have a usecase for HTTP/2?

[2015-03-10 22:44] #335 closed, assigned to nobody

[2015-03-10 23:03] NiteshKant opened #340 "Discuss use of `ServerList` for Clients"
Pre [0.5.0](https://github.com/ReactiveX/RxNetty/milestones/0.5.0) clients in RxNetty were tied to a specific host and port. With the API changes proposed in #303 and #317 a single HTTP/TCP client can be used for multiple host + port.
The existing API, forced higher level abstractions to be created on top of RxNetty like [ribbon](https://github.com/Netflix/ribbon) to make it usable in a real-world

[2015-03-10 23:14] NiteshKant commented on #340
There are multiple approaches for designing this API and the primary decision point would be whether the interaction with the server list will be asynchronous or synchronous.

Before discussing the API, I think it is important to understand that getting a server from this list, should always have an immediate result. There isn't much reason for this list to **wait** for a server to be available. D

[2015-03-10 23:20] jsmodic commented on #292
I'll add that I've had issues compiling against Karyon's Jersey module for this same issue. It invites you to extend a class that has ByteBuf generics (though my own code does not), and then compilation fails for the lack of RxNetty at compile time. So you may not even be aware RxNetty is involved in that project until you get those seemingly bizarre compile errors.

[2015-03-10 23:21] codefromthecrypt commented on #340
seems a little abstract though, right? Is there nothing that could tighten up this context? Originally, I was thinking a 3 tuple like alt-svc of (authority, protocol, socket) as an element of the list. also ServerList is probably not the best name as it isn't a list :)

next() ~ Iterator
choose() ~ Choice

[2015-03-10 23:33] codefromthecrypt commented on #340
oh wait. serverlist scope is authority, so I suppose any structure doesn't need to also pass its authority.

[2015-03-11 02:49] futurely commented on #338
Yes, I want to exploit the server push capability of HTTP/2. WebSocket used to be the de facto choice to implement persistent connection based push notification services. For example, AeroGear implemtend Mozilla's [SimplePush protocol](https://wiki.mozilla.org/WebAPI/SimplePush/Protocol) with [WebSocket](https://github.com/aerogear/aerogear-simplepush-server). Recently, Mozilla has proposed a new

[2015-03-11 05:30] NiteshKant commented on #340
Apologies for the lack of context. So, here is how I intend this to be used:

[code]

Inside the Tcp client, assuming `ServerList` returns a `Observable<SocketAddress>` with the async API , `createConnectionRequest()` will be implemented like:

[code]

(Above is just a representation, not a functional code.)

So, `ServerList` in this case is just the socket information and not related to protocol

[2015-03-11 05:31] NiteshKant commented on #340
\cc @elandau @benjchristensen

[2015-03-11 05:37] NiteshKant commented on #338
Thanks @futurely for the context.

We at Netflix, are looking at HTTP/2 to be used as the default for our IPC stack and that is the reason for me to backport netty's HTTP/2 implementation from 5.x to 4.x. Netty 4.1 was recently released with HTTP/2.

We are totally invested in providing HTTP/2 support, I would expect it to be available sometime in April.

[2015-03-11 05:43] futurely commented on #338
Thanks! I will experiment with RxNetty WebSocket based push servers before HTTP/2 is in place.

[2015-03-23 17:34] NiteshKant commented on #331
Done in 0.5.x branch.

[2015-03-23 17:34] #331 closed, assigned to NiteshKant

[2015-03-23 17:35] NiteshKant commented on #323
Done on 0.5.x branch.

[2015-03-23 17:36] NiteshKant commented on #324
Done on 0.5.x

Content will be read automatically from the channel, if `Channel` is set to `autoRead`. If `autoRead` is not set to true, then the content will only be read on subscription, honoring backpressure from the subscriber.

[2015-03-23 17:36] #324 closed, assigned to NiteshKant

[2015-03-23 17:37] #323 closed, assigned to NiteshKant

[2015-03-23 17:38] NiteshKant commented on #317
This is available on 0.5.x branch

[2015-03-23 17:38] #317 closed, assigned to NiteshKant

[2015-03-23 17:39] NiteshKant commented on #264
The changes in 0.5.x do not auto-release the `ByteBuf`. I intend to add an operator that can enable auto-release if added to the content stream.

[2015-04-08 09:54] Crystark commented on #292
+1
This `runtime` scope defeats the purpose of using something like maven.
I wanted to create some standalone server to test out RxNetty and RxJava so here's what I tried to do:

[code]

But i end up needing to add some dependencies I almost shouldn't even care about:

[code]

I added those two cause they are the top level under my dependencies and hopefully all their dependencies are using the `c

[2015-04-09 06:08] yurgisbaykshtis opened #344 "ReadTimeout is not respected by the client reusing a pooled connection"
Here is the unit test for io.reactivex.netty.protocol.http.client.HttpClientPoolTest.java

Seems like a major issue to me - leads to the scenario when request to a dead/non-responding server could be stuck forever.

[code]

[2015-04-09 07:03] yurgisbaykshtis commented on #344
The root cause of the issue seems to be in ReadTimeoutHandler where ReadTimeoutTask is never rescheduled after destroy() call. I guess that was supposed to happen in handlerAdded()/initialize() call chain, but due to state == 2 is not working (possibly introduced by https://github.com/netty/netty/issues/143).
It is not clear what would be a proper fix.

[2015-04-11 09:02] thaggie opened #345 "IllegalReferenceCountException when using RxNetty 0.4.8 with HttpContentDecompressor"
I'm using the HttpContentDecompressor to be able to work with compressed data, I use a pipeline configurator (as below) and then set `request.withHeader("Accept-Encoding", "gzip, deflate");` when making a request.

This is working in **0.4.6** but when I try to upgrade to **0.4.8** I get an IllegalReferenceCountException (full stack below).

I can't really see what I'm doing wrong (if anything) -

[2015-04-12 16:58] futurely commented on #337
The most popular RESTful API specification Swagger implemented REST over WebSocket using the [Atmosphere interceptor](https://github.com/swagger-api/swagger-socket/search?q=interceptor&type=Code&utf8=%E2%9C%93). Considering that Atomosphere was one of [the fianlists of the Most innovative Java Technology of the JAX Innovation Awards 2014](http://jaxenter.com/community-voting-now-open-for-the-jax-i

[2015-04-13 13:41] kevinconaway commented on #292
Adding a +1 for this issue to be addressed as well.

I had the same problem (and resolution) as @Crystark.  Dependencies like (`rx.Observable` and `io.netty.buffer.ByteBuf`) that are part of the public API should be included in the _compile_ scope so that the end user does not have to track down what internal dependencies RxNetty needs

[2015-04-14 06:30] NiteshKant commented on #344
@yurgisbaykshtis thanks for reporting the issue and apologies for the delayed response.

Yes, indeed your analysis is correct and the reason looks like that the `ReadTimeoutHandler` does not support `handlerAdded` -> `handlerRemoved` -> `handlerAdded` cycles. It also does not support extending the handler to modify this behavior. Let me think more about this.

[2015-04-14 06:37] NiteshKant commented on #345
@thaggie apologies for the delayed response.

Could be, I do not particularly use the decompressor in any usecase so am not sure if this is a regression or not.
Can you provide a complete reproducer (client & server) so that I can reproduce this locally?

[2015-04-14 21:10] ghost commented on #345
In the form of a PR with a unit test?

[2015-04-14 21:20] NiteshKant commented on #345
@thaggie PR would be great!

[2015-04-15 01:30] david-j-peterson opened #347 "reading content inside request handler blocks"
This contrived simple request handler will block forever:

[code]

But changing it to:

[code]

works - the POST'ed data will get printed out.

This may be related to an actual problem I'm having trying to write a transparent proxy using RxNetty. The following also seems to hang - or at least the submitted HttpClientRequest is never executed when there is POST'ed data.

[code]

However the above c

[2015-04-15 04:38] ashley-taylor opened #348 "SSL causes exception to be thrown on every request in VoidChannelPromise"
Sample code to recreate exception

[code]

[code]

Cheers,
Ashley

[2015-04-15 06:31] NiteshKant commented on #347
The first example (`ContentReader`) hangs because you are blocking the eventloop when you do this:

[code]

Since, the eventloop is blocked, you will never receive any more data on that channel (and any other channel served by that eventloop)

Yes, the reason why the proxy code fails for requests with content is that because RxNetty expects users to eagerly subscribe to the content. In the proxy c

[2015-04-15 06:47] NiteshKant commented on #348
@ashley-taylor Thanks for reporting the bug.

The complete error log is:

[code]

It is an error while publishing metrics and the error says:

`Failed to publish bytes write metrics event. This does *not* stop the pipeline processing.`

So, it is really a harmless error.

The error is happening because the `write` call is getting an empty `ByteBuf` with a `VoidPromise` that does not allow adding l

[2015-04-15 07:00] NiteshKant commented on #344
I did not notice that @jjteo74 has provided a PR #346 to fix this.

[2015-04-15 07:01] thaggie commented on #345
I've tried this against the 0.4.6 tag and it passes.

[2015-04-15 07:13] NiteshKant commented on #347
@nrdavid I am closing this, if you think that this is a bug, reopen.

[2015-04-15 07:13] #347 closed, assigned to nobody

[2015-04-15 15:13] brharrington commented on #345
We use the gzip decompressor and haven't seen this issue. It looks like the main difference is instead of appending we create a composite and explicitly set the configurator:

[code]

It does seem like append should work though.

[2015-04-16 16:10] thaggie commented on #345
That works for me.

[2015-04-16 17:06] NiteshKant commented on #345
Great! thanks @brharrington!

[2015-04-16 17:06] #345 closed, assigned to nobody

[2015-04-23 07:01] chen56 opened #351 "FileRequestHandler : file not close"
the file object(RandomAccessFile raf) not close.